extends ../../module_player_layout


block content
    //- button.ui.icon.button.m.left.right#volume-up-button
    //-     i.volume.up.icon
    .loading-screen-container(id="loadingScreen") 
        .ui.active.inverted.dimmer
            .ui.active.blue.large.elastic.loader 
            h1 Loading...
    .display-page.hidden
        include challenge/intro.pug
        include challenge/quiz.pug
        include challenge/badge.pug
    //- load first audio for page user is on then update the audio for each page in identity-theft.js file
    audio(id="narration-audio", src=`https://dart-store.s3.amazonaws.com/identity+theft+voice+over/${section}/${page}_${user.avatar.toLowerCase()}.mp3`, preload="auto", onended="disableNarrationPlayButton()")

    //- audio(id="narration-audio", src=`https://dart-store.s3.amazonaws.com/identity+theft+voice+over/challenge/intro_${user.avatar.toLowerCase()}.mp3`, preload="auto")
block styles 
    link(rel='stylesheet', href='/css/identity-theft.css')
    link(rel='stylesheet', href='/css/learning-targets.css')
    link(rel='stylesheet', href='/css/middle-aligned-layout.css')
    link(rel='stylesheet', href='/css/dart_quiz.css')  


block scripts      
    script.
        //- send as json with all avatars speech marks
        var speechData = "none"; // quizData is passed to pug file via render function in app.js

        //- var speechData= !{JSON.stringify(speechMarks)}; // quizData is passed to pug file via render function in app.js
        var avatar = "#{user.avatar.toLowerCase()}";
        var module = "#{module}";
        var section = "#{section}";
        var startPage = "#{page}"; 
        var total = parseInt(#{numPages});
        //- for quiz
        var questionData = !{JSON.stringify(quizData)}; // quizData is passed to pug file via render function in app.js
        var currentTime = "#{currentTime}";
        var currentDate = "#{currentDate}";
        //- var futureDate = "#{futureDate}"; 
        var email = "#{user.email}";
        var username = "#{user.name}";
        var current_percent = 10;
        var link = "/course-player?module=tech&section=challenge&page=badge";
    script.
        window.addEventListener('load', function() {
            // Simulate a delayed loading process for demonstration
            //- setTimeout(function() {
                var loadingScreen = document.getElementById('loadingScreen');
                //- if (loadingScreen) {
                //-     loadingScreen.remove(); // Completely remove the loader when everything is loaded
                //- }
                loadingScreen.style.display = 'none'; // Hide the loader when everything is loaded

                var revealMe = document.querySelector('.display-page');
                revealMe.classList.remove('hidden'); // Show the content when everything is loaded
                pageLoaded = true;
            //- }, 6000); 
        });
        
    script(src='/module_js/module_quiz.js', mod-id=module, page=page, current-section=section, next-link=link, progress=progress)
    script(src='/module_js/module-narration.js')    

    //- included after so can use variables like pastAttempts when loading the quiz page to decide wether it show previous results or question 1
    script(src='/module_js/tech/tech.js')    


        //- startQuiz()
    //- console.log("Page is quiz-template")
    //- console.log("module: " + module)
    //- console.log("section: " + section)
    //- console.log("page:" + page)
    //- console.log("numPages: " + numPages)
        
        //- script(src='/module_js/dart_quiz.js', mod-id=modID, page=page, current-section=currentSection, next-link=nextLink, progress=progress)