extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.esteemTopic[user.esteemTopic.length - 1];
  
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflexión
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Comenzar
          .ui.basic.segment.reflectionPromptSegment.hidden.noPadding.selectPostsQuestion1  
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon.yellowIcon
                | Aquí hay algunas publicaciones que podrían haber causado que 
                | Jeremy experimente una sensación de alerta roja, ¿notaste alguna 
                | de ella?
            h3.grayElement
              i.hand.pointer.icon
              | Dale clic a las que notaste!
            .ui.stackable.three.cards.selectablePosts
              
              if (chosenTopic == 'Deportes')          
                .ui.fluid.card.dim
                  .content      
                    a.left.floated(href='/user/sassystar75')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user53.jpg')
                      span='Brielle Jordan'
                  .image
                    img.post(src=cdn+'/post_pictures/bigmatch_se.jpg')
                  .content
                    .description
                      | Viendo el partido con mi mejor amiga!!
                      span.grayText
                        |  — with Hayden Abbey
                .ui.fluid.card.dim
                  .content      
                    a.left.floated(href='/user/sassystar75')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user53.jpg')
                      span='Brielle Jordan'
                  .image
                    img.post(src=cdn+'/post_pictures/tryouts_se.jpg')
                  .content
                    .description
                      | Wow, no puedo creer que soy la única que ha llegada a
                      | la segunda vuelta de las pruebas para el equipo fútbol
                      span.grayText
                        |  — with Hayden Abbey, Jeremy Murray, and Corey King
                      
              if (chosenTopic == 'Gaming')  
                .ui.fluid.card.dim
                  .content      
                    a.left.floated(href='/user/asherballer')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user48.jpeg')
                      span='Asher Michaels'
                  .image
                    img.post(src=cdn+'/post_pictures/computer-game_se.jpg')
                  .content
                    .description
                      | Totalmente ganándole a todos
                      span.grayText
                        |  — with Lindsay Stokes and Asher Michaels
                .ui.fluid.card.dim
                  .content      
                    a.left.floated(href='/user/asherballer')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user48.jpeg')
                      span='Asher Michaels'
                  .image
                    img.post(src=cdn+'/post_pictures/nintendo_se.jpg')
                  .content
                    .description
                      | Jugando online con mi mejor amigo  
                      span.grayText
                        |  — with Lindsay Stokes  
                      
              if (chosenTopic == 'Music')
                .ui.fluid.card.dim
                  .content     
                    a.left.floated(href='/user/frank-the-best')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user10.jpg')
                      span='Franklin Robinson' 
                  .image
                    img.post(src=cdn+'/post_pictures/concert-crowd_se.jpg')
                  .content
                    .description
                      | Te extrañamos al concierto Jeremy!!
                      span.grayText
                        |  — with Kiki Pualani
                .ui.fluid.card.dim
                  .content      
                    a.left.floated(href='/user/frank-the-best')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user10.jpg')
                      span='Franklin Robinson' 
                  .image
                    img.post(src=cdn+'/post_pictures/bestguitar_se.JPG')
                  .content
                    .description
                      | Invitando los mejores músicos del campamento para 
                      | hacer una canción juntos. 
                      span.grayText
                        |  — with Kiki Pualani and Nick Thomas
          
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Siguiente
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q1')
                  | ¿Por qué estas publicaciones podrían haber causado en Jeremy una 
                  | sensación de alerta roja?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="literacy_responseOne")
                    
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Siguiente
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q2')
                  | ¿Recuerdas haber visto publicaciones que podrían haber hecho
                  | que Jeremy se sintiera bien? ¿Qué tipo de publicaciones eran?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="literacy_responseTwo")
                  
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Siguiente
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q3')
                  | ¿Qué podría hacer Jeremy para sentirse mejor después de experimentar
                  | una sensación de alerta roja en las redes sociales?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="literacy_responseThree")

    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Comenzar"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Siguiente"
    //- include ../partials/optInToShareActivityData.pug
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Imprimir tus respuestas
    br
    br
    .ui.big.labeled.icon.button.resultsContinueButton
          i.rocket.icon
          |   Hacer la encuesta

      
block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['CUSML.1.9.1.mp3']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.1.9.2.mp3']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.1.9.3.mp3']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.1.9.4.mp3']
      }
    };
  script(src="/module_js/esteem/esteem_results.js")
  script(src='/module_js/base_results.js?v=1')
  script(src='/module_js/voiceover.js')
  
  
block styles 
  link(rel='stylesheet', href='/css/results.css')
  //- link(rel='stylesheet', href='/css/optInToShareActivityData.css')
