
extends ../ui_layout-esp
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p Asegúrate de que estás haciendo clic en "¡Entendido!" en los puntos azules!
          
        .ui.icon.message.warning#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header ¡Todavía quedan puntos azules por encontrar!
            p Haz clic en todos los puntos azules para seguir.
    .ui.fluid.card.test#step1
          .content#hint1
            .right.floated.meta= "Ayer"
            |
            a(href='/user/ngarcia02')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user58.jpg')
              span='Natalia García'
          .image
            img.post(src=cdn+'/post_pictures/theater.jpg')
          .content
            .description#hint2=`Viendo AVENGERS con Diego`
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user69.jpg')
                .content
                  a.author Ana Lopez
                  .metadata
                    span.date Hace 5 horas
                    .rating
                      i.heart.icon
                      span.num=3
                      |  Me gusta
                  .text()
                    | ¡¡que te diviertas!!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user48.jpeg')
                .content
                  a.author Alejandro Martinez
                  .metadata
                    span.date Hace 5 horas
                    i.heart.icon
                    span.num=3
                    |  Me gusta
                  .text()
                    | Oye, me gustó esa película
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon


    .ui.fluid.card.test
          .content
            .right.floated.meta= "Hace 15 minutos"
            |
            a(href='/user/gaby82')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user62.jpg')
              span='Gabriela Diaz'
          .image
            img.post(src=cdn+"/post_pictures/bdance_se.jpg")
          .content
            .description="Quiero bailar así algun día"

          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user64.jpg')
                .content
                  a.author Samantha Bautista
                  .metadata
                    span.date Hace 1 minuto
                    i.heart.icon
                    span.num=0
                    |  Me gusta
                  .text()
                    | chido
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
              
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
                
    .ui.fluid.card.test
          .content#hint3
            .right.floated.meta= "Hace 15 minutos"
            |
            a(href='/user/paredes_pris')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user38.jpg')
              span='Priscilla Paredes'
          .image
            img.post(src=cdn+"/post_pictures/goldengate.jpg")
          .content#hint5
            .description#hint3A
              | ¿sabes qué? ¡Mi mamá me acaba de decir que iremos
              | a California en julio! AAAAHHHH!!!!

          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user7.jpg')
                .content
                  a.author Laura Ochoa
                  .metadata
                    span.date Hace 1 minuto
                    i.heart.icon
                    span.num=0
                    |  Me gusta
                  .text()
                    | ¡¡¡¡Eso es tan increíble!!!!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user23.jpg')
                .content
                  a.author Carolina Jara
                  .metadata
                    span.date Hace 1 minuto
                    i.heart.icon
                    span.num=0
                    |  Me gusta
                  .text()
                    | Llévame contigo😭
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
    
    .ui.fluid.card.test
          .content
            .right.floated.meta= "Hace 15 minutos"
            |
            a(href='/user/juan_el_tren')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user39.jpg')
              span='Juan Morales'
          .image
            img.post(src=cdn+"/post_pictures/rbxcube_se.jpg")
          .content
            .description#hint4
              | Rompí mi récord por 1.6 segundos

          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user24.jpg')
                .content
                  a.author Milagros Cardenas
                  .metadata
                    span.date Hace 1 minuto
                    i.heart.icon
                    span.num=0
                    |  Me gusta
                  .text()
                    | ¡Enséñame a hacerlo también!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user25.jpg')
                .content
                  a.author María Soto
                  .metadata
                    span.date Hace 1 minuto
                    i.heart.icon
                    span.num=0
                    |  Me gusta
                  .text()
                    | eso se ve tan difícil
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
    //-#######################
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(Style="margin-bottom:4em;")
          i.rocket.icon
          |   ¡Continuemos!
          
  .ui.small.long.modal#esteem_post_modal
    i.close.icon  
    .content
      .ui.styled.fluid.accordion
        .active.title
          i.dropdown.icon
          |  ¿Cómo podría sentirse Ricardo si viera este post? (Marca todas las que apliquen.)
        .active.content
          
          .ui.form
            .ui.grid
              .eight.wide.column
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Contento
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Ilusionado
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Triste
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Celoso
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Animado
              .eight.wide.column
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Ansioso
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Enojado
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Avergonzado
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Empático
                .field
                  .ui.checkbox
                    input(type='checkbox')
                    label Neutral
          br
          .button.ui.mini.green.right.labeled.icon.button#nextButton
            i.down.arrow.icon
            | Seguir      
        .title#modSection2
          i.dropdown.icon
          |  ¿Qué podría hacer Ricardo para sentirse mejor?
        .content
          .ui.form
            .field
              .ui.checkbox
                input(type='checkbox')
                label Hablar con otros amigos en las redes sociales
            .field
              .ui.checkbox
                input(type='checkbox')
                label Apoyar a su amigo dejando un comentario
            .field
              .ui.checkbox
                input(type='checkbox')
                label Expresar sus sentimientos a su(s) amigo(s)
            .field
              .ui.checkbox
                input(type='checkbox')
                label Hacer una actividad que le guste
            .field
              .ui.checkbox
                input(type='checkbox')
                label Pasar tiempo con amigos y familiares sin conexión
            .field
              .ui.checkbox
                input(type='checkbox')
                label Tomar un descanso de los medios sociales
            .field
              .ui.checkbox
                input(type='checkbox')
                label Hacer otra cosa
    .actions
      .ui.positive.right.labeled.icon.button
        | Listo
        i.checkmark.icon          
      

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/esteem-esp/esteem-esp_sim.js")
  script(src="/module_js/base_sim-esp.js")
  
block styles
  link(rel='stylesheet', href='/css/sim.css')
