
extends ../ui_layout-esp
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.addBottomMargin
    .ui.fluid.card.test#step1
      .content
        .right.floated.meta= "Ayer"
        |
        a(href='/user/triple-amenaza')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user14.jpg')
          span='Sara Segovia'
      .image
        img.post(src=cdn+'/post_pictures/kidbday_se.jpg')
      .content
        .description=`celebrando el cumpleaños de mi hermanito! <3`
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Me gusta
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user35.jpg')
            .content
              a.author Lucía Hernández
              .metadata
                span.date Hace 5 horas
                i.heart.icon
                span.num=3
                |  Me gusta
              .text()
                | Tan lindo !!
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user50.jpg')
            .content
              a.author Ana Lucia Sánchez
              .metadata
                span.date Hace 5 horas
                i.heart.icon
                span.num=3
                |  Me gusta
              .text()
                | ¿Cuándo fue esto? jaja
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribir un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.test#step2
      .content
        .right.floated.meta= "Hace 15 minutos"
        |
        a(href='/user/danielperez06')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user67.jpg')
          span='Daniel Perez'
      .image
        img.post(src=cdn+"/post_pictures/hang_se.jpg")
      .content
        .description="pasando el tiempo en el centro comercial"

      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Me gusta
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user71.JPG')
            .content
              a.author Andrés Torres
              .metadata
                span.date Hace 1 minuto
                i.heart.icon
                span.num=0
                |  Me gusta
              .text()
                | Tiempos divertidos
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
      
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribir un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.test.addBottomMargin#step3
      .content
        .right.floated.meta= "Hace 15 minutos"
        |
        a(href='/user/masplayamenospreocupaciones')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user33.jpg')
          span='Paulo Silva'
      .image
        img.post(src=cdn+"/post_pictures/beachy.jpg")
      .content
        .description="de vacaciones en florianópolis con la familia 🏝️"

      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Me gusta
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user40.jpg')
            .content
              a.author Susana Tapia
              .metadata
                span.date Hace 1 minuto
                i.heart.icon
                span.num=0
                |  Me gusta
              .text()
                | ¡¡Qué hermosa !! 🌺
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user68.jpg')
            .content
              a.author Jorge Romero
              .metadata
                span.date Hace 1 minuto
                i.heart.icon
                span.num=0
                |  Me gusta
              .text()
                | 😎
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribir un comentario')
          i.big.send.link.icon
      
    .ui.fluid.card.test.addBottomMargin#step3B
      .content
        .right.floated.meta= "Hace 15 minutos"
        |
        a(href='/user/dannyboii-esp')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user37.jpg')
          span='Daniel Melendez'
      .image
        img.post(src=cdn+"/post_pictures/emotional_se.jpg")
      .content
        .description 
          | Malazo que no me hayan invitado a la fiesta. Supongo que ahora sé 
          | quiénes son mis verdaderos amigos.
        
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Me gusta
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user48.jpeg')
            .content
              a.author Alejandro Martinez
              .metadata
                span.date Hace 1 minuto
                i.heart.icon
                span.num=0
                |  Me gusta
              .text()
                | wow, lo siento, amigo
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribir un comentario')
          i.big.send.link.icon
                
               
                 
    .ui.fluid.card.test#step4
      .content
        .right.floated.meta= "Hace 15 minutos"
        |
        a(href='/user/anape244')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user5.jpeg')
          span='Ana Pereira'
      .image
        img.post(src=cdn+"/post_pictures/joy_se.jpg")
      .content
        .description="mi consigna"

      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Me gusta
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user60.jpg')
            .content
              a.author Noelia Díaz
              .metadata
                span.date Hace 1 minuto
                i.heart.icon
                span.num=0
                |  Me gusta
              .text()
                | bueno
              .actions
                a.comment.like Me gusta
                a.comment.flag Reportar
          
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribir un comentario')
          i.big.send.link.icon
  //-#######################
    

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/esteem-esp/esteem-esp_tutorial.js")
    
