
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid
      .ui.fixed.bottom.sticky(style='z-index:10000000;')
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help?
            p Scroll up and click "Next" to begin!
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
        .ui.icon.message.warning#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
        .ui.message.warning#clickArticleLinkWarning
          i.close.icon
          .content
            .ui.header Click on an article before you continue.
            

        
    #step1.ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
              span='Sam Hill'
      .img.post        
        img(src=cdn+'/post_pictures/infolitguided1.png')

      .content.newsArticleTitleContainer#hint1
          .read.rounded.right.floated.info_button(id="info_guide_1")
            i.info.icon
          a.articleLink
            | WASHINGTON-POSST.COM.CO &nbsp; &nbsp;
          .header#hint2
            | The 15 SHOCKING foods that will cause a heart attack !!   
      .extra.content
          p              
          .description="You'll never guess what these are!!!"
      .four.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.share.button(tabindex='0')
          i.share.icon
          |                             Share
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment(commentid='5bbd01d88a48061a73337b96')
            a.avatar
              img(src=cdn+'/profile_pictures/user66.jpeg')
            .content
              a.author Emma Hanson
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text omg this is really scary
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+ user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user54.jpg')
              span='Ariel Simon'
      .img.post
        img(src=cdn+'/post_pictures/infolitguided2.png')
      .content.newsArticleTitleContainer
          .read.rounded.right.floated.info_button(id="info_guide_2")
            i.info.icon
          a.articleLink#article1
            | WWW.NYTIMES.COM
          .header Mass Migration of Painted Lady Butterflies Entrances Californains   
      .extra.content
          p              
          .description="The orange butterflies, called painted ladies, are known to travel annually from the deserts of Southern California to the Pacific Northwest."
      .four.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.share.button(tabindex='0')
          i.share.icon
          |                             Share
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user24.jpg')
            .content
              a.author Jenny Chen
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text So beautiful🦋😍
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon


    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user33.jpg')
              span='Sean Gomez'
      .img.post
        img(src=cdn+'/post_pictures/infolitguided4.jpg')
      .content.newsArticleTitleContainer
        .read.rounded.right.floated.info_button(id="info_guide_4")
          i.info.icon
        a.articleLink#article1
          | CNN-LOCAL8.COM.CO &nbsp; &nbsp;
        a#hint3(href='#')
        .header Missouri Teen's House Burns Down After Fidget Spinner Catches Fire   
      .extra.content
          p              
          .description="Police received a distress call from the 13 year old Jonathon Engelbert, of Kansas City, MO, late yesterday night. Reports say that the teen's battery powered fidget spinner caught fire and burned their house down."
      .four.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button#hint4(tabindex='0')
          i.flag.icon
          |                             Flag
        //-.span()          
        .ui.share.button(tabindex='0')
          i.share.icon
          |                             Share
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user74.jpg')
            .content
              a.author Ryan Freyer
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text omg i can't believe this really happened !!
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

    .ui.warning.message#clickAllDotsWarning
      .header
        | Click through all of the blue dots to continue
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(style="margin-bottom:4em;")
        i.rocket.icon
        |   Let's Continue!


    //- Info Lit Flag Modal  
    .ui.small.info.flag.modal(data-modalName="digital-literacy_flagModal")  
      i.close.icon  
      .header You've flagged this article! Do you think there are any signs of fake news? [check multiple]  
      .content
        .ui.form 
          .inline.field
            .ui.checkbox
              input(type='checkbox')
              label The article had a shocking and exaggerated headline.
          .inline.field
            .ui.checkbox
              input(type='checkbox')
              label The article used sensational images.
          .inline.field
            .ui.checkbox
              input(type='checkbox')
              label The article had an unusual web address or site name.
          .inline.field
            .ui.checkbox
              input(type='checkbox')
              label The article had spelling errors, ALL CAPS, or dramatic punctuation!!!!
          .inline.field
            .ui.checkbox
              input(type='checkbox')
              label I didn't see any signs. This could be a real news article. I’m flagging it for another reason
      
      .actions
        .ui.positive.right.labeled.icon.button
          | Submit
          i.checkmark.icon
    //- View Next Steps Modal      
    .ui.small.modal#next_steps(data-modalName="digital-literacy_articleModal")  
      i.close.icon  
      .header You've clicked on this article! Let's explore some things you could do next. 
      .content
          .ui.styled.fluid.accordion
            .title
              //- .ui.fitted.large.checkbox
              //-   input.ui(type="checkbox", checked="")#check
              i.dropdown.icon
              |     Read the full article
            .content
              p.transition.hidden
                | Look out for unbelievable claims or wild images. Check for spelling or grammar mistakes, too!
            .title
              i.dropdown.icon
              |     Check out the website this article is from
            .content
              p
                | If the website is not part of a credible news, academic, or governmental organization, this is a sign the article might not be trustworthy.
            .title
              i.dropdown.icon
              | Fact-check the article by searching the topic on Snopes.com, FactCheck.org, or major news websites.
            .content
              p
                | Corroboration from other sources that confirms or supports a news article is a sign that the information is credible.
            .title
              i.dropdown.icon
              |     Be aware of what you share.
            .content
              p
                | It's easy to quickly like or share something, but you could be spreading fake news! Remember to only like or share articles you know are true.

      .actions
        .ui.positive.right.labeled.icon.button
          | Done
          i.checkmark.icon

    //- View Post Info Modal  
    .ui.small.modal#info_modal(data-modalName="digital-literacy_infoModal")
      i.close.icon  
      h3.ui.header 
        i.info.circle.icon
        | Info about News Source  
      .content
          .field
            h3.ui.header#post_info_body
              |  The New York Times (sometimes abbreviated as the NYT and NYTimes) is an American newspaper based in New York City with worldwide influence and readership. Founded in 1851, the paper has won 125 Pulitzer Prizes, more than any other newspaper. The Times is ranked 17th in the world by circulation and 2nd in the U.S.        

      .actions
        .ui.positive.right.labeled.icon.button
          | Done
          i.checkmark.icon


block scripts
  script(src='/module_js/voiceover.js')
  script(src='/module_js/base_sim_extraData.js')
  script(src="/module_js/digital-literacy/digital-literacy_sim.js")
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/digital-literacy.css')
  link(rel='stylesheet', href='/css/sim.css')
