extends ../ui_layout

block content
  -var cdn = "https://testdrive.sfo2.cdn.digitaloceanspaces.com";
  .ui.container
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.purple.icon
            .content
              | Reflect
          .ui.label(style="background-color:#2185d08a;color:#000000d1;")
            h4(style="float:left")
              i.exclamation.triangle.icon(style="color: #f9ff00 !important;")

              | These were the FAKE news posts in the timeline. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            .ui.fluid.card.dim()#card1
              .content
                .right.floated.meta 20 minutes ago  
                a(href='/user/zoe.g._')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user70.JPG')
                  span Zoe Goodall
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/fakenews1.png', data-src='/fakenews1.png', style='max-width: 100%; cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="Real facts.com is THE news source for you. Learn about everything that's going on everywhere in real time. You can trust us!", style='z-index:12;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon
              .content
                .description
                  | Breaking News: Driving age just lowered to 12. DMV flooded with road test appointments and car companies cannot keep their newest models off the road.
        
          
            .ui.fluid.card.dim()#card2
              .content
                .right.floated.meta 30 minutes ago
                a(href='/user/k.r.h345')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user15.jpg')
                  span Keith Hernandez
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/fakenews2.png', data-src='/fakenews2.png', style='max-width: 100%; cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="ScienceTruth is everyone's favorite and reliable source for science facts.", style='z-index:9;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon
              .content
                .description
                  | Craving a donut? Think again! Scientists found that donuts are the leading cause of cancer in young children 😳


            .ui.fluid.card.dim()#card3
              .content
                .right.floated.meta 1 hour ago
                a(href='/user/aperson')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
                  span Lana Reed
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/fakenews3.png', data-src='/fakenews3.png', style='max-width: 100%;cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="No Information Found !", style='z-index:9;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon          
              .content
                .description
                  | You'll never guess what these are!!!
          br
          br

          .ui.label(style="background-color:#2185d08a;color:#000000d1;")
            h4(style="float:left")
              i.exclamation.triangle.icon(style="color: #f9ff00 !important;")

              | These were the REAL news posts in the timeline. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            .ui.fluid.card.dim()#card4
              .content
                .right.floated.meta 20 minutes ago  
                a(href='/user/slimebygabby')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user72.jpg')
                  span Gabby Rogers
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/realnews2.png', data-src='/realnews2.png', style='max-width: 100%; cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="Cable News Network (CNN) is an American news-based pay television channel owned by WarnerMedia News &amp; Sports, a division of AT&amp;T's WarnerMedia. CNN was founded in 1980 by American media proprietor Ted Turner as a 24-hour cable news channel.", style='z-index:12;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon
              .content
                .description
                  | Volkswagen's ID Buggy, an electric dune buggy concept, was an eye-catching presence at this week's Geneva International Motor Show. The most surprising thing about it, though, is that VW might actually put it into production.
        
          
            .ui.fluid.card.dim()#card5
              .content
                .right.floated.meta 30 minutes ago
                a(href='/user/cloe.htt')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user3.jpg')
                  span Cloe Hansen
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/realnews1.png', data-src='/realnews1.png', style='max-width: 100%; cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="Weill Cornell Medicine is the biomedical research unit and medical school of Cornell University, a private Ivy League university. The medical college is located at 1300 York Avenue, on the Upper East Side of Manhattan in New York City, along with the Weill Cornell Graduate School of Medical Sciences.", style='z-index:9;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon
              .content
                .description
                  | According to an accumulating body of research by Dr. Cantley and his team at Weill Cornell Medicine, excess sugar also helps many types of cancer to grow more rapidly.


            .ui.fluid.card.dim()#card6
              .content
                .right.floated.meta 1 hour ago
                a(href='/user/Suzieee')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
                  span Susan Turner
              .img.post
                img.transition.visible(src=cdn+'/post_pictures/realnews3.png', data-src='/realnews3.png', style='max-width: 100%;cursor: pointer;display: inline !important;')
              .read.rounded.right.floated.info_button(data-info_text="The Washington Post (sometimes abbreviated as WaPo) is a major American daily newspaper published in Washington, D.C., with a particular emphasis on national politics and the federal government. It has the largest circulation in the Washington metropolitan area.", style='z-index:9;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto')
                i.info.icon          
              .content
                .description
                  | The University of Chicago will no longer require ACT or SAT scores from U.S. students
 
 
    .ui.raised.segment.responseOne
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | Did you notice any signs of fake news in these posts?

      .ui.form
        br
        .inline.fields
          label(for='clickbait', name='clickbait') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='clickbait', style="font-size:120%;", tabindex='0') They had clickbait headlines and wild images.
      .ui.form
        .inline.fields
          label(for='mistakes', name='mistakes') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='mistakes', style="font-size:120%;", tabindex='0') They had spelling mistakes or dramatic punctuation.
      .ui.form
        .inline.fields
          label(for='suspicious', name='suspicious') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='suspicious', style="font-size:120%;", tabindex='0') They were from a suspicious website.
        

    .ui.raised.segment.responseTwo
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | Tell us what you would do next to check the credibility of the above articles.
      .ui.form
        br
        .inline.fields
          label(for='wouldRead', name='wouldRead') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='wouldRead', style="font-size:120%;", tabindex='0') I would read the full article.
      .ui.form
        .inline.fields
          label(for='checkSource', name='checkSource') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='checkSource', style="font-size:120%;", tabindex='0') I would check the source.
      .ui.form
        .inline.fields
          label(for='corroboration', name='corroboration') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='corroboration', style="font-size:120%;", tabindex='0') I would find corroboration from other credible sources.       
      
    .ui.raised.segment.responseThree
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | What are the benefits and drawbacks of getting news on social media ?
      .ui.form
        .inline.fields
          label(style="font-size:120%;")
          textarea.glowing-border(rows='2')

    .ui.raised.segment.responseFour
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | Why is it important to evaluate the information you see on social media ?
      .ui.form
        .inline.fields
          label(style="font-size:120%;")
          textarea.glowing-border(rows='2')

    .ui.raised.segment.responseFive
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | What would you do in the future on real social media sites to make sure that the information you see is credible?
      .ui.form
        .inline.fields
          label(style="font-size:120%;")
          textarea.glowing-border(rows='2')


    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Finish Lesson

      
block scripts
  script().
  
    function onPrint(){
      
        $(".insertPrint").empty();
        $(".insertPrint").css('display','block');  
        $(".responseOne").clone().appendTo(".insertPrint");
        $(".responseTwo").clone().appendTo(".insertPrint");
        $(".responseThree").clone().appendTo(".insertPrint");
        $(".responseFour").clone().appendTo(".insertPrint");
        $(".responseFive").clone().appendTo(".insertPrint");
        
        window.print();  
        
        $(".insertPrint").css('display','none');   
    }
    
    setTimeout(function(){
      $('.ui.label').transition('bounce');        
    }, 1000);


    setTimeout(function(){
      $('#card1,#card2,#card3,#card4,#card5,#card6').transition({
      animation : 'jiggle',
      duration  : 800,
      interval  : 200
      });    
    }, 2000);
