#objectives.hidden
    .ui.container#raised-container
        .limit#learn-target(style="padding: 0;")
            .ui.grid.computer.only#objectives-read
                .ten.wide.column
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.shapes.icon
                            span#narrate-title-objectives Concepts 
                        span#narrate-time(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22; ")
                            i.clock.outline.icon
                            span#narrate-time-objectives 5 min
                        .ui.divider
                    ul.no-bullets
                        li
                            img(src=public_resources + "/images/shared_sources/dart-bullet.svg", alt="Bullet Point")
                            span#narrate-1-objectives
                                span Identify the basics of grandparent scams 

                        li
                            img(src=public_resources + "/images/shared_sources/dart-bullet.svg", alt="Bullet Point")
                            span#narrate-2-objectives
                                span Understand how grandparent scams work
                .six.wide.column
                    img(src=public_resources+'/images/modules/grandparent/square-grandparent-intro.png')

            .ui.grid.tablet.only.mobile.only
                .sixteen.wide.column
                    //- button.ui.icon.button#volume-up-button.left.floated(style="position: absolute; left: 400px; top: 45px;")
                    //-     i.volume.up.icon
                    h1.ui.header.large#learn-title(style="color: #285362;")
                        .content
                            i.shapes.icon
                            span#narrate-title-objectives Concepts 
                        span#narrate-time(style="float: right; font-size: 1.5rem; margin-top: 5px; color: #151C22; ")
                            i.clock.outline.icon
                            span#narrate-time-objectives 5 min
                        .ui.divider
                    ul.no-bullets
                        li
                            img(src=public_resources + "/images/shared_sources/dart-bullet.svg", alt="Bullet Point")
                            span#narrate-1-objectives
                                span Identify the basics of grandparent scams 

                        li
                            img(src=public_resources + "/images/shared_sources/dart-bullet.svg", alt="Bullet Point")
                            span#narrate-2-objectives
                                span Understand how grandparent scams work
                .six.wide.column
                    img(src=public_resources+'/images/modules/grandparent/square-grandparent-intro.png')
