extends ../ui_layout

block content

  .ui.container#raised-container
    .ui.basic.segment
      #raised-content
        //- h1.ui.header.large#mod-title
        //-   .content
        //-     | Identity Theft
        .ui.grid.computer.only.tablet.only 
          .row
            .twelve.wide.column(style="margin-top: -25px;")
              .ui.large.label.blue-pointing#speechBubble(style="float: none; width: 100%;")
                  p#speechText(style="text-align: left") 
                    if user.name === 'Guest'
                      | Hello, I am Agent #{user.avatar}!        
                    else 
                      | Hello #{user.name}, I am Agent #{user.avatar}!   
                    | Together, we'll explore the tricks used by scammers, sharpening your skills to outsmart them.
                    br
                    br
                    //- | Before we start, I want to be clear that <strong>I am an AI chat-bot, and not a human being.</strong> However, I will do my absolute best to help you with what you need assistance on!
                    | Knowledge is your best defense, so let's get started! Click the 'Start' button below. 
                    //- br
                    //- br
                    //- | DART uses a number of features designed to make our website easier for everyone to navigate and read. Checkout the 
                    //- a(href='/accessibility')  Accessibilty page 
                    //- | to learn more about this!
              .ui.centered.grid(style="margin-top: 40px;")
                //- button.ui.massive.blue.button(onclick="location.href='/';")
                //-   | Start
                //-   i.arrow.right.icon
              br
              br

              .ui.container#nav-container
                .div#nav-menu(style="z-index:9999999999;")
                  button.ui.huge.basic.button.left.floated#backButton(onclick="location.href='/selection';") 
                    i.arrow.left.icon 
                    | Back
                  button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/courses';")
                    | Start
                    i.arrow.right.icon
            .four.wide.column
              br
              br
              br
              br
              img.dart_image.ui.medium.image(src=user.avatarImg style="margin: 0 auto; width: 200%;")
        .ui.grid.mobile.only
          .ui.large.pointing.below.label#speechBubble(style="float: none; width: 100%;")
              p#speechText(style="font-size: 1.5rem; text-align: left") 
                if user.name === 'Guest'
                  | Hello, I am Agent #{user.avatar}!        
                else 
                  | Hello #{user.name}, I am Agent #{user.avatar}!   
                | Together, we'll explore the tricks and traps used by scammers, sharpening your skills to outsmart them.
                br
                br
                //- | Before we start, I want to be clear that <strong>I am an AI chat-bot, and not a human being.</strong> However, I will do my absolute best to help you with what you need assistance on!
                | Knowledge is your best defense, so let's get started learning. Click the start button below! 
          img.dart_image.ui.massive.image(src=user.avatarImg style="margin: 0 auto;")
          br
          br
      br
      .ui.grid.mobile.only(style="z-index:999999;")
        .ui.container#nav-container
          .div#nav-menu
            button.ui.massive.basic.button.left.floated#backButton(onclick="location.href='/selection';") 
              i.arrow.left.icon 
              | Back
            button.ui.massive.blue.button.right.floated#nextButton(onclick="location.href='/';")
              | Start
              i.arrow.right.icon
      br

          
          //- .ui.container#nav-container
          //-   .div#nav-menu
          //-     button.ui.huge.basic.button.left.floated#backButton(onclick="location.href='/selection';") 
          //-       i.arrow.left.icon 
          //-       | Back
          //-     button.ui.huge.blue.button.right.floated#nextButton(onclick="location.href='/';")
          //-       | Let's Begin
          //-       i.arrow.right.icon


    //- .div
    //-   button.ui.large.button.left.floated(onclick="location.href='/intro/identity';") 
    //-     i.arrow.left.icon 
    //-     | Back
    //-   button.ui.large.button.left.floated(onclick="location.href='/identity_learn_page0';") Skip pre-quiz & continue to Learn
    //-   //- button.circular.ui.icon.button.right.floated(onclick="showModal()")
    //-   //-   i.wechat.icon
    //-   button.ui.large.green.button.right.floated(onclick="location.href='/prequiz/identity';")
    //-     | Take the pre-quiz
    //-     i.arrow.right.icon

 


