extends ../ui_layout

block content
  .ui.container#profile-page
    br
    br
    .ui.segment.padded
      h3 Profile Information

      form.ui.form(action='/account/profile', method='POST')
        //- input(type='hidden', name='_csrf', value=_csrf)
        .field
          label Email
          input(type='email', name='email', id='email', value=user.email, autocomplete='email', required)
          if user.emailVerified
            .ui.success.message
              | Verified
          else
            .ui.error.message
              | Unverified: &nbsp;
              a(href='/account/verify') Send verification email

        .field
          label Name
          input(type='text', name='name', id='name', value=user.name, autocomplete='name')

        //- .field
        //-   label Location
        //-   input(type='text', name='location', id='location', value=user.profile.location, autocomplete='location')

        //- .field
        //-   label Gravatar
        //-   img(src=user.gravatar(), class='ui image profile', width='100', height='100')

        .ui.field
          button.ui.primary.huge.button(type='submit')
            i.fas.fa-pencil-alt.fa-sm.iconpadding
            | Update Profile

    .ui.segment.padded
      if user.password
        h3 Change Password
      else 
        h3 Create Password

      form.ui.form(action='/account/password', method='POST')
        //- input(type='hidden', name='_csrf', value=_csrf)

        .field
          label New Password
          input(type='password', name='password', id='password', autocomplete='new-password', minlength='8', required)

        .field
          label Confirm Password
          input(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', minlength='8', required)

        .ui.field
          button.ui.primary.huge.button(type='submit')
            i.fas.fa-lock.fa-sm.iconpadding
            if user.password
              | Change Password
            else
              | Create Password

    .ui.segment.padded
      h3 Linked Accounts

      .ui.fields
        if user.google
          //- .field
          //-   a.ui.red.button(href='/account/unlink/google') Unlink your Google account
          .field
              a.ui.big.button(href='/account/unlink/google')   
                  span
                      img(src='/images/google-logo.png', alt="Google logo")#google-logo
                      span#google-text Unlink your Google account
        else
          //- .field
          //-   a.ui.button(href='/auth/google') Link your Google account
          .field
              a.ui.big.button(href='/auth/google')   
                  span
                      img(src='/images/google-logo.png', alt="Google logo")#google-logo
                      span#google-text Link your Google account


    //- .ui.segment.padded
    //-   h3 Badges
    //-   p display badges


    .ui.segment.padded
      h3 Delete Account

      form.ui.form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
        .field
          p You can delete your account, but keep in mind this action is irreversible.
          //- input(type='hidden', name='_csrf', value=_csrf)

          button.ui.red.huge.button(type='submit')
            i.fas.fa-trash-alt.fa-sm.iconpadding
            | Delete my account
    br
    br

block styles 
  link(rel='stylesheet', href='/css/profile.css')

block scripts
  script.
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;