extends ../ui_layout

block content
  .sixteen.wide.column(style='margin-bottom:4em;')
    h3.ui.header Profile Information
    .ui.basic.segment(style="padding:10px 0;")
      img.ui.small.image.profileImage(src=cdn+"/profile_pictures/"+user.profile.picture)
      button.large.ui.labeled.icon.button.editProfilePictureButton(style="margin: 1em 0;")
        i.plus.icon
        |  Choose a Profile Photo
    form.ui.form(action='/account/profile/'+mod, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='enableDataCollection', value=process.env.enableDataCollection)
      input(type='hidden', name='profilePhoto', value=user.profile.picture)
      .field(data-tooltip="Remember, this information is stored on the site until you finish the lesson. Think about using a nickname or an alias instead of your real name." data-position="bottom left")
        label(for='name') Name
        input.form-control(type='text', name='name', id='name', value=user.profile.name)
      .field(data-tooltip="Remember, this information is stored on the site until you finish the lesson. Think about using another location instead of your real location." data-position="bottom left")
        label(for='location') Location (City, State)
        input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .field
        label(for='bio') Bio
        textarea(rows='2', name='bio', id='bio')=user.profile.bio
      button.ui.green.button(type='submit' style="margin-bottom:8em;") Update Profile
      
  //- Profile Picture Selection Modal 
  include ../partials/script/modals/profilePictureModal