extends ../ui_layout

block content
  -var user_post = []
  -var user_info = [{profile_pic : "/profile_pictures/amy.jpg",background_pic : "/profile_pictures/blueToWhite.png",user_name : "Amy G",user_id : "@amyg__g",bio : "Daughter. Sister. Proud Black American. I tend to get political.",location : "New York, NY",join_date : "Joined January 2019"}]
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
    //-####################### title
  .computer.only.tablet.only.four.wide.column 
  .sixteen.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column( style="margin-bottom:5%")
    .ui.one.column.centered.grid.feedbackMessagesGrid
    .ui.fluid.card.dim(style = "margin-top:0px;margin-bottom:0px;")

      span.br(style="font-size: 25px; margin-left: 5%; margin-top: 5%; font-weight: bold;") Hello #{user.profile.name},
      span.br(style="font-size: 18px; margin-left: 5%; margin-top: 3%; font-weight: bold; margin-bottom: 3%") Before starting, would you like to select one of our agents to learn with you?
      
      .ui.profilePicForm.form 
        .ui.segment
            .two.fields
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/"+"Daring_PT_Determined.png" data-src="/profile_pictures/"+"Daring_PT_Determined.png")
                      button.ui.secondary.button(onclick=`fetch('/saveCharacterData/Daring_PT_Determined.png',{method:'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: new URLSearchParams({username: '${user.username}', _csrf: '${csrfToken}'}).toString()})` style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);") Save
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/"+"Dartie_Happy_3.png" style="width: 120%;" data-src="/profile_pictures/Dartie_Happy_3.png")
                      button.ui.secondary.button(onclick=`fetch('/saveCharacterData/Dartie_Happy_3.png',{method:'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: new URLSearchParams({username: '${user.username}', _csrf: '${csrfToken}'}).toString()})` style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);") Save
            .two.fields
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/"+"Intrepid_PT_Determined.png"  data-src="/profile_pictures/Intrepid_PT_Determined.png")
                      button.ui.secondary.button(onclick=`fetch('/saveCharacterData/Intrepid_PT_Determined.png',{method:'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: new URLSearchParams({username: '${user.username}', _csrf: '${csrfToken}'}).toString()})` style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);") Save
              .field
                .ui.radio.checkbox
                      img.lazy(src="/profile_pictures/Valiant_PT_Determined.png" data-src="/profile_pictures/Valiant_PT_Determined.png")
                      button.ui.secondary.button(onclick=`fetch('/saveCharacterData/Valiant_PT_Determined.png',{method:'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: new URLSearchParams({username: '${user.username}', _csrf: '${csrfToken}'}).toString()})` style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);") Save
      
      button.ui.secondary.button(style="margin-top: 1%" onclick=`fetch('/saveCharacterData/transparent.png',{method:'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: new URLSearchParams({username: '${user.username}', _csrf: '${csrfToken}'}).toString()})` ) I prefer to have the journey myself
block scripts

block styles
  style(type='text/css').
    .lazy {
      width: 90%;
      height: 90%;
    }

    .profilePictureModal {
    height: calc(100% - 50px);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    }