
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        img(src=cdn+"/post_pictures/lilyprofpic.png")
      .content
        a.header= 'Lily Hui'
        .meta="@"+'hui_lily'
        .description="😍🤩😝😁" 
        .description 
          i.marker.icon
          span="Ithaca, NY"

  
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 

    #step1.ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content(data-hint="Remember, this is what Lily’s profile looks like to anyone on the internet. All of her posts can be seen on her profile page." data-hintPosition="middle-middle")
        .right.floated.meta= "Yesterday"
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img#loadingPostTwo(src=cdn+"/post_pictures/nyctrip.jpg", style="max-width:100%;")
      .content
        .description(data-hint="Think about what you can learn about Lily! What are some of her hobbies? Where does she like to go? Who are her friends?" data-HintPosition="middle-right")
          | On a trip to nyc with my family😃
          span.locationtag  — At New York, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user71.JPG')
            .content
              a.author(href="/user/mel_williams1314") Melissa Williams
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | wow so jealous!
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "3 days ago"
        |
        a(href="/user/Suzieee")
          img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
          span(style="color: black;") <b> Susan Turner</b>
      .img.post
        img(src=cdn+"/post_pictures/bowlingalley.jpg", style="max-width:100%;")
      .content
        .description
          | bowling with friends!!
          span.locationtag  — with Emma Garcia and Lily Hui — At Bowl-O-Drome, Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=4
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") Ariel Simon
              .metadata
                span.date 3 days ago
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | looks like fun
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lily Hui
              .metadata
                span.date 3 days ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | let's go together next time!!
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "4 days ago"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img#loadingPost(src=cdn+"/post_pictures/prettyflowers.png", style="max-width:100%;")
      .content
        .description(data-hint="Lily has shared location information in her posts. Her location information is also available to anyone on the internet." data-hintPosition="middle-right")
          | pretty flowers in my back yard
          span.locationtag  — At Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") Ariel Simon
              .metadata
                span.date 4 days ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | prettyyyyyy
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "1 week ago"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img(src=cdn+"/post_pictures/friendshipbracelet.png", style="max-width:100%;")
      .content
        .description
          | Making friendship bracelets❤️
          span.locationtag  — At Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .ui.comments
        .comment
          a.avatar.image
            img(src=cdn+'/profile_pictures/user41.jpg')
          .content
            a.author(href="/user/emmaaaaa") Emma Garcia
            .metadata
              span.date 5 days ago
              .rating
                i.heart.icon
                span.num 1
                |     Likes
            .text()
              | i remember this @_@
            .actions
              a.like.comment Like
              a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "1 week ago"
        |
        a(href="/user/arihearts")
          img.ui.avatar.image(src=cdn+'/profile_pictures/user47.jpeg')
          span(style="color: black;") <b> Ariel Simon</b>
      .img.post
        img(src=cdn+"/post_pictures/gingerbread.jpg", style="max-width:100%;")
      .content
        .description
          | so proud of my gingerbread house
          span.locationtag  — With Lily Hui — At Boynton Middle School, Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=3
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user40.jpg')
            .content
              a.author(href="/user/Suzieee") Susan Turner
              .metadata
                span.date 1 week ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Dat house
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lily Hui
              .metadata
                span.date 1 week ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Lol
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "2 weeks ago"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img(src=cdn+"/post_pictures/healthyeating.png", style="max-width:100%;")
      .content
        .description
          | healthy eating
          span.locationtag  — At Core Life Eatery, Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user7.jpg')
            .content
              a.author(href="/user/l.wakefield17") Lauren Wakefield
              .metadata
                span.date 2 weeks ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Was it good?
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") Ariel Simon
              .metadata
                span.date 2 weeks ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | very healthy
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
        
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "2 weeks ago"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img(src=cdn+"/post_pictures/zoomonkey.jpg", style="max-width:100%;")
      .content
        .description
          | monkey!
          span.locationtag  — At Binghamton Zoo at Ross Park, Binghamton, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "2 weeks ago"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lily Hui</b>
      .img.post
        img(src=cdn+"/post_pictures/lilypicture.png", style="max-width:100%;")
      .content
        .description
          | hey it's me 
          span.locationtag  — At Stewart Park, Ithaca, NY
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=3
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user7.jpg')
            .content
              a.author(href="/user/l.wakefield17")  Lauren Wakefield
              .metadata
                span.date 2 weeks ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | pretty pic ^^
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lily Hui
              .metadata
                span.date 2 weeks ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Thankss 🙂
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon            
            
      
            

    .ui.warning.message#clickAllDots(style="display:none;")
      .header
        | Click through all of the blue dots to continue
    button.ui.big.labeled.icon.button.free1#free1Button
        i.rocket.icon
        |   Let's Continue!





block scripts
  script().
  
    var literacy_counter = 0;
    
    function startIntro(){
        var hints;
        
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "This is the social media profile page of Lily Hui, a middle school student.",
                position:'right',
                scrollTo:'tooltip'
              },
              {
                element: document.querySelectorAll('#step1')[0],
                intro: "This is how Lily’s profile will look to anyone on the Internet.",
                position:'right',
                scrollTo:'tooltip'
              },
              {
                element: document.querySelectorAll('#step1')[0],
                intro: "Take some time to look through it and see what kinds of posts she has on her profile!",
                position:'right',
                scrollTo:'tooltip'
              },
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "Click on the blue dots&nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp; to learn more...",
                position:'right',
                scrollTo:'tooltip'
              }
            ]
          });
          intro.start().onexit(function() {
          hints = introJs().addHints();
          console.log('hints added')
          hints.onhintclose(function(e) {
           literacy_counter++;
           if(literacy_counter == 3) {
             $('#clickAllDots').hide();
             $( ".free1" ).addClass("green");
           }
          });
        });
          
      };
      
      $('#free1Button').on('click', function () { 
        if(literacy_counter != 3){
          $('#clickAllDots').show();
        }
      });

      $(window).on("load", function() {startIntro();});
      
    
    
    //removing lazy loading entirely: causes issues on Safari
    /*
    var literacy_counter = 0;
    
    function startIntro(){
      
      var hints;
      
      var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
        intro.setOptions({
          steps: [
            { 
              element: document.querySelectorAll('#step1')[0],
              intro: "This is the social media profile page of Lily Hui, a middle school student.",
              position:'right'
            },
            {
              element: document.querySelectorAll('#step1')[0],
              intro: "This is how Lily’s profile will look to anyone on the internet.",
              position:'right'
            },
            {
              element: document.querySelectorAll('#step1')[0],
              intro: "Take some time to look through it and see what kinds of posts she has on her profile!",
              position:'right'
            },
            { 
              element: document.querySelectorAll('#step1')[0],
              intro: "Click on the blue dots&nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp;to learn more...",
              position:'right'
            }
          ]
        });
        
      intro.start().onexit(function() {
        
        hints = introJs().addHints();
        hints.onhintclose(function(e) {
          literacy_counter++;
          if(literacy_counter == 3) {
           $('#clickAllDots').hide();
           $( ".free1" ).addClass("green");
          }
        });

        $('#loadingPost, #loadingPostTwo')
          .visibility({
            type: 'image',
            offset: 0
          });
      
        $('#loadingPost').on("load", function (){
          $('#dataHintTwo').attr({
            'data-hint':"Lily has shared location information in her posts. Her location information is also available to anyone on the internet.",
            'data-hintPosition':"middle-right"
          });
          hints = introJs().addHints();
          hints.onhintclose(function(e) {
            literacy_counter++;
            if(literacy_counter == 3) {
             $('#clickAllDots').hide();
             $( ".free1" ).addClass("green");
           }
          });
        });
        
        $('#loadingPostTwo').on("load", function (){
          $('#dataHintThree').attr({
            'data-hint':"Think about what you can learn about Lily! What are some of her hobbies? Where does she like to go? Who are her friends?",
            'data-hintPosition':"middle-right"
          });
          hints = introJs().addHints();
          hints.onhintclose(function(e) {
            literacy_counter++;
            if(literacy_counter == 3) {
             $('#clickAllDots').hide();
             $( ".free1" ).addClass("green");
           }
          });
        });
        
      });
        
    };
    
    $('#free1Button').on('click', function () { 
      if(literacy_counter != 3){
        $('#clickAllDots').show();
      }
    });

    $(window).on("load", function() {startIntro();}); */
