
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help?
            p Scroll up and click "Next" to begin!
    //- ui.fluid.card.test       
    //-   .content
    //-     .right.floated.meta= "2:05pm"
    //-     |
    //-     a(href='')
    //-       img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
    //-       span='Logged In'
    //-     h1 Your Friend Requests
    //-   .image
    //-     img.post(src="/images/friend-request.png")
    //-   #harmonyBox
      //- .content
      //-   .description="Wow, look at these new awesome kicks!!! :D "
      //- .three.ui.bottom.attached.icon.buttons
      //-   .ui.reply.button(tabindex='0')
      //-     i.reply.icon
      //-     |  Reply
      //-   .ui.flag.button(tabindex='0')
      //-     i.flag.icon
      //-     |  Flag
      //-   .ui.labeled.button(tabindex='0')
      //-     .ui.like.button
      //-       i.heart.icon
      //-       |  Like
      //-     a.ui.basic.red.left.pointing.label.count=2
          
      //- .content
      //-   .ui.comments
      //-     .comment
      //-       a.avatar
      //-         img(src=cdn+'/profile_pictures/user66.jpeg')
      //-       .content
      //-         a.author Emma Hanson
      //-         .metadata
      //-           span.date Yesterday
      //-           .rating
      //-             i.heart.icon
      //-             span.num=0
      //-             |  Likes
      //-         #step3.text()
      //-           | When will you get it into your head that nobody wants to 
      //-           | hear from you!.
      //-         #step5.actions
      //-           a.comment.like Like
      //-           a.flag Flag
      //- .content
      //-   #step7.ui.fluid.left.labeled.right.icon.input()
      //-     .ui.label
      //-       img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
      //-     input.newcomment(type='text' placeholder='Write a Comment')
      //-     i.big.send.link.icon



    #nextPage.ui.fluid.card.test       
      .content
        .right.floated.meta= "2:07pm"
        |
        a(href='')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Logged In'
        //- h1 Your Friend Requests
      .image
        img.post(src="/images/harmony-profile.png")
      #populated-data
      #harmony-pic
      #tweets-number
      #opinions
      #reactions

      .content
        .description="Wow, look at these new awesome kicks!!! :D "
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2


    #step1.ui.fluid.card.test       
      .content
        .right.floated.meta= "2:05pm"
        |
        a(href='')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Logged In'
        h1 Your Friend Requests
      //- .image
      //-   img.post(src="/images/friend-request.png")
      //- #harmonyBox

      .ui.centered.cards#step2
        .card
          .content
            img.right.floated.medium.ui.image(src='/images/harmony-pic.jpg')
            .header
              | Harmony Anderson
            .meta
              | 2 mutual friends
            .description
              | Harmony has requested to be your friend
          .extra.content
            .ui.two.buttons
              .ui.basic.green.button Approve
              .ui.basic.red.button Decline
        .card
          .content
            img.right.floated.medium.ui.image(src='/images/elvis-pic.jpeg')
            .header
              | Elvis Pres1ey
            .meta
              | 0 mutual friends
            .description
              | Elvis Pres1ey has requested to be your friend 
          .extra.content
            .ui.two.buttons
              .ui.basic.green.button Approve
              .ui.basic.red.button Decline

        .card
          .content
            img.right.floated.medium.ui.image(src='/images/chris-pic.jpg')
            .header
              | Christopher Worrick
            .meta
              | 16 mutual friends
            .description
              | Christopher Worrick has requested to be your friend 
          .extra.content
            .ui.two.buttons
              .ui.basic.green.button Approve
              .ui.basic.red.button Decline
            


        


block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/cyberbullying/cyberbullying_tutorial.js")
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
