
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    #step1.ui.fluid.card.test(style="margin-bottom:8em;")       
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/hannahleee_23')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Dylan Reed'
      .image
        img.post(src=cdn+"/post_pictures/basketballshoes.jpg")
      .content
        .description="Wow, look at these new awesome kicks!!! :D "
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
          
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user66.jpeg')
            .content
              a.author Emma Hanson
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              #step3.text()
                | When will you get it into your head that nobody wants to 
                | hear from you!.
              #step5.actions
                a.comment.like Like
                a.flag Flag
      .content
        #step7.ui.fluid.left.labeled.right.icon.input()
          .ui.label            
            img.ui.avatar.image(src=cdn+'/profile_pictures/user61.jpg', name="Jane Doe")
          input.newcomment(type='text', placeholder='Write a Message')
          i.big.send.link.icon


block scripts
  script(src="/module_js/cyberbullying/cyberbullying_tutorial.js")
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
