
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    #step1.ui.fluid.card.test(postID="3" style="margin-bottom:4em;")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/hannahleee_23')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
              span='Dylan Reed'
          .image
            img.post(src=cdn+"/post_pictures/basketballshoes.jpg")
          .content
            .description="Wow, look at these new awesome kicks!!! :D "
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user66.jpeg')
                .content
                  a.author Emma Hanson
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  0 Likes
                  #step3.text()
                    | When will you get it into your head that nobody wants to hear from you!.
                  #step5.actions
                    a.like Like
                    a.flag Flag
          .content
            //-.description(style="text-align:center;background:#E8E8E8")="How is Cassie Feeling?"
            #step7.ui.fluid.left.labeled.right.icon.input()
              .ui.label            
                img.ui.avatar.image(src=cdn+'/profile_pictures/user61.jpg', name="Jane Doe")
              input.newcomment(type='text', placeholder='Write a Message')
              i.big.send.link.icon


block scripts
  script().
    function startIntro(){
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "You have recently seen that some people keep saying mean things about Dylan. A group of friends from school are bullying Dylan on social media.",
                position: 'right',
                scrollTo: 'tooltip'
              },
              {
                element: document.querySelectorAll('#step1')[0],
                intro: "<b>Cyberbullying</b> is when someone posts or shares negative things about someone else online. <br>The <b>bully</b> may use digital devices, sites, or apps. The bully often does this again and again to the same person.",
                position: 'right',
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#step3.text')[0],
                intro: "This is an example of <b>cyberbullying.</b>",
                position: 'right',
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('a.flag')[0],
                intro: "One way you can act against cyberbullying is by pressing the <b>“Flag”</b> button.",
                position: 'right',
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('a.flag')[0],
                intro: "<b>Flagging</b> something will report it to the website and the bullying post will be taken down. Sometimes it takes a while for the website to respond.",
                position: 'right',
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#step7')[0],
                intro: "Another way you can act against cyberbullying is by writing a <b>supportive comment</b> to the target.",
                position: 'left',
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#step7')[0],
                intro: "Another way you can act against cyberbullying is by <b>confronting the bully</b>.",
                position: 'left',
                scrollTo: 'tooltip'
              },
              
            ]
          });
          intro.start().onexit(function() {
          window.location.href='/tut_guide/cyberbullying';
        });
          
      };

      $(window).on("load", function() {startIntro();});
