
extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()

    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user55.jpg')
              span='Lana Reed'
      .img.post
        img(src='/calculator.jpg' style='max-width:100%;')
      .content
        .description Somebody help me with math
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment(commentid='5bbd01d88a48061a73337b96')
            a.avatar
              img(src='/profile_pictures/user66.jpeg')
            .content
              a.author Emma Hanson
              .metadata
                span.date 1543985371299
                .rating
                  i.heart.icon
                  span.num 1
                  |                                             Likes
              .text Seriously, you should drop out or repeat grade 7 if you can't even deal with such an easy assignment.
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/bub.jpg' name='Dominic')
          input.newcomment(type='text' placeholder='Write a Comment', data-hint="Let’s send a supportive message to the target. Copy and paste the following comment: “Lana, a lot of people think math is hard! Don’t worry about it.”.", data-position="bottom-left")
          i.big.send.link.icon
    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user54.jpg')
              span='Ariel Simon'
      .img.post
        img(src='/class_schedule.png' style='max-width:100%;')
      .content
        .description Look at my class schedule this semester!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment(commentid='5bbd01d88a48061a73337b96')
            a.avatar
              img(src='/profile_pictures/user36.jpg')
            .content
              a.author Hayden Abbey
              .metadata
                span.date 1543985371299
                .rating
                  i.heart.icon
                  span.num 1
                  |                                             Likes
              .text omg i’m so scared of physics
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/bub.jpg' name='Dominic')
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-##########
    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user44.png')
              span='David Cole'
      .img.post
        img(src='/blackbkg.jpg' style='max-width:100%;')
      .content
        .description No one likes u sarah. Why do u come to school? @Sarah Stella
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        //.ui.flag.button(data-hint="Press the “flag” button to report this post to the website.", data-position="bottom-left")
          i.flag.icon
          |                             Flag
        .ui.flag.button()
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment(commentid='5bbd01d88a48061a73337b96')
            a.avatar
              img(src='/profile_pictures/user43.jpg')
            .content
              a.author Susan Turner
              .metadata
                span.date 1543985371299
                .rating
                  i.heart.icon
                  span.num 1
                  |                                             Likes
              .text(data-hint="Press the “flag” button to report this comment to the website.", data-position="bottom-left") Lol it’s true ! I don’t want to see her at school anymore
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/bub.jpg' name='Dominic')
          input.newcomment(type='text' placeholder='Write a Comment', data-hint='Let’s tell the bully that this behavior is not okay. Copy and paste the following comment: “Guys, Sarah will be very upset if she sees this post. You should delete it."', data-position="bottom-left")
          i.big.send.link.icon(data-hint="Press the “flag” button above to report this post to the website.", data-position="bottom-left")
    //-##########
    //-.ui.fluid.card.test(postID="3")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/hannahleee_23')
              img.ui.avatar.image(src='/profile_pictures/user55.jpg')
              span='Lana Reed'
          .image
            img.post(src="/basketballshoes.jpg")
          .content
            .description="Wow, look at these awesome kicks!!! :D "
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment(data-hint="This comment is an example of cyberbullying. Press the “flag” button to report it to the website.", data-position="top")
                a.avatar
                  img(src='/profile_pictures/user66.jpeg')
                .content
                  a.author Emma Hanson
                  .metadata
                    span.date 1527025081548
                    i.heart.icon
                    |  0 Likes
                  .text
                    | when will you get it into your head that nobody likes your stupid head!.
                  .actions
                    a.like.comment Like
                    a.flag.comment Flag
          .content
            //-.description(style="text-align:center;background:#E8E8E8")="How is Cassie Feeling?"
            .ui.fluid.left.labeled.right.icon.input(data-hint="Let’s send a supportive message to the target. Type here, 'Lana, a lot of people think math is hard! Don’t worry about it.'", data-position="bottom-left-aligned")
              .ui.label            
                img.ui.avatar.image(src='/profile_pictures/bub.jpg' name='Dominic')
              input.newcomment(type='text', placeholder='Write a Message')
              i.big.send.link.icon
    button.ui.big.labeled.icon.button.cybertrans
          i.rocket.icon
          |   Let's Continue!

block scripts
  script().
    function startIntro(){
        var hints;
        var counter = 0;
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                intro: "Lana and Emma are in the same class at school. Recently, Emma has been saying a lot of mean things to Lana."
              },
              { 
                intro: "Here you will see an example of what's been going on. Click on the blue dots to learn more about cyberbullying and what you can do about it"
              }
              
            ]
          });
          intro.start().onexit(function() {
          hints = introJs().addHints();
          console.log('hints added')
          hints.onhintclose(function(e) {
           counter++;
           if(counter == 4) {$( ".cybertrans" ).addClass("green");}
          });
        });
          
      };

      $(window).on("load", function() {startIntro();});


