
extends ../ui_layout
  
block content
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage            
    #step1.ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Lana Reed'
      .img.post.image
        img(src=cdn+'/post_pictures/calculator.jpg')
      .content
        .description Somebody help me with math
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user66.jpeg')
            .content
              a.author Emma Hanson
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text 
                | Seriously, you should drop out or repeat grade 7 if you can't 
                | even deal with such an easy assignment.
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            if user.profile.picture
              img.ui.avatar.image.small(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
            else
              img.ui.avatar.image.small(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
          .ui.form
            .field 
              textarea.newcomment#hint1(type='text', placeholder='Write a Comment' rows='1')
          i.big.send.link.icon
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user54.jpg')
          span='Ariel Simon'
      .img.post.image
        img(src=cdn+'/post_pictures/class_schedule.png')
      .content
        .description Look at my class schedule this semester!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user36.jpg')
            .content
              a.author Hayden Abbey
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text omg i’m so scared of physics
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user66.jpeg')
          span='Emma Hanson'
      .img.post.image
        img(src=cdn+'/post_pictures/loser.jpg')
      .content
        .description Lana is a LOSER!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')#hint2
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2        
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user44.png')
          span='David Cole'
      .img.post.image
        img(src=cdn+'/post_pictures/blackbkg.jpg')
      .content
        .description 
          | No one likes u sarah. Why do u come to school? @Sarah Stella
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button()
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.jpg')
            .content
              a.author Susan Turner
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text Lol it’s true ! I don’t want to see her at school anymore
              .actions
                a.like.comment Like
                a.flag.comment Flag
                a#hint3
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            if user.profile.picture
              img.ui.avatar.image.small(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
            else
              img.ui.avatar.image.small(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
          .ui.form
            .field 
              textarea.newcomment#hint4(type='text', placeholder='Write a Comment' rows='1')
          i.big.send.link.icon
    .ui.message.warning.hidden#confirmContinueCheck
      .ui.header 
        | It seems you did not flag or leave any comments on the cyberbullying posts and comments. 
        br 
        br
        | Are you sure you do not want to flag or comment before continuing?
    button.ui.big.labeled.icon.button.cybertrans.mb-9#cyberTransButton
      i.rocket.icon
      |   Let's Continue!

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/cyberbullying/cyberbullying_sim.js") 
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_sim.js")
  script. 
    //- clickPost is a boolean used to track if a user completed any of the recommended actions from the blue dots. 
    //- If the user did, it is set to true.
    //- If the user didn't, it remains false, and then it is used to display a message: "It seems you did not flag any cyberbullying posts or comments, or leave any comments. Are you sure you would like to continue?"
    let clickPost = false; 
  
block styles
  link(rel='stylesheet', href='/css/sim.css')