extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label
            h4
              i.exclamation.triangle.icon
              | These were the cyberbullying posts in the timeline. How many did 
              | you notice?
          br
          br
          .ui.stackable.three.cards
            
            .ui.fluid.card.dim()#card1
              .content
                .right.floated.time 1 hour ago
                a(href='/user/ella_vaderrr')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                  span Ella Sroni
              .image
                img.post(src=cdn+'/post_pictures/blackbkg.jpg')
              .content
                .description
                  | No one likes you. Why do you come to school? @
                  a(href='/user/DylanCrazzzzzy') Dylan Moore
        
          
            .ui.fluid.card.dim()#card2
              .content
                .right.floated.time 1 hour ago
                a(href='/user/goaliegirl')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user29.jpg')
                  span Breana Summers
              .image
                img.post(src=cdn+'/post_pictures/ewww.jpg')
              .content
                .description Dylan smells like he didn&apos;t shower for a week


            .ui.fluid.card.dim()#card3
              .content
                .right.floated.time 1 hour ago
                a(href='/user/memeking')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user34.jpg')
                  span Keegan Scott
              .image
                img.post(src=cdn+'/post_pictures/dylansketchbook.jpeg')
              .content
                .description 
                  | omg lollll look at Dylan&rsquo;s sketchbook he&rsquo;s such 
                  | a nerdddd
       
 
    .ui.raised.segment
      
      .ui.label
        h4
          | Tell us what you did to be an upstander.
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='iFlagged', name='iFlagged') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='iFlagged', tabindex='0') 
                  | I flagged the post or comment.
        .ui.form
          .inline.fields
            label(for='iLiked', name='iLiked') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='iLiked', tabindex='0') 
                  | I "liked" the target's post to show support.
        .ui.form
          .inline.fields
            label(for='iSupported', name='iSupported') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='iSupported', tabindex='0') 
                  | I wrote a supportive or defending comment for the target.
        .ui.form
          .inline.fields
            label(for='wouldTell', name='wouldTell') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldTell', tabindex='0') 
                  | I would tell a trusted adult if I saw this kind of post.
      .ui.form
        .field
          label(for='like') Why did you act this way?
          label
          textarea.glowing-border(rows='4' id="cyber_responseOne") 

      
    .ui.raised.segment.responseTwo
      .ui.label
        h4
          | Why is it important for people to act against cyberbullying?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='4' id="cyber_responseTwo")

    .ui.raised.segment.responseThree
      .ui.label
        h4
          | What will you do in the future to be an upstander if you see 
          | cyberbullying?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='4' id="cyber_responseThree")

    include ../partials/optInToShareActivityData.pug
    br
    .ui.big.green.labeled.icon.button.printResponsesButton(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.resultsContinueButton
          i.rocket.icon
          |   Continue

      
block scripts
  script(src="/module_js/cyberbullying/cyberbullying_results.js")
  script(src='/optInToShareActivityData.js')
block styles
  link(rel='stylesheet', href='/css/results.css')
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')

    
