-var u_class;
-if (val.actorAuthor) {u_class = "actorReply"}
-else if (val.reply) {u_class = "userReply"}
-else {u_class = "userPost"}
.ui.fluid.card.userMadePost(u_postID=val.id, ui=user.ui, notify=user.notify, type=u_class, postID=val.postID)
  
  //- This is a User made post
  .content
    .right.floated.time.meta= ((Date.now() - (Date.now() - val.absTime)))
    |  
    a.ui.avatar.image(href='/me/'+mod)
      if user.profile.picture
        img(src=cdn+'/profile_pictures/'+user.profile.picture)
      else
        img(src=user.gravatar(60))
    a(href='/me/'+mod)
      span=user.profile.name || user.email || user.id
  if val.picture
    .image
      img(src=cdn+"/post_pictures/"+val.picture)
  .content
    .description=val.body
  .two.ui.bottom.attached.icon.buttons
    .ui.reply.button(tabindex='0')
      i.reply.icon
      |  Reply
    if val.liked
      .ui.red.like.button
        i.heart.icon
        |  Like
    else
      .ui.like.button
        i.heart.icon
        |  Like
  if val.comments.length > 0
    .content
      .ui.comments
        each comment in val.comments
          //-IF this comment is USER made, do this
          if (Date.now() + comment.time) < Date.now()
            if !comment.flagged
              if comment.new_comment
                -console.log("New COMMENT AREA");
                .comment(commentID=comment.commentID)
                  a.avatar.image(href='/me/'+mod)
                    if user.profile.picture
                      img(src=cdn+'/profile_pictures/'+user.profile.picture)
                    else
                      img(src=user.gravatar(60))
                  .content
                    a.author(href='/me/'+mod)=user.profile.name || user.username || user.id
                    .metadata
                      span.date.sim=(Date.now() + comment.time)
                      .rating
                        if comment.liked
                          i.red.heart.icon
                          span=comment.likes
                          | Likes 
                        else
                          i.heart.icon
                          span.num=comment.likes
                          |  Likes
                    .text=comment.body
                    .actions
                      if comment.liked
                        a.red.like.comment Like
                      else
                        a.like.comment Like
                      a.flag.comment Flag
              //- Else this is a normal comment from the script
              else
                .comment(commentID=comment.commentID)
                  a.avatar(href='/user/'+comment.actor.username)
                    img(src='/picture.svg', data-src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                  .content
                    a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                    .metadata
                      span.date.sim=(Date.now() + comment.time)
                      .rating
                        if comment.liked
                          i.red.heart.icon
                          span=comment.likes
                          | Likes 
                        else
                          i.heart.icon
                          span.num=comment.likes
                          |  Likes
                    .text=comment.body
                    .actions
                      if comment.liked
                        a.red.like.comment Like
                      else
                        a.like.comment Like
                      a.flag.comment Flag
  .extra.content
    if user.comment_prompt == "yes"
      .description="How is "+(user.profile.name || user.username || user.id)+" Feeling?"
      .ui.fluid.left.labeled.right.icon.input
        .ui.label            
          if user.profile.picture
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
          else
            img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)
        input.newcomment(type='text', placeholder='Write a Comment')
        i.big.send.link.icon
    else
      .ui.fluid.left.labeled.right.icon.input
        .ui.label
          if user.profile.picture
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
          else
            img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
        input.newcomment(type='text', placeholder='Write a Comment')
        i.big.send.link.icon
