.wrapper#help-dartie-menu
  footer.help-outer-container
    button#help-button Help
    #help-container
      #rpg-content
        img#dartie-img(src="/profile_pictures/Intrepid_PT_Determined.png" alt='Happy Dartie the hedgehog character wearing blue')
        p#question What can I help you with?
        form#myForm1.ui.form(action='/chatbot', method='POST', style='float: left')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='sender', value='test_user')
          input(type='hidden', name='message' value='Hi')
          button#modules.ui.button.blue(type='submit', onclick='postQuestion("Where can I view my completed modules?")') Where can I view my completed modules?
        form#myForm2.ui.form(action='/chatbot', method='POST', style='float: left')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='sender', value='test_user')
          input(type='hidden', name='message' value='Hi')
          button#accessibility.ui.button.blue(type='submit', onclick='postQuestion("Where can I change the text size?")') Where can I change the text size?
        form#myForm3.ui.form(action='/chatbot', method='POST', style='float: left')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='sender', value='test_user')
          input(type='hidden', name='message' value='Hi')
          button#account.ui.button.blue(type='submit', onclick='postQuestion("How do I change my account information?")') How do I change my account information?
        p#chatResponse(style="display: none") This is a hidden message.
#footer.ui.bottom.fixed.small.borderless.menu.testDriveFooter
  .left.menu
    .item
      .ui.toggle.checkbox.hidden#voiceoverCheckbox
        input(type="checkbox", name="voiceoverCheckbox" id='voiceoverCheckbox' checked)
        label(for='voiceoverCheckbox') Voiceovers
    .item
      button#showModal.ui.button.green Accessibility Menu
  .right.menu
    a.item(href='/') Terms of Service 
    //- a.item(href='/privacy') Privacy Policy  
    a.item(href='mailto:socialmediatestdrive@gmail.com') Contact Us

block scripts
  script(src="/js/help.js")
  script  

block styles
  link(rel='stylesheet', href='/css/help.css')  

script.
  document.getElementById('showModal').onclick = show;

  function show(){
    window.sessionStorage.setItem('modalMode', 'true');
    window.location.reload();
  }

  function postQuestion(question){
    document.getElementById('question').innerHTML = question;
  }

  document.forms['myForm1'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    }).then((body) => {
        document.getElementById('modules').style.display = "none";
        document.getElementById('accessibility').style.display = "none";
        document.getElementById('account').style.display = "none";
        document.getElementById('chatResponse').innerHTML = body[0].text;
        document.getElementById('chatResponse').style.display = "block";
    }).catch((error) => {
        // TODO handle error
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
    const dartieImg = document.getElementById('dartie-img');
    const character = localStorage.getItem('character');

    if (character) {
      dartieImg.src = "/profile_pictures/" + character;
    }
  });







  document.forms['myForm2'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    }).then((body) => {
        document.getElementById('modules').style.display = "none";
        document.getElementById('accessibility').style.display = "none";
        document.getElementById('account').style.display = "none";
        document.getElementById('chatResponse').innerHTML = body[0].text;
        document.getElementById('chatResponse').style.display = "block";
    }).catch((error) => {
        // TODO handle error
    });
  });

  document.forms['myForm3'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    }).then((body) => {
        document.getElementById('modules').style.display = "none";
        document.getElementById('accessibility').style.display = "none";
        document.getElementById('account').style.display = "none";
        document.getElementById('chatResponse').innerHTML = body[0].text;
        document.getElementById('chatResponse').style.display = "block";
    }).catch((error) => {
        // TODO handle error
    });
  });

