-var cdn = "https://dhpd030vnpk29.cloudfront.net";

.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu(style="z-index:10000002;")
    .ui.grid.container#myheader
        .four.wide.column
          a.item(href='/')
            img.ui.tiny.image(src=cdn+'/finalLogo.png', id='logo')
        .eight.wide.column
          .ui.basic.segment.center.aligned
            ul
              li 
                .ui.container
                  h4 1
                  span learn
              li.active
                h4 2
                span practice
              li
                h4 3
                span explore
              li 
                h4 4
                span reflect
        .four.wide.column
          .right.menu
            if user
              a.item.newpost
                i.big.plus.icon(style="display: none;")
              if user.isInstructor
                a.item(href='/classes') 
                  i.big.university.icon
              .ui.simple.dropdown.item(style="display: none;")
                if user.profile.picture
                  img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
                else
                  img.ui.mini.spaced.circular.image(src=user.gravatar(60))
                |
                span= user.profile.name || user.username || user.id

//- .computer.only.tablet.only.row 
//-   .ui.borderless.fixed.menu(style="z-index:10000002;")
//-     .ui.grid.container#myheader
//-         .four.wide.column
//-           a.item(href='/')
//-             img.ui.tiny.image(src=cdn+'/finalLogo.png', id='logo')
//-         .eight.wide.column
//-           .ui.basic.segment
//-             .ui.center.aligned.grid.four.column
//-               .column
//-                 h4.numberClass 1
//-                 span.numberText Learn
//-               .column
//-                 h4.numberClass 2
//-                 span Practice
//-               .column
//-                 h4.numberClass 3
//-                 span Explore
//-               .column
//-                 h4.numberClass 4
//-                 span Reflect
//-         .four.wide.column
//-           .right.menu
//-             if user
//-               a.item.newpost
//-                 i.big.plus.icon(style="display: none;")
//-               if user.isInstructor
//-                 a.item(href='/classes') 
//-                   i.big.university.icon
//-               .ui.simple.dropdown.item(style="display: none;")
//-                 if user.profile.picture
//-                   img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
//-                 else
//-                   img.ui.mini.spaced.circular.image(src=user.gravatar(60))
//-                 |
//-                 span= user.profile.name || user.username || user.id
  
//- .computer.only.tablet.only.row 
//-   .ui.borderless.fixed.menu(style="z-index:10000002;")
//-     .ui.container#myheader
//-       a.item(href='/')
//-         img.ui.tiny.image(src=cdn+'/finalLogo.png', id='logo')
//-       |
//-       .item
//-         h4 TEST
//-       .right.menu
//-         if user
//-           a.item.newpost
//-             i.big.plus.icon(style="display: none;")
//-           if user.isInstructor
//-             a.item(href='/classes') 
//-               i.big.university.icon
//-           .ui.simple.dropdown.item(style="display: none;")
//-             if user.profile.picture
//-               img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
//-             else
//-               img.ui.mini.spaced.circular.image(src=user.gravatar(60))
//-             |
//-             span= user.profile.name || user.username || user.id
//- 
            
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu(style="z-index:10000002;")
    a.item(href='/')
      img.ui.tiny.image(src=cdn+'/finalLogo.png', id='cell_logo')
    if !user
      //-a.item(href='/login') Login
      //-a.item(href='/signup') Create Account
    else
      a.item.newpost
        i.big.plus.icon(style="display: none;")
      if user.isInstructor
        a.item(href='/classes') 
          i.big.university.icon
      .ui.simple.dropdown.item(style="display:none;")
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
            
block styles
  link(rel='stylesheet', href='/css/header.css') 
