-var cdn = "https://dhpd030vnpk29.cloudfront.net";
-var isResearchVersion = process.env.isResearchVersion === 'true';
-var enableLearnerDashboard = process.env.enableLearnerDashboard === 'true';
.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu.testDriveHeader(style="z-index:10000002;")
    .ui.grid.container#myheader
        .four.wide.column
          a.item(href='/')
            img.ui.tiny.image(src=cdn+'/finalLogo.png', id='logo')
        .eight.wide.column
          .ui.basic.segment.center.aligned.hideHeader
            ul.progressList
              li.progressStep#headerStep1
                h4.number 1
                h4.checkmark &#10003
                span learn
              li.progressStep#headerStep2
                h4.number 2
                h4.checkmark &#10003
                span practice
              li.progressStep#headerStep3
                h4.number 3
                h4.checkmark &#10003
                span explore
              li.progressStep#headerStep4
                h4.number 4
                h4.checkmark &#10003
                span reflect
        .four.wide.column
          if isResearchVersion
            .right.menu.headerDropdownMenu
              if user
                a.item.newpost
                  i.big.plus.icon
                if user.isInstructor
                  a.item(href='/classManagement') 
                    i.big.home.icon
                if (user.isStudent && enableLearnerDashboard)
                  a.item(href='/learningAchievement') 
                    i.big.home.icon
                .ui.simple.dropdown.item
                  if user.profile.picture
                    img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
                  else
                    img.ui.mini.spaced.circular.image(src=user.gravatar(60))
                  |
                  if isResearchVersion
                    span= user.username || user.profile.name || user.id
                  else 
                    span= user.profile.name || user.username || user.id
                  i.dropdown.icon
                  .menu
                    a.item(href='/logout') Logout
            
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu(style="z-index:10000002;")
    a.item(href='/')
      img.ui.tiny.image(src=cdn+'/finalLogo.png', id='cell_logo')
    if !user
      //-a.item(href='/login') Login
      //-a.item(href='/signup') Create Account
    else
      a.item.newpost
        i.big.plus.icon
      if user.isInstructor
        a.item(href='/classes') 
          i.big.university.icon
      .ui.simple.dropdown.item(style="display:none;")
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
          
