-var cdn = "https://testdrive.sfo2.cdn.digitaloceanspaces.com";
.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu
    .ui.container
      a.item(href='/')
        img.ui.tiny.image(src=cdn+'/logo.png', id='logo')
      |  
      .right.menu
        if !user
          //-a.item(href='/login') Login
          //-a.item(href='/signup') Create Account
        else
          a.item.newpost
            i.big.plus.icon
          //-a.item(href='/notifications') 
            i.big.alarm.icon
          if user.isInstructor
            a.item(href='/classes') 
              i.big.university.icon
          .ui.simple.dropdown.item
            if user.profile.picture
              img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
            else
              img.ui.mini.spaced.circular.image(src=user.gravatar(60))
            |
            span= user.profile.name || user.username || user.id
            //-i.dropdown.icon
            //-.menu
              a.item(href='/logout') Logout
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item(href='/')
      img.ui.tiny.image(src=cdn+'/logo.png', id='cell_logo')
    if !user
      //-a.item(href='/login') Login
      //-a.item(href='/signup') Create Account
    else
      a.item.newpost
        i.big.plus.icon
      //-a.item(href='/notifications') 
        i.big.alarm.icon
      if user.isInstructor
        a.item(href='/classes') 
          i.big.university.icon
      .ui.simple.dropdown.item
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
        //-i.dropdown.icon
        //-.menu
          a.item(href='/logout') Logout





