-var cdn = "https://dhpd030vnpk29.cloudfront.net";

.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu(style="z-index:10000000;")
    .ui.grid.container#myheader
        .four.wide.column
          a.item(href='/esp')
            img.ui.tiny.image(src=cdn+'/finalLogo.png', id='logo')
        .eight.wide.column
          .ui.basic.segment.center.aligned.hideHeader
            ul.progressList
              li.progressStep#headerStep1
                h4.number 1
                h4.checkmark &#10003
                span aprender
              li.progressStep#headerStep2
                h4.number 2
                h4.checkmark &#10003
                span practicar
              li.progressStep#headerStep3
                h4.number 3
                h4.checkmark &#10003
                span explorar
              li.progressStep#headerStep4
                h4.number 4
                h4.checkmark &#10003
                span reflexionar
        .four.wide.column
          .right.menu
            if user
              a.item.newpost
                i.big.plus.icon(style="display: none;")
              if user.isInstructor
                a.item(href='/classes') 
                  i.big.university.icon
              .ui.simple.dropdown.item(style="display: none;")
                if user.profile.picture
                  img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
                else
                  img.ui.mini.spaced.circular.image(src=user.gravatar(60))
                |
                span= user.profile.name || user.username || user.id

            
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu(style="z-index:10000002;")
    a.item(href='/')
      img.ui.tiny.image(src=cdn+'/finalLogo.png', id='cell_logo')
    if !user
      //-a.item(href='/login') Login
      //-a.item(href='/signup') Create Account
    else
      a.item.newpost
        i.big.plus.icon(style="display: none;")
      if user.isInstructor
        a.item(href='/classes') 
          i.big.university.icon
      .ui.simple.dropdown.item(style="display:none;")
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src=cdn+'/profile_pictures/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
          
