#channels.hidden
    .ui.container
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Channels of Communication
            p Scammers approach and establish initial contact via social networking or dating sites. Commonly Used Channels for Romance Scams include: 
            .ui.three.column.computer.only.grid
                .column
                    a.ui.card(href='https://www.eharmony.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/eharmony.png` style="width: 150px; height: 100px;" alt="eharmony")
                        .content
                            | eHarmony
                    a.ui.card(href='https://workspace.google.com/products/chat/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/google-chat.png` style="width: 100px; height: 100px;" alt="google chat")
                        .content
                            | Google Chat
                .column
                    a.ui.card(href='https://www.messenger.com/' target='_blank') 
                        .image
                            img.ui.image.centered(src=`${public_resources}/images/modules/romance/messenger.png`  style="width: 100px; height: 100px;" alt="facebook messenger")
                        .content
                            | Facebook Messenger
                    a.ui.card(href='https://www.whatsapp.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/whatsapp.png` style="height: 100px; width: 100px;" alt="whats app")
                        .content
                            | WhatsApp
                .column
                    a.ui.card(href='https://www.pof.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/trusted_fish.png` style="width: 100px; height: 100px;" alt="plenty of fish")
                        .content
                            | Plenty of Fish
                    a.ui.card(href='https://www.instagram.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/insta.png` style="width: 100px; height: 100px;" alt="instagram")
                        .content
                            | Instagram
            .ui.two.column.tablet.only.mobile.only.stackable.grid
                .column
                    a.ui.card(href='https://www.match.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/match.png` style="width: 150px; height: 100px;" alt="match")
                        .content
                            | Match
                    a.ui.card(href='https://www.okcupid.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/okcupid.png` style="width: 200px; height: 50px; margin-top: 25px; margin-bottom: 25px;" alt="okcupid")
                        .content
                            | Okcupid
                    a.ui.card(href='https://www.facebook.com/dating' target='_blank') 
                        .image
                            img.ui.image.centered(src=`${public_resources}/images/modules/romance/trusted_facebook.svg`  style="width: 100px; height: 100px;" alt="facebook dating")
                        .content
                            | Facebook Dating
                    a.ui.card(href='https://www.singles50.com/' target='_blank')
                        .image
                            img.ui.small.image.centered(src=`${public_resources}/images/modules/romance/trusted_singles50.png` style="height: 100px; width: 100px;" alt="singles 50")
                        .content
                            | Singles50


            i.source [12]
                a(href='https://azbigmedia.com/lifestyle/10-apps-where-people-are-scammed-the-most-in-2021/' target='_blank') 'AZ Big Media, 10 Apps Where People Were Scammed the Most in 2021'
                | & 
                a(href='https://www.quora.com/What-are-the-most-popular-chat-apps-used-by-scammers' target='_blank') 'Quora Most Popular Chat Apps Used by Scammers'
            