
extends ../ui_layout-esp
//- TODO: Fix spacing issues at the top of the feed
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.fixed.sticky.sideMenu
      .ui.vertical.menu.notMobileView
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Página principal
        a.item.notMobileView(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notificaciones
          .ui.red.right.pointing.label !
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu.mobileView
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Página principal
      a.item.mobileView(data-value='notifications')#notificationstepsMobile   
        i.icon.bell
        |  Notificaciones
        .ui.red.right.pointing.label !
    br
    br        
    
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    //-feed
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Desplaza hacia arriba y haz clic en "Seguir" para comenzar!
    .ui.fluid.card.test.feedDisplay#step0
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/m-beckett')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user17.jpg')
              span='Mary Beckett'
          .image
            img.post(src=cdn+'/post_pictures/libraryhabits.jpg')
          #step4.content
            .description="Mi forma favortia de pasar las tardes - en la biblioteca!"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user3.jpg')
                .content
                  a.author Cloe Hansen
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=2
                      |  Me gusta
                  .text()
                    | A mí también me encanta leer😊
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user5.jpeg')
                .content
                  a.author Kiki Pualani
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=2
                      |  Me gusta
                  .text()
                    | Suena bien
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/cupcake25')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user24.jpg')
              span='Jenny Chen'
          //-.image
            img.post(src="/post_pictures/testGif.gif")
          //-.ui.embed(data-src='/post_pictures/little_sheep.mp4')
          
          video(width='auto' height='310' autoplay loop controls)
            source(src=cdn + '/post_pictures/little_sheep.mp4' type='video/mp4')
          .content
            .description="Video lindo - un joven borrego cimarrón camina en el Parque Nacional del Gran Cañón"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user6.jpeg')
                .content
                  a.author Elli Andreas
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Me gusta
                  .text()
                    | k chévere 
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
                
    #step6.ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/beachmoreworryless')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user33.jpg')
              span='Sean Gomez'
          .image
            img.post(src=cdn+"/post_pictures/boardhabits.jpg")
          .content
            .description="Quién más disfruta de JUEGOS DE MESA?!??"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user10.jpg')
                .content
                  a.author Franklin Robinson
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Me gusta
                  .text()
                    | Yo!!!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
    //-#######################
    br
    //-Notifications page
    button.ui.basic.button.notificationsDisplay
      i.cog.icon
      | Ajustes
      
    button.ui.basic.button.notificationsDisplay
      i.clock.icon
      | Mi actividad
        
    .ui.raised.segment.notificationsDisplay
      .ui.feed#step2
       .event
         //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
         .label
           img(src=cdn +'/profile_pictures/user6.jpeg')
         .content
           .summary Elli Andreas comentó en la publicación de Jenny Chen: “k chévere”.
           
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user27.jpg')
        .content
          .summary A Mallory Smith le gustó la publicación de Jenny Chen: “Ver este video para aprender más de la historia de drones!!”.
    
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user40.jpg')
        .content
          .summary A Susan Turner le gustó la publicación de Mary Beckett: “Mira a este precioso muñeco de nieve😄”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user3.jpg')
        .content
          .summary Cloe Hansen comentó en la publicación de Mary Beckett: genial!!”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user17.jpg')
        .content
          .summary Mary Beckett publicó: “Mira a este precioso muñeco de nieve😄”.
    //-Settings page - this will probaly be a separate page for the free play section. keeping everything on one page for simplicity with tutorial sequence
    br
    br
block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/habits-esp/habits-esp_tutorial.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/habits/habits_tutorial.css')
  

  
    
