
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  
  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.vertical.menu
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Página principal
        a.item(data-value='notifications')#cyberTransButton
          i.icon.bell
          |  Notificaciones
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Página principal
      a.item(data-value='notifications')#cyberTransButton     
        i.icon.bell
        |  Notificaciones
    br
    br
      
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning.hidden#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Desplaza hacia arriba y haz clic en "Seguir" para comenzar!
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda? 
            p ¡Asegúrate de que estás haciendo clic en "Entendido" en los puntos azules!
            
        .ui.message.centered.success.hidden#nextPageInstruction
          .content
            .ui.header ¡Haz clic en "Notificaciones" para seguir! 
            
        .ui.icon.message.warning.hidden#notificationWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header ¡Todavía quedan puntos azules!
            p Haz clic en todos los puntos azules antes de ir a la página de notificaciones.
          
    #step0.ui.fluid.card.test.feedDisplay.removeTopMargin
          .content#hint1
            .right.floated.meta= "Ayer"
            |
            a(href='/user/zachpeters06')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user67.jpg')
              span='Zach Peters'
          .image
            img.post(src=cdn+'/post_pictures/wallpaper_habit.jpg')
          #step4.content
            .description="miren mi nuevo fondo de pantalla 😍"
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2        
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user21.jpg')
                .content
                  a.author David Cole
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=2
                      |  Me gusta
                  .text()
                    | tengo uno así en mi iPad!!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar    
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user22.jpeg')
                .content
                  a.author Lana Sheehan
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=2
                      |  Me gusta
                  .text()
                    | chévere
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon#sendComment1
                
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test.feedDisplay
          .content#hint2
            .right.floated.meta= "Ayer"
            |
            a(href='/user/cloe.htt')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user3.jpg')
              span='Cloe Hansen'
          .image
            img.post(src=cdn+"/post_pictures/sunset_friends_habits.jpg")
          .content
            .description="les amo como a unas hermanas <3 "
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=3    
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user46.jpg')
                .content
                  a.author Dylan Friedman 
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=3
                      |  Me gusta
                  .text()
                    | LYLAS &gt;3 
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar    
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user47.jpeg')
                .content
                  a.author Ariel Simon 
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=3
                      |  Me gusta
                  .text()
                    | tqm 
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar        
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user69.jpg')
                .content
                  a.author Hannah Cohn
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=3
                      |  Me gusta
                  .text()
                    | tanto amor por ustedes
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar                  
            .extra.content
              .ui.fluid.left.labeled.right.icon.input
                .ui.label
                  img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
                input.newcomment(type='text' placeholder='Escribir un comentario')
                i.big.send.link.icon
                                                            
    .ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/jlp777')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user13.png')
              span='Jason Perez'
          .image
            img.post(src=cdn+"/post_pictures/theater_habits.jpg")
          .content
            .description="¡Preparándome para el estreno esta noche! "
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=1  
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user70.JPG')
                .content
                  a.author Zoe Goodall
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Me gusta
                  .text()
                    | mucha suerte ;)!
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar    
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Escribir un comentario')
              i.big.send.link.icon
                              
    .ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/gracieeeeee82')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user62.jpg')
              span='Grace Burns'
          .image
            img.post(src=cdn+"/post_pictures/cafe_aesthetic_habits.jpg")
          .content
            .description="~ las vibras del café ~"
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2    
          .content
            .ui.comments  
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user71.JPG')
                .content
                  a.author Andrew Thomas
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Me gusta
                  .text()
                    | este estético 🙌🏽
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar              
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user72.jpg')
                .content
                  a.author Gabby Rogers
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Me gusta
                  .text()
                    | es este el nuevo lugar que se abrió??
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar        
            .extra.content
              .ui.fluid.left.labeled.right.icon.input
                .ui.label
                  img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
                input.newcomment(type='text' placeholder='Escribir un comentario')
                i.big.send.link.icon
                    
    .ui.fluid.card.test.feedDisplay#addBottomMargin
          .content
            .right.floated.meta= "Ayer"
            |
            a(href='/user/goaliegirl')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user29.jpg')
              span='Breana Summers'
          .image
            img.post(src=cdn+"/post_pictures/code_habits.jpg")
          .content
            .description="primer proyecto de programación, acabado ✅"
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Responder
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Reportar
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Me gusta
              a.ui.basic.red.left.pointing.label.count=2
          .content
            .ui.comments  
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user73.JPG')
                .content
                  a.author Noah Alpern
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Me gusta
                  .text()
                    | gUAU
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar      
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user74.jpg')
                .content
                  a.author Ryan Freyer
                  .metadata
                    span.date Ayer
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Me gusta
                  .text()
                    | tú codificas???
                  .actions
                    a.comment.like Me gusta
                    a.comment.flag Reportar      
            .extra.content
              .ui.fluid.left.labeled.right.icon.input
                .ui.label
                  img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
                input.newcomment(type='text' placeholder='Escribir un comentario')
                i.big.send.link.icon
    br   
    br         
      
block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/habits-esp/habits-esp_sim.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_sim-esp.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/habits/habits_sim.css')
  link(rel='stylesheet', href='/css/sim.css')
