
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.vertical.menu
        a.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Página principal
        a.active.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notificaciones
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Página principal
      a.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notificaciones
        .ui.red.right.pointing.label !
    br
    br

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Asegúrate de que estás haciendo clic en "Entendido" en los puntos azules!
            
        .ui.message.centered.success.hidden#nextPageInstruction
          .content
            .ui.header ¡Haz clic en "Ajustes" para seguir! 
            
        .ui.icon.message.warning.hidden#notificationWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header ¡Todavía quedan puntos azules!
            p Haz clic en todos los puntos azules antes de ir a la página de ajustes.
          
    //-#######################
    //-Notifications page  
    .ui.stackable.secondary.menu
      .ui.container
        .item
          button.ui.basic.button.notificationsDisplay.settingsButton
            i.cog.icon
            |   Ajustes
        .item
          button.ui.basic.button.notificationsDisplay#activityButton
            i.clock.icon
            |   Mi actividad
      
    .ui.raised.segment.notificationsDisplay#hint2
     .ui.feed
      .event        
        .label
          img(src=cdn +'/profile_pictures/user22.jpeg')
        .content
          .summary Lana Sheehan comentó en la publicación de Zach Peters: “chévere”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event      
        .label
          img(src=cdn +'/profile_pictures/user69.jpg')
        .content
          .summary Hannah Cohn comentó en la publicación de Cloe Hansen: “tanto amor por ustedes”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event      
        .label
          img(src=cdn +'/profile_pictures/user3.jpg')
        .content
          .summary Cloe Hansen publicó: “les amo como a unas hermanas <3”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event    
        .label
          img(src=cdn +'/profile_pictures/user28.jpg')
        .content
          .summary A Corey King le gustó la publicación de Grace Burns: “~ las vibras del café ~”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event      
        .label
          img(src=cdn +'/profile_pictures/user13.png')
        .content
          .summary Jason Perez publicó: “¡Preparándome para el estreno esta noche!”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        .label
          img(src=cdn +'/profile_pictures/user72.jpg')
        .content
          .summary Gabby Rogers comentó en la publicación de Grace Burns: “es este el nuevo lugar que se abrió??”.

    .ui.raised.segment.notificationsDisplay#cyberTransButton
     .ui.feed
      .event
        .label
          img(src=cdn +'/profile_pictures/user62.jpg')
        .content
          .summary Grace Burns publicó: “~ las vibras del café ~”.        
    br
    br
block scripts
  script(src="/module_js/habits-esp/habits-esp_sim2.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_sim-esp.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/habits/habits_sim.css')
  link(rel='stylesheet', href='/css/sim.css')
