
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Sube y dale clic a “Siguiente” para comenzar!
        
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Asegúrate de que estás haciendo clic en "Entendido" en los puntos azules!
          
        .ui.icon.message.warning#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header ¡Todavía quedan puntos azules por encontrar!
            p Haz clic en todos los puntos azules para seguir
            
    #step1.ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | ¡Has reportado esto!
              h3.ui.inverted.header
                span 
                  | Los administradores del TestDrive van a revisar el post luego.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
              span='Lana Reed'
      .img.post
        img(src=cdn+'/post_pictures/calculator.jpg')
      .content
        .description ¿Alguien que me pueda ayudar con mi tarea de matemáticas?
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user66.jpeg')
            .content
              a.author Florencia Pérez
              .metadata
                span.date Ayer
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text 
                | En serio, deberías abandonar o repetir de grado si ni siquiera 
                | puedes lidiar con una tarea tan fácil.
              .actions
                a.like.comment Like
                a.flag.comment Reportar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment#hint1(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | ¡Has reportado esto!
              h3.ui.inverted.header
                span 
                  | Los administradores del TestDrive van a revisar el post luego.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user54.jpg')
              span='Ariel Simon'
      .img.post
        img(src=cdn+'/post_pictures/class_schedule.png')
      .content
        .description ¡Mira mi horario de este bimestre!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user36.jpg')
            .content
              a.author María Cristina Rodríguez
              .metadata
                span.date Ayer
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text OPD estoy muy asustada por física
              .actions
                a.like.comment Like
                a.flag.comment Reportar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-##########
    
    .ui.fluid.card.dim()
        .ui.dimmer.flag
          .content
            .center
              h2.ui.inverted.icon.header
                i.red.flag.icon
                | ¡Has reportado esto!
                h3.ui.inverted.header
                  span 
                    | Los administradores del TestDrive van a revisar el post luego.
        .content
          .right.floated.meta= "Yesterday"
          a(href='#')
                img.ui.avatar.image(src=cdn+'/profile_pictures/user66.jpeg')
                span='Emma Hanson'
        .img.post
          img(src=cdn+'/post_pictures/loser.jpg')
        .content
          .description Ana es una LOSER!
        .three.ui.bottom.attached.icon.buttons
          .ui.reply.button(tabindex='0')
            i.reply.icon
            | Responder
          .ui.flag.button(tabindex='0')#hint2
            i.flag.icon
            | Reportar
          .ui.labeled.button(tabindex='0')
            .ui.like.button
              i.heart.icon
              | Like
            a.ui.basic.red.left.pointing.label.count 2        
        .extra.content
          .ui.fluid.left.labeled.right.icon.input
            .ui.label
              img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
            input.newcomment(type='text' placeholder='Write a Comment')
            i.big.send.link.icon
    

    //-#######################
    .ui.fluid.card.dim()
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | ¡Has reportado esto!
              h3.ui.inverted.header
                span 
                  | Los administradores del TestDrive van a revisar el post luego.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user44.png')
              span='David Cole'
      .img.post
        img(src=cdn+'/post_pictures/blackbkg.jpg')
      .content
        .description 
          | A nadie le agradas. ¿Por qué vienes al colegio? @Sara Segovia
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Responder
        .ui.flag.button()
          i.flag.icon
          | Reportar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.jpg')
            .content
              a.author Susana Tapia
              .metadata
                span.date Ayer
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text Jajaja es verdad!! Ya no quiero verlo en la escuela
              .actions
                a.like.comment Like
                a.flag.comment Reportar
                a#hint3
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment#hint4(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    .ui.message.warning.hidden#confirmContinueCheck
      .ui.header 
        | Parece que no has reportado ni dejado ningún comentario en los posts de Ciberbullying.
        br 
        br
        | ¿Seguro que no deseas reportar o comentar antes de continuar?

    button.ui.big.labeled.icon.button.cybertrans.addBottomMargin#cyberTransButton
          i.rocket.icon
          | Continuar!

block scripts
  script.
    var hintsList = 
    [
      {

        hint: `Enviemos un mensaje de apoyo. Copia y pega el siguiente comentario: <i>“Valery, ¡mucha gente piensa que las matemáticas son difíciles! No te preocupes por eso”</i>.`,

        element: '#hint1',
        audioFile: ['CUSML.6.4.6.mp3']
      },
      {
        hint: `Presiona el botón <b>“reportar”</b> para notificar esta publicación al sitio web.`,

        element: '#hint2',
        hintPosition: "bottom-middle",
        audioFile: ['CUSML.6.4.7.mp3']
      },
      {
        hint: `Pulse el botón <b>“reportar”</b> para notificar este comentario al sitio web.`,

        element: '#hint3',
        audioFile: ['CUSML.6.4.8.mp3']
      },
      {
        hint: `Hay que decirle al acosador que este comportamiento no está bien. Copia y pega el siguiente comentario: 
        <i>“Chicos, Sara se enojará mucho si ve esta publicación. Deberían eliminarla”.</i>`,

        element: '#hint4',
        audioFile: ['CUSML.6.4.9.mp3']
      }
    ]
    
    var stepsList = 
    [
      {
        element: document.querySelectorAll('#step1')[0],
        intro: `Click "Next" to begin!`,
        position:'right',
        scrollTo: 'tooltip',
        audioFile: ['']
      },
      {
        element: document.querySelectorAll('#step1')[0],
        intro: "<div> <img class='ui avatar image' src='https://dhpd030vnpk29.cloudfront.net/profile_pictures/user55.jpg'/><b>Lana</b>  &  <img class='ui avatar image' src='https://dhpd030vnpk29.cloudfront.net/profile_pictures/user66.jpg'/><b>Emma</b> </div> <div>are in the same class at school. Recently, Emma has been saying a lot of mean things to Lana.</div>",
        position:'right',
        scrollTo: 'tooltip',
        audioFile: ['CUSML.6.4.4.mp3']
      },
      {
        element: document.querySelectorAll('#step1')[0],

        intro: `Aquí verás un ejemplo de lo que ha estado sucediendo.
        &nbsp;&nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp; &nbsp;  
        Haz clic en “Listo” y luego busca los puntos azules.`,

        position:'right',
        scrollTo:'tooltip',
        audioFile: ['CUSML.6.4.5.mp3']
      }

    ]

  script(src = "/module_js/voiceover.js")  
  script(src='/postFunctionalities.js')
  script(src = "/module_js/base_sim.js")
  script. 
    //- clickPost is a boolean used to track if a user completed any of the recommended actions from the blue dots. 
    //- If the user did, it is set to true.
    //- If the user didn't, it remains false, and then it is used to display a message: "It seems you did not flag any cyberbullying posts or comments, or leave any comments. Are you sure you would like to continue?"
    let clickPost = false; 
  
block styles
  link(rel='stylesheet', href='/css/sim.css')

    
