#types.hidden
    .ui.container#types-read
        .limit(style="padding: 0; margin-bottom: -30px;")
            h1.ui.header.large#learn-title(style="margin-top: 10px;")
                .content
                    i.book.icon
                    span#narrate-title-types Fabricating Emergency
            p#narrate-1-types(style="margin-top: -10px;") 
                span Grandparent scammers frequently use these fake emergencies and frightening stories to exploit grandparents' emotions to get them to send money:
            .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px;")
                i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                .content 
                    p Click the arrows to learn more.
            .ui.stackable.middle.aligned.grid#double-slider(style="margin-top: -20px;")
                .column.centered.six.wide.computer.only.ten.wide.tablet.only
                    #image-slider(style="margin: 0 auto;")
                        img(src=public_resources+'/images/modules/grandparent/types.svg' alt='Illustration of a car accident, showing a red car colliding with an orange car from the side, with tire skid marks and yellow impact sparks highlighting the moment of collision.' style="max-width: 310px; margin-left: 50px;")
                        img(src=public_resources+'/images/modules/grandparent/types-2.png' alt='Illustration depicting fake emergencies used by scammers to pressure victims. The image shows a broken window, handcuffs, and medicine bottles, representing scenarios like posting bail, paying ransom, covering medical treatment, or funding car repairs. These situations are designed to create a sense of urgency and panic in the victims.'  style="max-width: 310px; margin-left: 70px;")
                        img(src=public_resources+'/images/modules/grandparent/types-3.svg' alt='Silhouette of a cat tenderly gazing out a window at the fading sunset and emerging stars, with a small potted plant beside it, capturing a moment of quiet vulnerability and reflection' style="max-width: 310px; margin-left: 100px;")
                        .type4_container
                            img(src=public_resources+'/images/modules/grandparent/types-4.svg' alt='Law enforcement spoofed caller id' style="position: relative; left: 50%;")
                        img(src=public_resources+'/images/modules/grandparent/types-5.svg' alt='Illustration of voice-changing software, depicted by a microphone emitting sound waves and a smiling mouth above it, symbolizing the ability to mimic the voices of loved ones.' style="margin-top: 10px; max-width: 275px; margin-left: 180px;")

                .column.ten.wide.computer.only.fifteen.wide.tablet.only
                    #steps-slider
                        //- Card 1
                        .ui.basic.card
                            .content
                                h2#narrate-2-types 
                                    span Accidents
                                p   
                                    span#narrate-3-types 
                                        span The theme of a 
                                    strong#narrate-4-types  
                                        span car accident while traveling in Canada or overseas
                                    span#narrate-5-types  
                                        span is often used in grandparent scams. Scammers pretend to be the grandchildren and claim to be injured or tested positive for alcohol while driving, making the situation seem urgent and severe. Other types of accidents: being arrested/kidnapped when traveling overseas, legal troubles, medical emergencies
                                    //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                    //-     sup [1]
                        //- Card 2 
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-2 
                                    span Reasons for Requesting Money
                                p
                                    span#narrate-2-types-2  
                                        span Based on the story they use, they may ask for money for one or more of the following reasons: posting bail, paying a ransom, covering medical treatment, or funding car repairs. These reasons can easily cause 
                                    strong#narrate-3-types-2  
                                        span pressure and panic 
                                    span#narrate-4-types-2  
                                        span in grandparents, making them more susceptible to complying with the scammer's demands.
                                    //- a(href='https://www.justice.gov/criminal/criminal-fraud/identity-theft/identity-theft-and-identity-fraud.' target='_blank')
                                    //-     sup [1]
                        //- Card 3
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-3 
                                    span Prey on Vulnerable Moments
                                p#narrate-2-types-3  
                                    span The initial contact from the scammer will often come late at night when people may be disoriented or less alert, making them more vulnerable to being confused or misled.
                                p#narrate-3-types-3 
                                    span Scammers may reach out during times of bad weather, natural disasters, or other concerning events when people are already in a heightened state of worry about their loved ones' safety. This preys on the grandparents’ emotional vulnerability.   
                        //- Card 4
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-4 
                                    span Spoofing Caller ID
                                p#narrate-2-types-4  
                                    span Scammers use fake caller ID information to appear local or trusted, such as impersonating a government agency, police department, or even the law firm that the faked lawyer claims to be from. This practice is known as caller ID spoofing, allowing scammers to use any phone number they choose. Therefore, due to caller ID spoofing technology, even if the calling number is correct, you shouldn't fully trust it, as scammers can fake this number.
                                    //- a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank')
                                    //-     sup [2]
                        //- Card 5
                        .ui.basic.card
                            .content
                                h2#narrate-1-types-5
                                    span Voice-changing Software to Mimic Loved Ones
                                p#narrate-2-types-5 
                                    span Now, certain AI tools make it easy for scammers to clone your loved one's voice. They can then use this cloned voice to communicate with you and deceive you.
                                    //- a(href='https://www.aarp.org/money/scams-fraud/info-2019/social-security.html' target='_blank')
                                    //-     sup [2]


