extends ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.card
        .image
          if actor.class == 'high_read'
            img(src=actor.profile.picture)
          else
            img(src=cdn+'/profile_pictures/'+actor.profile.picture)
        .content
          a.header= actor.profile.name
          .meta="@"+actor.username
          .description=actor.profile.bio
          .description 
            i.marker.icon
            span=actor.profile.location
      button.ui.big.green.button.goBack
        i.icon.reply
        | Go back

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    if script.length === 0
      h3.centerText No Posts Yet
    each val in script
      if(val.type !== 'notification')
        include partials/script/actorPost
  .computer.only.tablet.only.four.wide.column

block scripts
  script. 
    // add humanized time to all posts
    function addHumanizedTimeToPost(){
      let target = $(this);
      var ms = parseInt(target.text(), 10);
      let time = new Date(ms);
      target.text(humanized_time_span(time));
    };
    
  script.
    $(window).on('load', () => {
      $('.right.floated.time.meta, .date.sim').each(addHumanizedTimeToPost);
      $('button.ui.big.green.button.goBack').on('click', function () {
        window.history.back();
      });
      $('.ui.sticky').sticky({
          context: '#content',
          offsent: 115
        });
    });