extends ./ui_layout

block content
  .ui.text.container.mb-9
    .ui.raised.segment.mt-6.mb-3
      .ui.blue.ribbon.label
        h3
          i.history.icon
          |  Let's review!
      .ui.basic.segment.removePadding
        .ui.mini.green.right.labeled.icon.button.showReviewSectionButton
          i.down.arrow.icon
          | Next 
      .ui.basic.segment.reviewSegment.hidden
        if transData["intro"]
          h4 !{transData["intro"]}
        each arrowPoint in transData["bulletPoints"]
          h4.ui.header
            i.arrow.circle.right.blue.icon
            .content !{arrowPoint["text"]}
          if arrowPoint["bullets"]
            each bulletPoint in arrowPoint["bullets"]
              h4.ui.header(style="margin:calc(.14285714em) 0 1rem !important;")
                i.circle.bullet.blue.icon
                .content !{bulletPoint}
        if transData["intro"]
          h4 !{transData["conclusion"]}
    .ui.warning.message#clickNextWarning
      .header
       | Click "Next"
    a(href='javascript:void(0);', onclick='javascript:clickGotIt();')
      .ui.large.labeled.icon.button.gotItButton
        i.rocket.icon
        | Got it!
            
block scripts
  script.
    const transData = !{JSON.stringify(transData)}; // startData is passed to pug file via render function in app.js
    let voiceoverMappings = {
      '.showReviewSectionButton': {
        "initialDelay": 500,
        "delay": 500,
        "files": transData["voiceoverFiles"]
      }
    };
    const nextPage = transData["nextPage"];
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_trans.js")

block styles
  link(rel='stylesheet', href='/css/trans.css')  