extends ui_layout

block content

  .sixteen.wide.column 
    br
    h3=found_class.className
    table.ui.celled.padded.table
      thead
        tr
          th Student Name
          th Presentation Pre Quiz
          th Presentation Post Quiz
          th Cyberbullying Pre Quiz
          th Cyberbullying Post Quiz
          th Digital Literacy Pre Quiz
          th Digital Literacy Post Quiz
          th Likes Pre Quiz
          th Likes Post Quiz
          th Image Pre Quiz
          th Image Post Quiz
      each student in found_class.students
        tbody
          tr
            td=student.username
            if student.pre_presentation
              td=student.pre_presentation.score 
            else
              td=""
            if student.post_presentation
              td=student.post_presentation.score 
            else
              td=""
            if student.pre_cyberbullying
              td=student.pre_cyberbullying.score 
            else
              td=""
            if student.post_cyberbullying
              td=student.post_cyberbullying.score 
            else
              td=""
            if student.pre_digital_literacy
              td=student.pre_digital_literacy.score 
            else
              td=""
            if student.post_digital_literacy
              td=student.post_digital_literacy.score 
            else
              td=""
            if student.pre_like
              td=student.pre_like.score 
            else
              td=""
            if student.post_like
              td=student.post_like.score 
            else
              td=""
            if student.pre_image
              td=student.pre_image.score 
            else
              td=""
            if student.post_image
              td=student.post_image.score 
            else
              td=""
    br
    br
    br