extends ui_layout

block content
  .ui.grid(style="margin-top: -58px;")
    .row#blue-upper
      .ui.container
        h1.ui.header.center.aligned Dashboard
        .limit(style="padding-bottom: 20px; text-align: center;")
          p#about 
            i.circular.info.pear.small.icon(style="position: relative; bottom: 2px; right: 5px; border: none !important; font-size: 0.8rem")
            | View your progress on DART Academy and alert hub updates below

    .row#white-lower
      //- Alert Hub
      .ui.container
        .limit.hub-container
          h2.ui.header#in-progress DART Alert Hub:
          a.ui(href=`#alert` alt="Begin identity theft module")
            .ui.raised.segment
              div#raised-content
                div.ui.header.hub-alert
                  i.exclamation.circle.icon
                  | Rise in Fake Gift Cards

                p.alert-info Gift cards are a fraudster’s favorite payment method. Since 2018, consumers have lost nearly $245 million to gift card scams...
                button.ui.huge.button.right.floated.alert-learn-more 
                  span Learn More →
                //-   i.arrow.right.icon
                
        //- Courses
        .limit
          h2.ui.header#in-progress My Missions:

          //- Progress Bars
          div#progress-bars-container

block styles
  link(rel='stylesheet', href='/css/mods.css')

block scripts  
  script.
    $(window).ready(function () {
      $.get('/completeModuleStatus/66915c0fc8687248f2692530', function(data) {
        console.log("Response data saved to info:");
        console.log(data);

        const progressBarsContainer = $('#progress-bars-container');
        
        data.forEach(module => {
          const progressBarHtml = `
            <div class="label">${module.moduleName.charAt(0).toUpperCase() + module.moduleName.slice(1)} Progress</div>
            <div class="ui indicating progress" data-value="${module.progress}" data-total="${module.total}" id="${module.moduleName}-progress">
              <div class="bar">
                <div class="progress"></div>
              </div>
            </div>
          `;
          progressBarsContainer.append(progressBarHtml);
        });

        data.forEach(module => {
          $(`#${module.moduleName}-progress`)
            .attr('data-total', module.total)
            .attr('data-value', module.progress)
            .progress({
              duration: 200,
              total: module.total,
              value: module.progress,
              text: {
                active: '{value} of {total} done'
              }
            });
        });
      });
    });
