extends ui_layout

block content
  .ui.grid
    .row#blue-upper
      .ui.container#blue-upper-content
        .ui.stackable.grid
          .row.vertically-center(style="background-color: transparent;")
            .ten.wide.column(style="padding-left: 20px;")
              //- h1.ui.header Recognize and Outsmart Scams
              h1.ui.header(style="color: #d6e03f; font-weight: 500; font-size: 2.5rem;") Learn to outsmart scams
              h1.ui.header(style="font-weight: 400; font-size: 1.55rem;") Courses to build your resilience against online deception
              if user
                button.ui.green.huge.cta.button.header-font(onclick="location.href='/courses';" )
                  | Browse Courses
                br
                button.ui.huge.cta.button.header-font(onclick="location.href='/dashboard';" )
                  | View Your Learning
              else
                button.ui.green.huge.cta.button.header-font(onclick="location.href='/getGuest';")
                  | Get Started
                br
                button.ui.huge.cta.button.header-font(onclick="location.href='/login';" )
                  | I’m a Returning User
            .six.wide.column
              img(src= public_resources + "/images/home/learning-together.png", alt="Illustration of older adults safely navigating the online world" style="width: 100%;")
      #testimonials-container
        .ui.container
          #testimonials
            //- Card 1
            .ui.basic.card
              .content
                .left.aligned.description
                  i.icon.quote.left
                  p#myquote The content is relevant and easy to follow. I can trust it."
                    span  - Name, PA
            //- Card 2 
            .ui.basic.card
              .content
                .left.aligned.description
                  i.icon.quote.left
                  p Learning to outsmart scams keeps me on my toes!"
                    span  - Name, PA
            //- Card 4
            .ui.basic.card
              .content
                .left.aligned.description
                  i.icon.quote.left
                  p Excellent way for people to gain confidence online."
                    span  - Name, PA

            //- Card 4
            .ui.basic.card
              .content
                .left.aligned.description
                  i.icon.quote.left
                  p Retired from work, but never from learning. Thanks DART!"
                    span  - Name, PA

            //- Card 5
            .ui.basic.card
              .content
                .left.aligned.description
                  i.icon.quote.left
                  p Watch out scammers, we're fighting back!"
                    span  - Name, PA

            //- Card 6
            .ui.basic.card
              .content
                //- .center.aligned.header Jenny Hess
                .left.aligned.description
                  i.icon.quote.left
                  p I can now help my friends and family avoid getting scammed."
                    span  - Name, PA

    .row#white-lower

      .ui.container
        .ui.stackable.grid



          .row.computer.only.tablet.only.vertically-center
            .eight.wide.column
              h2.info-header
                i.circular.globe.inverted.small.icon(style="margin-bottom: 20px;")
                | Securely engage online
                .content
                  p While the internet can improve our lives, it also presents risks. The 
                    span.sapphire Deception Awareness and Resilience Training (DART) 
                    | platform offers training to help you spot false information and avoid scams.
            .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
              img(src=public_resources + "/images/home/securely-engage2.png" alt="Image description" style="width: 90%;margin-left: 50px;")
          .row.mobile.only.vertically-center
            .eight.wide.column(style="margin: 0; padding: 0; display: flex; align-items: center;padding-bottom: 15px;")
              img(src=public_resources + "/images/home/securely-engage2.png" alt="Image description" style="width: 90%;margin-left: 50px;")
            .eight.wide.column
              h2.info-header
                i.circular.globe.inverted.small.icon
                | Securely engage online
              p While the internet can improve our lives, it also presents risks. The 
                span.sapphire Deception Awareness and Resilience Training (DART) 
                | platform offers training to help you spot false information and avoid scams.
         

          //- Second section with image on the right and text on the left
          .row(style="margin-top: 10vh;").vertically-center
            .eight.wide.column
              img(src=public_resources + "/images/home/interactive-gamified3.png" alt="Image description" style="width: 100%; margin-left: -10px;")
            .eight.wide.column(style="padding-left: 50px;")
              h2.info-header
                i.circular.dice.inverted.small.icon
                | Interactive & gamified
              p Advance through challenges, unlock badges, and immerse in 
                span.sapphire realistic digital scenarios. 
                | Master secure navigation across email, texts, social media, online shopping, banking, and beyond.

          //- Third section with image on the left and text on the right
          .row(style="margin-top: 10vh;").vertically-center
            .eight.wide.column
              h2.info-header
                i.circular.user.shield.inverted.small.icon
                | Keep others safe
              p
                span.sapphire Uncover the inner workings 
                | of online deceit. Knowledge of scammers' tricks and tactics empowers you to 
                span.sapphire protect the people you care about 
                | from online fraud.
            .eight.wide.column
              img(src=public_resources + "/images/home/keep-safe-bulb.png" alt="Protect the people in your community" style="width: 100%")







          .ui.container
            //- h2.ui.header.center.aligned#our-mission Our Mission 
            .ui.stackable.grid


    .row(style="background: #E7F3F8; margin-top: 10vh;")
      .ui.container(style="padding-top: 5vh; padding-bottom: 5vh;")
        .ui.stackable.grid(style="height: 119%;")
          .six.wide.column.computer.only
            video-js.my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='800px' height='800px' controls='' preload='none' 
            data-setup=`{ "poster": "${public_resources}/images/home/deepcover-poster.png", "aspectRatio":"1:1", "controlBar": {"pictureInPictureToggle": false}}`)
              source(src='https://dart-store.s3.amazonaws.com/deepcover-intro.mp4' type='video/mp4')
          .eight.wide.column.centered.tablet.only.mobile.only
            video-js.my_video_1.video-js.vjs-default-skin.vjs-show-big-play-button-on-pause(width='800px' height='800px' controls='' preload='none' 
            data-setup=`{ "poster": "${public_resources}/images/home/deepcover-poster.png", "aspectRatio":"1:1", "controlBar": {"pictureInPictureToggle": false}}`)
              source(src='https://dart-store.s3.amazonaws.com/deepcover-intro.mp4' type='video/mp4')


          .sixteen.wide.mobile.only.sixteen.wide.tablet.only.ten.wide.computer.only.column(style="margin: 0; padding: 0; display: flex; align-items: center;")
            .text-container(style="display: block; margin-left: 50px;")
              h2#get-app Get our companion app: Deepcover              
              p Discover your inner detective as you go on missions to take down rogue agent Walter Fang and his sneaky organization, SCAMM. Play minigames set across the globe, from the lively streets of New York to charming Tokyo.
              p Deepcover reinforces the concepts from DART Learn, helping you solidify your knowledge while having a great time!
              p Start your Deepcover adventure today, available on Google Play and the Apple App Store!
              a(href="https://apps.apple.com/us/app/deepcover/id6468587995", target="_blank", rel="noreferrer noopener" style="margin-right: 25px;")
                img(src=public_resources + "/images/home/download-app-store.svg", alt="Download on App Store", style="width: 200px; height: auto;")
              a(href="https://play.google.com/store/apps/details?id=com.whitethorngames.dartgame&hl=en_US&gl=US", target="_blank", rel="noreferrer noopener")
                img(src=public_resources + "/images/home/download-google-play.svg", alt="Download on Google Play", style="width: 200px; height: auto;")
              br
              br
              br
        //- img(src=public_resources + "/images/home/partners/partners.png" alt="Image description" style="width: 100%;")
    .row(style="background-color: white;")
      .ui.container(style="padding-top: 5vh; padding-bottom: 2vh; background-color: white;")
        h2.ui.header#partners Partners
        p Interested in partnering with us? Please visit our
          a(href="https://dartcollective.net/home/partners/" target="_blank")  company website
          |  for more information.
        br
        .ui.grid.middle.aligned
          .four.wide.column.centered
            a(href="https://www.buffalo.edu/" target="_blank")
              img(src=public_resources + "/images/home/partners/UniBuffaloLogo.svg" alt="University at Buffalo partner logo" style="width: 100%;")
          .four.wide.column.centered
            a(href="https://www2.lehigh.edu/" target="_blank")
              img(src=public_resources + "/images/home/partners/lehigh-logo.png" alt="Lehigh University partner logo" style="width: 100%;")
          .four.wide.column.centered
            a(href="https://www.cornell.edu/" target="_blank")
              img(src=public_resources + "/images/home/partners/cornell-logo.svg" alt="Cornell University partner logo" style="width: 100%;")
          .four.wide.column.centered
            a(href="https://illinois.edu/" target="_blank")
              img(src=public_resources + "/images/home/partners/UniIllinoisLogo.png" alt="University of Illinois partner logo" style="width: 100%;")          
          .four.wide.column.centered
            a(href="https://www.clemson.edu/" target="_blank")
              img(src=public_resources + "/images/home/partners/ClemsonUniLogo.png" alt="Clemson University partner logo" style="width: 100%;")
          .four.wide.column.centered
            a(href="https://www.clemson.edu/centers-institutes/aging/" target="_blank")
              img(src=public_resources + "/images/home/partners/InstituteforEngagedAgingLogo.png" alt="Clemson University Institute for Engaged Aging partner logo" style="width: 100%;")
          .four.wide.column.centered(style="text-align: center;")
            a(href="https://www.amherstcenterforseniorservices.com/" target="_blank")
              img(src=public_resources + "/images/home/partners/AmherstLogo_enhanced.png" alt="Amherst Center for Senior Services partner logo" style="width: 80%;")
          .four.wide.column(style="text-align: center;")
            a(href="https://socialmediatestdrive.org/" target="_blank")
              img(src=public_resources + "/images/home/partners/testDriveLogo.svg" alt="Social Media Test Drive partner logo" style="width: 80%;")
          .row(style="margin-top: -20px;")
            .two.wide.column
            .four.wide.column.centered
              a(href="https://www.nsf.gov/" target="_blank")
                img(src=public_resources + "/images/home/partners/NaturalSciFoundLogo.svg" alt="National Science Foundation partner logo" style="width: 100%;")
            .four.wide.column.centered
              a(href="https://whitethorngames.com/" target="_blank")
                img(src=public_resources + "/images/home/partners/WhitethornGamesLogo.png" alt="Whitethorn Games partner logo" style="width: 100%;")
            .four.wide.column.centered
              a(href="https://renouncreative.com/" target="_blank")
                img(src=public_resources + "/images/home/partners/renoun-creative-logo.svg" alt="Renoun Creative partner logo" style="width: 100%;")
            .two.wide.column


        br
  button#scrollToTop.ui.massive.blue.icon.button(onclick="window.scrollTo(0,0);")
      i.arrow.up.icon
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
  script(src='/js/header-transition.js')
  script.
    function startJiggle() {
      $('video-js')
        .transition({
          animation: 'jiggle'
      });
    }

    startJiggle();

    //- setInterval(startJiggle, 1000);
    var jiggleInterval = setInterval(startJiggle, 7000);

    $(document).ready(function(){
        $('video-js').on('click', function() {
          clearInterval(jiggleInterval);
        });

        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
        })



        $('#testimonials').slick({
          dots: false,
          arrows: true,
          infinite: true,
          speed: 800,
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 6000,
          responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }

          ]
        });



        //- For popular courses slider
        /* Referenced Source: https://codepen.io/dannyarty/pen/JjKrPOL */
        $('.slider').slick({
          slidesToShow: 2,
          slidesToScroll: 1,
          zIndex: 1,
          accessibility: true,
          arrows: true,
          dots: false,
          centerMode: true,
          variableWidth: true,
          infinite: true,
          focusOnSelect: true,
          cssEase: 'linear',
          touchMove: true,
          prevArrow:'<button class="slick-prev"> < </button>',
          nextArrow:'<button class="slick-next"> > </button>',
          responsive: [                        
              {
                breakpoint: 576,
                settings: {
                  centerMode: false,
                  variableWidth: false,
                }
              },
          ]
          });
      });

                      
block styles
  link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css')

  //- link(rel='stylesheet', href='/css/mods.css')
  link(rel='stylesheet', href='/css/home.css')
