extends ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.card
        .image
          if user.profile.picture
            img(src=cdn+'/profile_pictures/'+user.profile.picture)
          else
            img(src=user.gravatar(60))
        .content
          a.header= user.profile.name || user.email || user.id
          .meta="@Invitado/a"
          .description=user.profile.bio
          .description
            if user.profile.location
              i.marker.icon
              span=user.profile.location
        .one.ui.bottom.attached.icon.buttons
            button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
              i.write.icon
      button.ui.big.green.button.goBack
        i.icon.reply
        | Go back


  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    if posts.length === 0
      h3.centerText No Posts Yet
    each val in posts
      .ui.fluid.card
        if val.reply
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='')
              if user.profile.picture
                img(src=cdn+'/profile_pictures/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
              a(href='')
                span=user.profile.name || user.email || user.id
          .content
            .description=val.body
          .extra.content
            .ui.fluid.card
              .content
                .right.floated.time.meta= (user.createdAt.getTime() + val.reply.time)
                |  
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.reply.actor.profile.picture)
                span=val.reply.actor.profile.name
              if val.reply.picture
                .image
                  img(src="/"+val.reply.picture)
              .content
                .description=val.reply.body
          .three.ui.bottom.attached.icon.buttons
              //-.ui.reply.button(tabindex='0')
              .ui.button(tabindex='0')
                i.reply.icon
                |  Reply
              //-.ui.flag.button(tabindex='0')
              .ui.button(tabindex='0')
                i.flag.icon
                |  Flag
              if val.like
                //-.ui.red.like.button
                .ui.red.button
                  i.heart.icon
                  |  Like
              else
                //-.ui.like.button
                .ui.button
                  i.heart.icon
                  |  Like
        else
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='')
              if user.profile.picture
                img(src=cdn+'/profile_pictures/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            a(href='')
              span=user.profile.name || user.email || user.id
          .image
            img(src=cdn+'/post_pictures/'+val.picture)
          .content
            .description=val.body
          .three.ui.bottom.attached.icon.buttons
              //-.ui.reply.button(tabindex='0')
              .ui.button(tabindex='0')
                i.reply.icon
                |  Reply
              //-.ui.flag.button(tabindex='0')
              .ui.button(tabindex='0')
                i.flag.icon
                |  Flag
              if val.like
                //-.ui.red.like.button
                .ui.red.button
                  i.heart.icon
                  |  Like
              else
                //-.ui.like.button
                .ui.button
                  i.heart.icon
                  |  Like
                  
    br
    br
    br

block scripts
  script. 
    // add humanized time to all posts
    function addHumanizedTimeToPost(){
      let target = $(this);
      var ms = parseInt(target.text(), 10);
      let time = new Date(ms);

      date_formats = {
        past: [
          { ceiling: 60, text: "Hace $seconds segundos" },
          { ceiling: 3600, text: "Hace $minutes minuto" },
          { ceiling: 86400, text: "Hace $hours horas" },
          { ceiling: 2629744, text: "Hace $days días" },
          { ceiling: 31556926, text: "Hace $months meses" },
          { ceiling: null, text: "Hace $years años" }      
        ],
        future: [
          { ceiling: 60, text: "En $seconds segundos" },
          { ceiling: 3600, text: "En $minutes minuto" },
          { ceiling: 86400, text: "En $hours horas" },
          { ceiling: 2629744, text: "En $days días" },
          { ceiling: 31556926, text: "En $months meses" },
          { ceiling: null, text: "En $years años" }
        ]
      };
      //Time units must be be ordered largest -> smallest
      time_units = [
        [31556926, 'años'],
        [2629744, 'meses'],
        [86400, 'días'],
        [3600, 'horas'],
        [60, 'minuto'],
        [1, 'segundos']
      ];

      //- console.log("esp2 = " + humanized_time_span(time, date_formats, time_units));

      target.text(humanized_time_span(time, Date.now(), date_formats, time_units));
    };
    
  script.
    $(window).on('load', () => {
      $('.right.floated.time.meta, .date.sim').each(addHumanizedTimeToPost);
      $('button.ui.big.green.button.goBack').on('click', function () {
        window.history.back();
      });
    });