extends ui_layout

block content
  h2 Pick a Lesson Plan
  br

  .ui.four.stackable.link.cards

      a.ui.card(href='/guest/cyberbullying')
        .image
          img(src='/cyberbullying.jpg')
        .content
          .header="Cyberbullying"
      a.ui.card(href='/guest/digital-literacy')
        .image
          img(src='/news_social_media.png')
        .content
          .header="News in Social Media"
      a.ui.card(href='/guest/safe-posting')
        .image
          img(src='/safeposting.png')
        .content
          .header="Safe Posting"
      a.ui.card(href='/guest/presentation')
        .image
          img(src='/present.png')
        .content
          .header="Self Presentation"
      a.ui.card(href='#')
        .ui.inverted.active.dimmer.soon
          .content
            .center
              h2.ui.header
                |  Coming Soon!
        .image(style="filter: blur(1.5px);")
          img(src='/privacy.png')
        .content(style="filter: blur(1.5px);")
          .header="Social Media Privacy"
      a.ui.card(href='#')
        .ui.inverted.active.dimmer.soon
          .content
            .center
              h2.ui.header
                |  Coming Soon!
        .image(style="filter: blur(1.5px);")
          img(src='/acctspassword.PNG')
        .content(style="filter: blur(1.5px);")
          .header="Accounts and Passwords"
      a.ui.card(href='#')
        .ui.inverted.active.dimmer.soon
          .content
            .center
              h2.ui.header
                |  Coming Soon!
        .image(style="filter: blur(1.5px);")
          img(src='/digitalfootprint.png')
        .content(style="filter: blur(1.5px);")
          .header="Digital Footprints"
  br

