extends ui_layout-esp
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var path = isResearchVersion ? 'intro' : 'guest';
  .ui.container(style="text-align:right;")
    br
    form
      button.circular.ui.small.right.floated.button(formaction='/') 
        | ENG
  .ui.container(style="padding:0;")
    h2 Elije una lección
    br

    .ui.four.stackable.link.cards(style="padding-bottom:4em;")

        a.ui.card(href=`/${path}/esteem-esp`)
          .image
            .ui.blue.ribbon.label NUEVO!
            img(src=cdn+'/esteem.png')
          .content
            .header="Los altibajos de las redes sociales" 

        a.ui.card(href=`/${path}/esteem-esp`)
          .image
            .ui.blue.ribbon.label NUEVO!
            img(src=cdn+'/smhabits.png')
          .content
            .header="Hábitos saludables de las redes sociales" 

      
        //- a.ui.card(href='#')
        //-   .ui.inverted.active.dimmer.soon
        //-     .content
        //-       .center
        //-         h2.ui.header
        //-           |  Coming Soon!
        //-   .image(style="filter: blur(1.5px);")
        //-     img(src=cdn+'/acctandpasswords.png')
        //-   .content
        //-     .header="Accounts and Passwords"
