extends ui_layout

block content
  h2 Pick a Lesson Plan
  br

  .ui.four.stackable.link.cards
      //a.ui.card(href='/prequiz/presentation')
        .image
          img(src='/present.png')
        .content
          .header="Safe Posting and Self-Presentation"
      a.ui.card(href='/start/cyberbullying')
        .image
          img(src='/cyberbullying.jpg')
        .content
          .header="Cyberbullying"
      a.ui.card(href='/intro/digital-literacy')
        .image
          img(src='/news_social_media.png')
        .content
          .header="News in Social Media"
      //a.ui.card(href='/prequiz/likes')
        .image
          img(src='/likes.jpg')
        .content
          .header="The Power of Likes"
      //a.ui.card(href='/prequiz/image')
        .image
          img(src='/image.jpg')
        .content
          .header="Images and Self-Image"
