extends ui_layout

block content
  h2 Pick a Lesson Plan
  br

  .ui.four.stackable.link.cards

      a.ui.card(href='/guest/cyberbullying')
        .image
          img(src='/cyberbullying.jpg')
        .content
          .header="Cyberbullying"
      a.ui.card(href='/guest/digital-literacy')
        .image
          img(src='/news_social_media.png')
        .content
          .header="News in Social Media"
      a.ui.card(href='/guest/safe-posting')
        .image
          img(src='/safepost.jpg')
        .content
          .header="Safe Posting"
      a.ui.card(href='/guest/presentation')
        .image
          img(src='/present.png')
        .content
          .header="Self Presentation"
      //a.ui.card(href='/prequiz/image')
        .image
          img(src='/image.jpg')
        .content
          .header="Images and Self-Image"
