extends ui_layout-esp
block content
  - var cdn = "https://dhpd030vnpk29.cloudfront.net";
  - var path = isResearchVersion ? "intro" : "guest";

  .ui.container(style="padding: 0")
    br
    br
    h2 Elige una lección
    br
    .ui.four.stackable.link.cards(style="padding-bottom: 4em")

      a.ui.card(href=`/${path}/habits-esp`)
        .image
          img(src=cdn + "/smhabits.png")
        .content
          .header= "Hábitos saludables en las redes sociales"

      a.ui.card(href=`/${path}/esteem-esp`)
          .image()
            img(src=cdn + "/esteem.png")
          .content
            .header= "Los altibajos en las redes sociales"

      //- a.ui.card(href="#")
      //-     .ui.inverted.active.dimmer.soon
      //-       .content
      //-         .center
      //-           h2.ui.header
      //-             |
      //-             | ¡PRÓXIMAMENTE!
      //-     .image(style="filter: blur(1.5px)")
      //-       img(src=cdn + "/digfoot.png")
      //-     .content
      //-       .header= "Moldeando tu huella digital"


      //- a.ui.card(href=`/${path}/esteem-esp`)
      //-   .image
      //-     img(src=cdn + "/esteem.png")
      //-   .content
      //-     .header= "Los altibajos de las redes sociales"

      a.ui.card(href=`/${path}/digfoot-esp`)
        .image
          img(src=cdn + "/digfoot.png")
        .content
          .header= "Modelando tu rastro digital"

      a.ui.card(href=`/${path}/privacy-esp`)
        .image
          img(src=cdn+'/smprivacy.png')
        .content
          .header="La privacidad en las redes sociales"

      a.ui.card(href=`/${path}/accounts-esp`)
        .image()
          img(src=cdn + "/acctandpasswords.png")
        .content
          .header= "Cuentas y Contraseñas"

      a.ui.card(href=`/${path}/digital-literacy-esp`)
        .image
          img(src=cdn + '/news.png')
        .content
          .header="Las noticias en las redes sociales"
            
        a.ui.card(href=`/${path}/phishing-esp`)
          .image
            img(src=cdn+'/phishing.png')
          .content
            .header="Estafas y fraudes en línea"

      //- a.ui.card(href="#")
      //-   .ui.inverted.active.dimmer.soon
      //-     .content
      //-       .center
      //-         h2.ui.header
      //-           |
      //-           | ¡PRÓXIMAMENTE!
      //-   .image(style="filter: blur(1.5px)")
      //-     img(src=cdn + "/smprivacy.png")
      //-   .content
      //-     .header= "La privacidad en redes sociales"
