extends ui_layout
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  h2 Pick a Lesson Plan
  br

  .ui.four.stackable.link.cards(style="padding-bottom:4em;")
      a.ui.card(href='/guest/cyberbullying')
        .image
          img(src=cdn+'/cyberbullyingFinal.png')
        .content
          .header="How to Be an Upstander"
      a.ui.card(href='/guest/safe-posting')
        .image
          img(src=cdn+'/safepostingFinal.png')
        .content
          .header="Is It Private Information?"
      a.ui.card(href='/guest/digfoot')
        .image
          img(src=cdn+'/digitalfootprintFinal.png')
        .content
          .header="Shaping Your Digital Footprint"
      a.ui.card(href='/guest/presentation')
        .image
          img(src=cdn+'/presentFinal.png')
        .content
          .header="Online Identities"
      a.ui.card(href='/guest/privacy')
        .image
          img(src=cdn+'/privacy.png')
        .content
          .header="Social Media Privacy"  
      a.ui.card(href='/guest/digital-literacy')
        .image
          img(src=cdn+'/news_social_media_final.png')
        .content
          .header="News in Social Media"
      a.ui.card(href='/guest/targeted')
        .image
          img(src=cdn+'/targetedfinal.png')
        .content
          .header="Targeted Advertising"
      a.ui.card(href='/guest/habits')
        .image
          img(src=cdn +'/habitsfinal.png')
        .content
          .header="Healthy Social Media Habits"
      a.ui.card(href='/guest/phishing')
        .image
          img(src=cdn +'/phishingicon.png')
        .content
          .header="Phishing"
      a.ui.card(href='/guest/accounts')
        .image
          img(src=cdn +'/acctspassword.PNG')
        .content
          .header="Accounts and Passwords"
      //-a.ui.card(href='#')
        .ui.inverted.active.dimmer.soon
          .content
            .center
              h2.ui.header
                |  Coming Soon!
        .image(style="filter: blur(1.5px);")
          img(src=cdn+'/acctspassword.PNG')
        .content(style="filter: blur(1.5px);")
          .header="Accounts and Passwords"
