extends ui_layout
  
block content

  
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var s3 = "https://testdrive-filesystem.s3.us-east-2.amazonaws.com/"
  -//var cdn = "";
  .computer.only.tablet.only.four.wide.column
    .ui.sticky.sideMenu
      .ui.card
        .image
          if user.profile.picture
            img(src=cdn+'/profile_pictures/'+user.profile.picture)
          else
            img(src=user.gravatar(60))
        .content
          a.header(href='/me/'+mod)= user.profile.name || user.email || user.id
          .meta="@Guest"
          .description=user.profile.bio
          .description
            if user.profile.location
              i.marker.icon
              span=user.profile.location
        .one.ui.bottom.attached.icon.buttons
            button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
                i.write.icon
      
  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')  

    //- Input for creating new post at top of feed
    #newpost.ui.fluid.left.labeled.right.icon.input.habitsHomeDisplay
      .ui.label
        if user.profile.picture
          img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture)
        else
          img.ui.avatar.image(src=user.gravatar(60))
      input(type='text', placeholder='Create a post')
      i.big.photo.link.icon

    each val in script
      //- create a card for each post in val (if by user make the card a little different)
      //- if val.relativeTime - then post came from user_post (so user post, user reply to actor reply to user post)

      if val.relativeTime
        include partials/script_userPost
      //- Now we are making posts by Actors, not the USER
      
      //- This is a tageted ad post in the targeted ads module
      else
      
        block post
          include partials/script_actorPost

  
    -var post_quiz = "/results/"+mod;
    a.ui.fluid.card
      .content
        .ui.big.green.labeled.icon.button.script
          i.rocket.icon
          |   Let's Continue!
          
    br
    br
  
    include partials/script_chatBox
    
    include partials/script/newPostModal
    
    include partials/script/digitalLiteracyFlagModal

    include partials/script/digitalLiteracyModal
    
    //- View Post Info Modal
    .ui.small.popinfo.modal
      i.close.icon  
      h3.ui.header
        i.info.circle.icon 
        | Info about News Source  
      .content
          .field
            h3.ui.header#post_info_text_modual    
              |
      .actions
        .ui.positive.right.labeled.icon.button
          | Done
          i.checkmark.icon
            
    //- digfoot post checklist Modal      
    .ui.small.modal#digfoot_post_modual
      i.close.icon  
      .header How would this post influence digital footprints?
      .content
          .ui.form
             .field
               .ui.checkbox
                 input(type='checkbox')
                 label The post will have a negative impact on this person’s digital footprint.
             .field
               .ui.checkbox
                 input(type='checkbox')
                 label This person was sharing something that they might later regret.
             .field
               .ui.checkbox
                 input(type='checkbox')
                 label The post was not considerate of other people’s digital footprints.
             .field
               .ui.checkbox
                 input(type='checkbox')
                 label The post will not have an impact on this person’s digital footprint. 
             .field
               .ui.checkbox
                 input(type='checkbox')
                 label This was a responsible post that will create a positive digital footprint.

      .actions
        .ui.positive.right.labeled.icon.button
          | Done
          i.checkmark.icon      
         

block scripts
  script(src='/module_js/script.js')
  block scripts2
    -         
    
     
block styles
  link(rel='stylesheet', href='/css/script.css')
