-var cdn = "https://dhpd030vnpk29.cloudfront.net";
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=csrfToken)
    meta(name='isDataCollectionEnabled', content=process.env.enableDataCollection)
    meta(name='isResearchVersion', content=process.env.isResearchVersion)
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="content-language" content="en_US")
    meta(name='twitter:card' content="summary")
    meta(name='twitter:title' content="Social Media TestDrive for Research")
    meta(name='twitter:description' content="Welcome to the research version of Social Media TestDrive!")
    meta(name='twitter:image' content='https://dhpd030vnpk29.cloudfront.net/squareLogo.png')
    meta(property='og:url' content='https://researchtest.socialmediatestdrive.org/')
    meta(property='og:title' content="Social Media TestDrive for Research")
    meta(property='og:description' content='Welcome to the research version of Social Media TestDrive!')
    meta(property='og:image' content='https://dhpd030vnpk29.cloudfront.net/squareLogo.png')
    title #{title} - Social Media TestDrive
    link(rel='shortcut icon', href=cdn+'/favicon.ico')
    //- link(rel='manifest', href='/manifest.json')
    //link(rel='stylesheet', href='/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', integrity='sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=', crossorigin='anonymous')
    link(rel='stylesheet', href=cdn+'/js/lib/introjs.min.css')

    link(rel='stylesheet', href='/css/header.css') 
    //-link(rel='stylesheet', href='/js/themes/introjs-nassim.css')
    block styles
    
    style(type='text/css').
      body {
      background-color: #F5F8FA;
      padding: 0em;
      
      }
      .menu .newpost {
        visibility: hidden;
      }
      .testDriveBlueButton {
        background-color: #14a1f6 !important;
        color: white !important;
      }
      .ui.steps .step:after {
        width: 18px !important;
        height: 18px !important;
      }
      .welcomePageCard{
        width: 350px !important;
      }
      .welcomeButton{
        font-size: 22px !important;
      }
      .endPageButton{
        max-width: 100%;
        width: 260px;
        text-align: left !important;
      }
      .hidden 
      { 
        display: none; 
      }
      .ui.menu .item img.logo {
      margin-left: 3.5em;
      }
      a
      {
        cursor: pointer;
      }
      button
      {
        cursor: pointer;
      }
      .keyTermDefinition{
        vertical-align: middle;
      }
      .ui.button
      {
        cursor: pointer;
      }
      #newpost.ui.fluid.left.labeled.right.icon.input
      {
        cursor: pointer; 
      }
      .main.container {
      margin-top: 5em;
      }
      .ui.fluid.card > .content > .description
      {
      font-size: 1.30em;
      }
      .locationtag {
        color: #929292;
      }
      .wireframe {
      margin-top: 2em;
      }
      .image-upload > input
      {
          display: none;
      }
      .image-upload img
      {
          cursor: pointer;
      }
      .introjs-hint-dot
      {
        background:#2185d0;
        border: 13px solid rgba(146,146,146,.36);
        -webkit-animation: introjspulse 2s ease-out;
        -moz-animation: introjspulse 2s ease-out;
        animation: introjspulse 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      .introjs-hint-pulse
      {
        background:#2185d0;
        width: 15px;
        height: 15px;
      }
      
      .introjs-helperLayer {    
        border: 1px solid rgba(0,149,255,.5);
        box-shadow: 0 2px 20px rgba(0,149,255,.4);
        background-color: rgba(255, 255, 255, 0);
      }
      .blueTooltip{
        border: 1px solid rgba(0,149,255,.5);
        box-shadow: 0 2px 20px rgba(0,149,255,.4);
      }
      .introjs-tooltipReferenceLayer{
        z-index: 10000005;
      }
      .introjs-tooltiptext
      {
        line-height: 120%;
        font-size: 135%;
      }
      .introjs-skipbutton.introjs-donebutton, .introjs-skipbutton.introjs-donebutton:hover
      {
        height: 22px;
        line-height: 22px !important;
        visibility: visible;
        float: right;
        border-radius: 5px;
        color: rgba(255,255,255,.9);
        background-image: linear-gradient(#21ba45,#21ba45);
        text-shadow: 0px 0px 0 #fff;
        margin-left: 5px;
        border: 0px solid #d4d4d4;
        font: 16px sans-serif;
      }
      .introjs-button.introjs-nextbutton, .introjs-button.introjs-nextbutton:hover
      {
        height: 22px;
        line-height: 22px !important;
        border-radius: 5px;
        visibility: visible;
        color: rgba(255,255,255,.9);
        background-image: linear-gradient(#2185D0,#2185D0);
        text-shadow: 0px 0px 0 #fff;
        /* float: right; */
        margin-left: 5px;
        border: 0px solid #d4d4d4;
        font: 16px sans-serif;
      }
      
      .introjs-button.introjs-prevbutton, .introjs-button.introjs-prevbutton:hover
      {
        height: 22px;
        line-height: 22px !important;
        border-radius: 5px;
        visibility: visible;
        color: rgba(255,255,255,.9);
        background-image: linear-gradient(#2185D0,#2185D0);
        text-shadow: 0px 0px 0 #fff;
        /* float: left; */
        margin-left: 5px;
        border: 0px solid #d4d4d4;
        font: 16px sans-serif;
      }
      .introjs-button, .introjs-button:hover{ 
        height: 22px;
        line-height: 22px !important;
        border-radius: 5px;
        visibility: visible;
        color: rgba(255,255,255,.9);
        background-image: linear-gradient(#21ba45,#21ba45);
        text-shadow: 0px 0px 0 #fff;
        margin-left: 5px;
        border: none;
        font: 16px sans-serif;
      }
      
      .introjs-skipbutton
      {
        visibility: hidden;
      }
      .introjs-overlay {
        visibility: hidden;
      }
      .info_button {
          border-radius: 14px;
          border:2px solid #cacacab0;
          box-sizing: border-box;
          color: #2185d0;
          background-color:#ffffff;   
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
          z-index: 9;
          text-align:center;      
          overflow: hidden;
          cursor:pointer;
      }
      .glowing-border {
          border: 2px solid #dadada !important;
          border-radius: 7px !important;
      }
      .glowing-border:focus { 
          outline: none !important;
          border-color: #9ecaed !important;
          box-shadow: 0 0 10px #9ecaed !important;
      }
      .glowing-box:hover { 
          outline: none !important;
          border-color: #9ecaed !important;
          box-shadow: 0 0 10px #9ecaed !important;
      }
      .glowing-box{
        background-color: #fff !important;
        box-shadow:
        0 0 60px 30px #fff !important,  /* inner white */
        0 0 100px 60px #f0f !important, /* middle magenta */
        0 0 140px 90px #0ff !important; /* outer cyan */
     }
      .ui.steps .step:after {
      background-color: inherit !important;
     }
     
     .computer.only.tablet.only.four.wide.column {
       height: auto !important;
     }
     
      @charset "utf-8";
      /* CSS Document */

      /* ---------- TUTORIAL CHAT ---------- */

      .live-chat body {
        background: #e9e9e9;
        color: #9a9a9a;
        font: 100%/1.5em "Droid Sans", sans-serif;
        margin: 0;
      }

      .live-chat a { text-decoration: none; }

      .live-chat fieldset {
        border: 0;
        margin: 0;
        padding: 0;
      }

      .live-chat h4, h5 {
        line-height: 1.5em;
        margin: 0;
      }

      .live-chat hr {
        background: #e9e9e9;
          border: 0;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          height: 1px;
          margin: 0;
          min-height: 1px;
      }

      .live-chat img {
          border: 0;
          display: block;
          height: auto;
          max-width: 100%;
      }

      .live-chat input {
        border: 0;
        color: inherit;
          font-family: inherit;
          font-size: 100%;
          line-height: normal;
          margin: 0;
      }

      .live-chat p { margin: 0; }

      /*.clearfix { *zoom: 1; } /* For IE 6/7 */
      /*.clearfix:before, .clearfix:after {
          content: "";
          display: table;
      }
      .clearfix:after { clear: both; }*/

      /* ---------- LIVE-CHAT ---------- */

      .live-chat {
        bottom: 0;
        font-size: 12px;
        right: 24px;
        position: fixed;
        width: 300px;
        float:right;

      }

      .live-chat header {
        background: #293239;
        border-radius: 5px 5px 0 0;
        color: #fff;
        cursor: pointer;
        padding: 16px 24px;
      }

      .live-chat h4:before {
        background: #1a8a34;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 8px;
        margin: 0 8px 0 0;
        width: 8px;
      }

      .live-chat h4 {
        font-size: 12px;
      }

      .live-chat h5 {
        font-size: 10px;
      }

      .live-chat form {
        padding: 24px;
      }

      .live-chat input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 8px;
        outline: none;
        width: 234px;
      }

      .chat-message-counter {
        background: #e62727;
        border: 1px solid #fff;
        border-radius: 50%;
        display: none;
        font-size: 12px;
        font-weight: bold;
        height: 28px;
        left: 0;
        line-height: 28px;
        margin: -15px 0 0 -15px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 28px;
      }

      .chat-close {
        color: #fff;
        display: block;
        float: right;
        font-size: 10px;
        height: 16px;
        line-height: 16px;
        text-align: center;
      }

      .chat-minimize {
        color: #fff;
        display: block;
        float: right;
        font-size: 10px;
        height: 16px;
        line-height: 16px;
        text-align: center;
      }

      .chat {
        background: #fff;
      }

      .chat-history {
        height: 252px;
        padding: 8px 24px;
        overflow-y: scroll;
      }

      /*.chat-message {
        margin: 16px 0;
      }*/

      .chat-message img {
        border-radius: 50%;
        float: left;
      }

      .chat-message-content {
        margin-left: 56px;
      }

      .chat-time {
        float: right;
        font-size: 10px;
      }

      .chat-feedback {
        font-style: italic;	
        margin: 0 0 0 80px;
      }

      .helperHelper{
        background-color: #ffffff00 !important;
      }
  
    
      .introjs-fixedTooltip {
         position: absolute;
      }

      .introjs-fixParent {
        position: static;
      }
      .chat {
        /*width: 490px;
        float: left;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;*/
        bottom: 0px;
        font-size: 12px;
        right: 24px;
        position: fixed;
        width: 275px;
        float:right;
      }
      .chat .chat-header {
        /*padding: 20px;
        border-bottom: 2px solid white;*/
                background: #293239;
        border-radius: 5px 5px 0 0;
        color: #fff;
        cursor: pointer;
        padding: 16px 24px;
      }
      .chat .chat-header img {
        float: left;
      }
      .chat .chat-header .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
      }
      .chat .chat-header .chat-with {
        font-weight: bold;
        font-size: 16px;
      }
      .chat .chat-header .chat-num-messages {
        color: #92959E;
      }
      .chat .chat-header .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
      .chat .chat-history {
        /*padding: 30px 30px 20px;
        overflow-y: scroll;
        height: 575px;*/

        height: 252px;
        border-bottom: 2px solid #e0dcdc;
        padding: 10px 10px;
        overflow-y: scroll;
      }
      .chat .chat-history .message-data {
        margin-bottom: 15px;
      }
      .chat .chat-history .message-data-time {
        color: #a8aab1;
        padding-left: 6px;
      }
      .chat .chat-history .message {
        color: white;
        padding: 10px 10px;
        line-height: 15px;
        font-size: 14px;
        border-radius: 7px;
        margin-bottom: 8px;
        width: 100%;
        position: relative;
      }
      .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #DCDCDC;
        border-width: 10px;
        margin-left: -10px;
      }
      .chat .chat-history .my-message {
        background: #DCDCDC;
        color: black;
      }
      .chat .chat-history .other-message {
        background: #2185d0;
      }
      .chat .chat-history .other-message:after {
        border-bottom-color: #2185d0;
        left: 93%;
      }
      .chat .chat-message {
        padding: 15px;
      }
      .chat .chat-message textarea {
        width: 100%;
        padding: 5px 10px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 5px;
        border-radius: 5px;
        resize: none;
      }
      .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
      }
      .chat .chat-message button {
        float: right;
        color: #2185d0;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;
      }
      .chat .chat-message button:hover {
        color: #75b1e8;
      }

      .online, .offline, .me {
        margin-right: 3px;
        font-size: 10px;
      }

      .online {
        color: #DCDCDC;
      }

      .offline {
        color: #E38968;
      }

      .me {
        color: #2185d0;
      }

      .align-left {
        text-align: left;
      }

      .align-right {
        text-align: right;
      }

      .float-right {
        float: right;
      }

      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      .chat-history ul {
        list-style:none;
        margin: 5px;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      .ui.footer { /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      
      /*------Highlight on hover------*/
      
      .highlightOnHover {
        color: black;
        background-color: #FFFFA6;
      }
      .highlightOnHover:hover {
        color: black;
        background-color: #FFFF00;
      }
      
      .ui.vertical.menu a.item{
        color:black;
        background: rgba(0,0,0,.05);
      }
      .ui.vertical.menu a.item:hover{
        color:black;
        background: white;
      }
      .ui.vertical.menu a.item.active{
        color:black;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        background: white;
      }
      .ui.vertical.menu a.item.active:hover{
        color:black;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        background: white;
      }
  
  
      
      
      /*------Enlarge text on hover------*/
      .bigTextOnHover {
        color: black;
        font-size: 100%;
      }
      .bigTextOnHover:hover {
        color: black;
        font-size: 125%;
      }
      
      /*------Grey out text-------*/
      .greyOut {
        color: #A9A9A9
      }
      
      /*-----settings page sublabels------*/
      
      .settingSmallLabel {
        font-weight: normal;
        font-size: 65%;
      }
      
      .addBottomMargin{
        margin-bottom: 4em;
      }
      

      
  //-script.
    if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('/service-worker.js')
    .then(function(reg){
    console.log("Yes, it did.");
    }).catch(function(err) {
    console.log("No it didn't. This happened: ", err)
    });
    }

  body
    .ui.vertically.padded.grid.container
      include partials/ui_header
      include partials/ui_flash
      block content
     
      .ui.small.basic.share.modal
        .ui.icon.header
          i.share.icon
          |     You have shared this post!
        .actions(style="text-align:center;")   
          .ui.green.ok.inverted.button
            i.checkmark.icon
            |   Done              
    include partials/ui_footer
    

    script(src=cdn+'/js/lib/jquery-3.1.1.min.js')
    script(src=cdn+'/js/lib/humanized_time_span.js')
    script(src=cdn+'/js/lib/lazyload.transpiled.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js')
    script(src=cdn+'/js/lib/intro.min.js')
    script(src=cdn+'/js/lib/zxcvbn.js')
    //script(src='/semantic/dist/semantic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js', integrity='sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=', crossorigin='anonymous')
    
    //script(src=cdn+'/js/research_main1.js')
    script(src='/main.js')
    block scripts
    //- // Google Analytics: change UA-XXXXX-X to be your site's ID
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-145467622-2')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag('config', 'UA-145467622-2');
    //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //-   ga('create', 'UA-XXXXX-X', 'auto');
    //-   ga('send', 'pageview');
