-var cdn = "https://dhpd030vnpk29.cloudfront.net";
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=csrfToken)
    meta(name='isDataCollectionEnabled', content=process.env.enableDataCollection)
    meta(name='isShareActivityDataEnabled', content=process.env.enableShareActivityData)
    meta(name='isResearchVersion', content=process.env.isResearchVersion)
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="content-language" content="en_US")
    meta(name='twitter:card' content="summary")
    if (process.env.isResearchVersion === "true")
      if (process.env.NODE_ENV === "production")
        meta(property='og:url' content='https://research.socialmediatestdrive.org/')
      else 
        meta(property='og:url' content='https://researchtest.socialmediatestdrive.org/')
      meta(property='og:title' content="Social Media TestDrive for Research")
      meta(property='og:description' content='Welcome to the research version of Social Media TestDrive!')
      meta(name='twitter:title' content="Social Media TestDrive for Research")
      meta(name='twitter:description' content="Welcome to the research version of Social Media TestDrive!")
    else 
      if (process.env.NODE_ENV === "production")
        meta(property='og:url' content='https://app.socialmediatestdrive.org/')
      else
        meta(property='og:url' content='https://test.socialmediatestdrive.org/')
      meta(property='og:title' content="DART Learn")
      meta(property='og:description' content='Welcome to DART Learn!')
      meta(name='twitter:title' content="DART Learn")
      meta(name='twitter:description' content="Welcome to DART Learn!")
    title #{title} - DART Learn
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', integrity='sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=', crossorigin='anonymous')
    link(rel='stylesheet', href=cdn+'/js/lib/introjs.min.css')
    link(type='text/css', rel='stylesheet', href='/css/header.css') 
    link(type='text/css', rel='stylesheet', href='/css/footer.css') 
    //- link(type='text/css', rel='stylesheet', href='/css/ui_layout.css') 
    link(type='text/css', rel='stylesheet', href='/css/dart.css') 


    block styles


  body
    .ui.vertically.padded.grid.container.addBottomPaddingToGrid
      include partials/ui_header
      include partials/ui_flash
      block content
      //- include partials/modal
      //- .ui.small.basic.share.modal
      //-   .ui.icon.header
      //-     i.share.icon
      //-     |     You have shared this post!
      //-   .actions(style="text-align:center;")   
      //-     .ui.green.ok.inverted.button
      //-       i.checkmark.icon
      //-       |   Done
      include partials/ui_footer
 
    script.
      // add dart.css style sheet to indentity pages (they end in /identity)
      //- let url = window.location.href;
      //- var module = url.split("/").pop();
      //- if(module === 'identity') {
      //-   console.log("THE MODULE: " + module)
      //-   // Create a link element
      //-   var linkElement = document.createElement('link');

      //-   // Set the attributes of the link element
      //-   linkElement.rel = 'stylesheet';
      //-   linkElement.type=' text/css';
      //-   linkElement.href = '/css/dart.css';

      //-   // Append the link element to the head section of the document
      //-   document.head.appendChild(linkElement);
      //-   console.log("dart.css added to identity page")
      //- }

    if process.env.instanceType == 'test'
      script(src="/js/modalMode.js")
      script(src=cdn+'/js/lib/jquery-3.1.1.min.js')
      script(src=cdn+'/js/lib/humanized_time_span.js')
      script(src=cdn+'/js/lib/lazyload.transpiled.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js', integrity="sha256-ZUdSt2scSiBqI3Tso+Al3lcqkBvgRShVrUc1pvvGGVE=" crossorigin="anonymous")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js', integrity="sha256-v8vuH0gf888S01qYrvK2hDq/RfE2au7WOLbqlPzDwOQ=" crossorigin="anonymous")
      script(src=cdn+'/js/lib/intro.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js', integrity='sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=', crossorigin='anonymous')
      - var t = '/main.js?t=' + (new Date()).getTime().toString();
      script(src=t)
    else if process.env.NODE_ENV == 'production'
      script(src=cdn+'/js/lib/jquery-3.1.1.min.js')
      script(src=cdn+'/js/lib/humanized_time_span.js')
      script(src=cdn+'/js/lib/lazyload.transpiled.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js', integrity="sha256-ZUdSt2scSiBqI3Tso+Al3lcqkBvgRShVrUc1pvvGGVE=" crossorigin="anonymous")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js', integrity="sha256-v8vuH0gf888S01qYrvK2hDq/RfE2au7WOLbqlPzDwOQ=" crossorigin="anonymous")
      script(src=cdn+'/js/lib/intro.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js', integrity='sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=', crossorigin='anonymous')
      script(src=cdn+'/js/main23.js?v=1')
      //- script(src='/module_js/js/main.js')
    else
      script(src=cdn+'/js/lib/jquery-3.1.1.min.js')
      script(src=cdn+'/js/lib/humanized_time_span.js')
      script(src=cdn+'/js/lib/lazyload.transpiled.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js', integrity="sha256-ZUdSt2scSiBqI3Tso+Al3lcqkBvgRShVrUc1pvvGGVE=", crossorigin="anonymous")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.js', integrity="sha256-uMIfMa67pYMwbPxTsdF1v1dvkFLfZ9DPZpjGQfi+6DI=", crossorigin="anonymous")
      script(src=cdn+'/js/lib/intro.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js', integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=", crossorigin="anonymous")
      - var t = '/main.js?t=' + (new Date()).getTime().toString();
      script(src=t)

    block scripts

    // Google Analytics
    if process.env.isResearchVersion !== 'true'
      if process.env.NODE_ENV === 'production'
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-145467622-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-145467622-1');
      else if process.env.instanceType !== 'test'
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-145467622-2')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-145467622-2');
