#activity5.hidden
    .ui.container(style="width: 90vw;")
        .limit(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.up.icon
                    | Addiction Treatment dsfvsdasx

            .ui(style="padding: 5px; z-index: 99;")
                .content 
                    p#narrate-2-intro-video 
                      span Your friend David has been dealing with chronic headaches and, after becoming dependent on his current medication, is struggling to stop using it. He recently found a website promoting a new medication that claims to help with addiction to headache drugs and, intrigued by positive testimonials, is eager to try it. Unsure of its legitimacy and effectiveness, he asks for your help to investigate the product together to make a safe, informed decision.

            .ui.centered.stackable.grid
                .ten.wide.column
                  .ui.blue.top.attached.tabular.menu
                    a.active.item(data-tab="Home") Home
                    a.item(data-tab="Research") Research
                    a.item(data-tab="Custumers") Custumers
                    a.item(data-tab="Contacts") Contacts
                  .ui.bottom.attached.active.tab.segment(data-tab="Home")
                      h2 ReVivoXyn 
                      .ui.centered.stackable.grid
                        .eleven.wide.column
                          p Are you tired of fighting an endless battle against addiction? Tired of painful withdrawals and disappointing relapses? Finally, there's a solution that really works - and it's 100% natural!
                          p ReVivoXyn, a revolutionary herbal supplement, targets the root causes of addiction, helping to overcome cravings and withdrawal in 30 days—without harsh side effects. 
                          p Clinically tested and developed by experts at ReVivoXyn Labs, this formula combines ancient plant remedies with cutting-edge science to reset neurotransmitters and flush out toxins, empowering you to regain control over addiction.
                        .five.wide.column
                          img.ui.medium.image(src=`${public_resources}/images/modules/medication/practice_ReVivoXy.png`)

                  .ui.bottom.attached.tab.segment(data-tab="Research")
                      h2 ReVivoXyn Experts 
                      .ui.centered.stackable.grid
                        .five.wide.column
                          img.ui.medium.image(src=`${public_resources}/images/modules/medication/practice-doctor-collins.png` style='')
                        .eleven.wide.column
                          p Michael Collins, Ph.D.
                          p Dr. Collins is the Global Head of R&D at ReVivoXyn Labs, bringing over 20 years of experience in early drug discovery and development. Prior to his current role, Dr. Collins served as the Project Director for the Division of Therapeutics at the National Institute on Drug Abuse (NIDA) and co-authored 34 peer-reviewed journal articles. 


                  .ui.bottom.attached.tab.segment(data-tab="Custumers")
                    h3 Hear From Our Customers About ReVivoXyn
                    .ui.three.column.grid
                      .column(style="padding:1")
                        .ui.card
                          .content
                            img.ui.avatar.image(src=`${public_resources}/images/shared_sources/filler.png`)
                            | John D.
                            span.right.floated.meta Chicago
                          .content
                            p "I was addicted to opioids for over 10 years. I tried everything - rehab, therapy, other meds - but nothing worked until ReVivoXyn. After just 30 days on this miracle supplement, I was cured! No withdrawals, no cravings. I finally have my life back."
                        
                      .column(style="padding:1")
                        .ui.card
                          .content
                            img.ui.avatar.image(src=`${public_resources}/images/shared_sources/filler.png`)
                            | Rebecca M.
                            span.right.floated.meta Miami
                          .content
                            p "My son was hooked on meth and it was destroying our family. We had given up hope until we found ReVivoXyn. In less than a month, the difference was like night and day. He's clean, healthy, and finally the son I remember. Words can't express my gratitude."

                        
                      .column(style="padding:1")
                        .ui.card
                          .content
                            img.ui.avatar.image(src=`${public_resources}/images/shared_sources/filler.png`)
                            | Michael T.
                            span.right.floated.meta Seattle
                          .content
                            p "Alcohol had taken over my life. I lost my job, my wife, everything. ReVivoXyn helped me get sober effortlessly. It flushed the toxins from my body and reset my brain. I'm a new man thanks to this amazing product!"

                  .ui.bottom.attached.tab.segment(data-tab="Contacts")
                    .ui.centered.stackable.grid
                      h2 ReVivoXyn  
                      p Guaranteed Results or Your Money Back! We're so confident ReVivoXyn will free you from addiction that we offer a 60-day money-back guarantee. Regain your life today risk-free!
                      p Don't suffer another day. Call 1-888-REVIVOXYNNOW or visit ReVivoXynCure.com to order your 30-day supply and get a FREE bottle!
                      p Hurry, this revolutionary offer won't last long!
                      .ui.centered.stackable.grid
                        .four.column.centered.row
                          .column
                            img.ui.tiny.image(src=`${public_resources}/images/modules/medication/imprint1.png` style="margin-left:auto; margin-right:auto")
                            div(style="text-align: center") 100% Natural
                          .column
                            img.ui.tiny.image(src=`${public_resources}/images/modules/medication/imprint2.png` style="margin-left:auto; margin-right:auto")
                            div(style="text-align: center") FDA Registered

                          .column
                            img.ui.tiny.image(src=`${public_resources}/images/modules/medication/imprint3.png` style="margin-left:auto; margin-right:auto")
                            div(style="text-align: center") Gluten-free

                          .column
                            img.ui.tiny.image(src=`${public_resources}/images/modules/medication/imprint4.png` style="margin-left:auto; margin-right:auto")
                            div(style="text-align: center") Clinically Tested










                .six.wide.column#content-column(style="margin-top:auto; margin-bottom:auto")
                    .step1
                        p After reviewing the website, What claims on the website did you find most appealing? Select all that apply.
                        .ui.vertical.inverted.buttons
                            button.ui.button(data-value="appealing1") Revolutionary treatment
                            button.ui.button(data-value="appealing2") 100% Natural supplement
                            button.ui.button(data-value="appealing3") 30-day cure
                            button.ui.button(data-value="appealing4") Money-back guarantee
                            button.ui.button(data-value="appealing5") No side effects
                            button.ui.button(data-value="appealing6") Expert researchers
                            button.ui.button(data-value="appealing7") Convincing testimonials
                            button.ui.button(data-value="appealing8") Professional tone
                            button.ui.button(data-value="nothing") Unappealing
                        button.ui.button.primary#submit-button Submit
                    .step2.hidden
                        p#response-text
                        button.ui.big.teal.button#continue-button Continue

                    .step3.hidden
                      p After reviewing the website, Some claims might seem very appealing, but did you notice any red flags in the following options? Select all that apply.
                      .ui.vertical.inverted.buttons
                        button.ui.button(data-value="grandiose") A. Grandiose claims
                        button.ui.button(data-value="emotional") B. Emotional language
                        button.ui.button(data-value="satisfaction") C. Satisfaction guarantee
                        button.ui.button(data-value="discounts") D. Unrealistic discounts
                        button.ui.button(data-value="prescription-free") E. Prescription-free meds
                        button.ui.button(data-value="fda-terms") F. Misleading FDA terms
                        button.ui.button(data-value="safety") G. Misleading safety
                        button.ui.button(data-value="testimonials") H. Fake testimonials
                        button.ui.button(data-value="nothing") I. No red flags
                      button.ui.button.primary#second-submit-button Submit


                    .step4.hidden
                        p#response-text-2
                        //- button.ui.big.teal.button#continue-button Continue

                        .ui.icon.mini.message(style="padding: 5px; z-index: 99;")
                            i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                            .content 
                                p#narrate-2-intro-video 
                                    span Click the "Next" button below to move on to the next part.

script.
  document.addEventListener('DOMContentLoaded', function() {
    $('.menu .item').tab();  // Initialize Semantic UI tabs
  });
  let textSet = new Set();
  function setToString(set) {
    const array = Array.from(set);
    const length = array.length;

    if (length === 0) return ""; // Empty set
    if (length === 1) return array[0].toString(); // Single item

    return array.slice(0, -1).join(", ") + " and " + array[length - 1];
  }
  document.addEventListener('DOMContentLoaded', function () {

    const selectedValues = new Set();
    document.querySelectorAll('.step1 .ui.button').forEach(button => {
      button.addEventListener('click', function () {
        const value = this.getAttribute('data-value');
        if (!($(this).text() == "Submit")){
          textSet.add($(this).text()); // Get the text inside the button
        }
        console.log(`Selected:`); // Log or store the text as needed
        console.log([...textSet])
        if (selectedValues.has(value)) {
          selectedValues.delete(value);
          this.classList.remove('active');
        } else {
          selectedValues.add(value);
          this.classList.add('active');
        }
      });
    });

    document.getElementById('submit-button').addEventListener('click', function () {
      document.querySelector('.step1').classList.add('hidden');
      document.querySelector('.step2').classList.remove('hidden');
      const responseText = document.getElementById('response-text');
      if (selectedValues.has('nothing')) {
        responseText.innerHTML = `
          You don’t find anything appealing? That great. You are avoiding being swayed by emotional language.
        `;
      } else {
        
        responseText.innerHTML = `
          The followings are what you find more appealing to you: \n
          ${setToString(textSet)}.\n
          I agree!
        `;
      }
    });

    document.getElementById('continue-button').addEventListener('click', function () {
      textSet = new Set();
      document.querySelector('.step2').classList.add('hidden');
      document.querySelector('.step3').classList.remove('hidden');
      const secondSelectedValues = new Set();
      document.querySelectorAll('.step3 .ui.button').forEach(button => {
        button.addEventListener('click', function () {
          const value = this.getAttribute('data-value');
          if (!($(this).text() == "Submit")){
            textSet.add($(this).text()); // Get the text inside the button
          }
          console.log(`Selected:`); // Log or store the text as needed
          console.log([...textSet])
          if (secondSelectedValues.has(value)) {
            secondSelectedValues.delete(value);
            this.classList.remove('active');
          } else {
            secondSelectedValues.add(value);
            this.classList.add('active');
          }
        });
      });

      document.getElementById('second-submit-button').addEventListener('click', function () {
        document.querySelector('.step3').classList.add('hidden');
        document.querySelector('.step4').classList.remove('hidden');
        const responseText = document.getElementById('response-text-2');
        if (selectedValues.has('nothing')) {
          responseText.innerHTML = `
            All options from A to H are displaying red flags on the website, so be careful.
            Even if you didn’t spot all of them, remain cautious if you come across any of these red flags in real life.
            If you didn’t spot any, please review our module content again.
          `;
        } else {
          responseText.innerHTML = `
            Well done! All options from A to H are displaying red flags on the website homepage, so be careful. 
            Even if you didn’t spot all of them, remain cautious if you come across any of these red flags in real life.
          `;
        }
      });
    });
  });
