
extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
    .ui.card#hint1
      .image
        img(src=cdn+"/profile_pictures/user78.png")
      .content
        a.header= 'Snake Jake'
        .meta="@"+'jakethesnake'
        .description="keepin up with ur boy 🐍" 
        .description 
          i.marker.icon
          span="Cleveland, OH"
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
    #hint2.ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga4.jpg")
      .content
        .description="does anyone else feel like a goat is their spirit animal?"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user44.png')
            .content
              a.author Ebony Darkness Raven Way
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=2
                  |  Likes
              .text()
                | same. or maybe a sloth
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "2 days ago"
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga5.png")
      .content
        .description="my cuz let me ride his bike😎 shh don't tell my parents"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user44.png')
            .content
              a.author Ebony Darkness Raven Way
              .metadata
                span.date 2 days ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | shadyyyy
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.png')
            .content
              a.author My Name
              .metadata
                span.date 2 days ago
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | lol u think ur so cool
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "3 days ago"
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga6.jpg")
      .content#hint3
        .description="ugh i'm so annoyed with you know who. he's so stupid and i don't want him to come to school"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user1.png')
            .content
              a.author Fake N. Ame
              .metadata
                span.date 3 days ago
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | srsly dude
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.png')
            .content
              a.author My Name
              .metadata
                span.date 3 days ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | yeah i want him to leave lol
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    button.ui.big.labeled.icon.button.cybersim2.mb-9#cyberTransButton
        i.rocket.icon
        |   Let's Continue!
    //- Located at bottom so element doesn't take up space at top.
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
  .computer.only.tablet.only.four.wide.column 

block scripts
  script(src='/module_js/voiceover.js')    
  script(src='/postFunctionalities.js')
  script(src='/module_js/presentation/presentation_sim1.js')
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href='/css/sim.css')