extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden.noPadding.selectPostsQuestion1  
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon.yellowIcon
                | These were the posts on the timeline that were from Elena’s 
                | finsta accounts. How many did you notice?
            h3.grayElement
              i.hand.pointer.icon
              | Click on the ones that you noticed! 
            .ui.stackable.three.cards.selectablePosts
              
              .ui.fluid.card.dim()#card1
                .content
                  .right.floated.meta 20 minutes ago  
                  a(href='/user/realmellie22')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                    span elena who
                .image
                  img.post(src=cdn+"/post_pictures/spcrying.jpg")
                .content
                  .description.
                    school really sucks i just wanna quit!!!
          
            
              .ui.fluid.card.dim()#card2
                .content
                  .right.floated.meta 15 minutes ago  
                  a(href='/user/realmellie22')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                    span elena who
                .image
                  img.post(src=cdn+"/post_pictures/spselfie.jpg")
                .content
                  .description.
                    silly selfie what do u think?


              .ui.fluid.card.dim()#card3
                .content
                  .right.floated.meta 15 minutes ago  
                  a(href='/user/realmellie22')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                    span elena who
                .image
                  img.post(src=cdn+"/post_pictures/spnosering.png")
                .content
                  .description.
                    got a nose ring don't tell my parents they'll flip out lol
 
 
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment.checkOne
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt(data-questionNumber='Q1')
                  | #{reflectionData.presentation.Q1.prompt}

              .ui.form
                br
                .inline.fields
                  label(for='certainPeople', name='certainPeople') 
                  .field
                    .ui.checkbox
                      input(type='checkbox')
                      label(for='certainPeople', tabindex='0') 
                        | #{reflectionData.presentation.Q1.checkboxLabels[0]}

              .ui.form
                .inline.fields
                  label(for='casual', name='casual') 
                  .field
                    .ui.checkbox
                      input(type='checkbox')
                      label(for='casual', tabindex='0') 
                        | #{reflectionData.presentation.Q1.checkboxLabels[1]}
                
              .ui.form
                .inline.fields
                  label(for='meanPost', name='meanPost') 
                  .field
                    .ui.checkbox
                      input(type='checkbox')
                      label(for='meanPost', tabindex='0') 
                        | #{reflectionData.presentation.Q1.checkboxLabels[2]}
  

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment.radioOne
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionRadioPrompt(data-questionNumber='Q2')
                  | #{reflectionData.presentation.Q2.prompt}
              .ui.form
                br
                .inline.fields
                  .field
                    .radio.checkbox
                      input(type='radio', value="yes", name='make', tabindex='0')
                      label 
                        | #{reflectionData.presentation.Q2.radioLabels[0]}
                  .field
                    .radio.checkbox
                      input(type='radio', value="no", name='make', tabindex='0')
                      label 
                        | #{reflectionData.presentation.Q2.radioLabels[1]}
      
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q3')
                  | #{reflectionData.presentation.Q3.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='3' id="presentation_responseOne")

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection5
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q4')
                  | #{reflectionData.presentation.Q4.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='3' id="presentation_responseTwo")

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection6
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q5')
                  | #{reflectionData.presentation.Q5.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='3' id="presentation_responseThree")
            
    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    include ../partials/optInToShareActivityData.pug  
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.resultsContinueButton
          i.rocket.icon
          |   Continue

      
block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['CUSML.12.6.1.mp3']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.12.6.2.mp3']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.12.6.3.mp3']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.12.6.4.mp3']
      },
      '.voiceover_reflection5': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.12.6.5.mp3']
      },
      '.voiceover_reflection6': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.12.6.6.mp3']
      }
    };
  script(src="/module_js/presentation/presentation_results.js")
  script(src='/module_js/base_results.js?v=1')
  script(src='/module_js/voiceover.js')
  
block styles
  link(rel='stylesheet', href='/css/results.css')
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')
