
extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        img(src=cdn+"/profile_pictures/user79.jpg")
      .content
        a.header= 'ur minecraft boi'
        .meta="@"+'minecraftboi23'
        .description="Minecraft 4 life 🙌From one gamer to another, follow for a follow back!" 
        .description 
          i.marker.icon
          span="Cleveland, OH"
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
    #hint2.ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/minecraftboi23')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user79.jpg')
          span='ur minecraft boi'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga7.jpg")
      .content
        .description="Check out this new minecraft Steve toy! he's the og 🙌#minecraftsteve"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user74.jpg')
            .content
              a.author Ryan Freyer
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | Where do they sell it?
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user18.png')
            .content
              a.author Ethan Kravitz
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | steve is the best
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "4 days ago"
        a(href='/user/minecraftboi23')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user79.jpg')
          span='ur minecraft boi'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga8.jpg")
      .content
        .description="guys! check out the dope minecraft village i made"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user25.jpg')
            .content
              a.author Ella Sroni
              .metadata
                span.date 4 days ago
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | great job!!
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user74.jpg')
            .content
              a.author Ryan Freyer
              .metadata
                span.date 3 days ago
                .rating
                  i.heart.icon
                  span.num=4
                  |  Likes
              .text()
                | pretty good design
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "6 days ago"
        a(href='/user/minecraftboi23')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user79.jpg')
          span='ur minecraft boi'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga9.png")
      .content#hint3
        .description="Look at this lame minecraft sword lol it's totally trash?"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user71.JPG')
            .content
              a.author Andrew Thomas
              .metadata
                span.date 6 days ago
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | i could make a better one
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    button.ui.big.labeled.icon.button.cybertrans.mb-9#cyberTransButton
        i.rocket.icon
        |   Let's Continue!
    //- Located at bottom so element doesn't take up space at top.
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
  .computer.only.tablet.only.four.wide.column 

block scripts
  script(src='/module_js/voiceover.js')
  script(src='/postFunctionalities.js') 
  script(src='/module_js/presentation/presentation_sim2.js')
  script(src="/module_js/base_sim.js")
     
block styles
  link(rel='stylesheet', href='/css/sim.css')