
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
    .ui.card(data-hint="Here’s Jake’s finsta, jakethesnake. Only 16 of his closest friends from school follow this account.", data-position="top-left")
      .image
        img(src=cdn+"/profile_pictures/user78.png")
      .content
        a.header= 'Snake Jake'
        .meta="@"+'jakethesnake'
        .description="keepin up with ur boy 🐍" 
        .description 
          i.marker.icon
          span="Cleveland, OH"

  
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 

    #blueDotStep.ui.fluid.card.dim.test(data-hint="Here, he posts funny pictures and casual things that he would not post on his main account because he only wants his best friends to see it.", data-position="top-left")
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga4.jpg")
      .content
        .description="does anyone else feel like a goat is their spirit animal?"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user44.png')
            .content
              a.author Ebony Darkness Raven Way
              .metadata
                span.date 1 Minute ago
                .rating
                  i.heart.icon
                  span.num 2
                  |     Likes
              .text()
                | lmao same. or maybe a sloth
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga5.png")
      .content
        .description="my cuz let me ride his bike😎 shh don't tell my parents"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user44.png')
            .content
              a.author Ebony Darkness Raven Way
              .metadata
                span.date 1 Minute ago
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | lmao shadyyyy
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.png')
            .content
              a.author My Name
              .metadata
                span.date 2 Minute ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | lol u think ur so cool
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span="The admins will review this post further. We are sorry you had this experience."
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/jakethesnake')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user78.png')
          span='Snake Jake'
      .image
        img.post(src=cdn+"/post_pictures/selfpresga6.jpg")
      .content(data-hint="Even though Jake doesn’t name the person, the post is unkind and stirs up drama. Would Jake post the same thing on his public account? Remember to be kind and respectful online!", data-position="top-left")
        .description="ugh i'm so annoyed with you know who. he's so stupid and i don't want him to come to school"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user1.png')
            .content
              a.author Fake N. Ame
              .metadata
                span.date 10 Minute ago
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | srsly dude
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user43.png')
            .content
              a.author My Name
              .metadata
                span.date 15 Minute ago
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | yeah i want him to leave lol
              .actions
                a.like.comment Like
                a.flag.comment.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon

    .ui.warning.message#clickAllDotsSim(style="display:none;")
      .header
        | Click through all of the blue dots to continue
    button.ui.big.labeled.icon.button.cybersim2#cyberSim2Button
        i.rocket.icon
        |   Let's Continue!





block scripts
  script().
     
    function startIntro(){
        var hints;
        var literacy_counter = 0;
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#blueDotStep')[0],
                intro: "Click on the blue dots&nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp;to learn more...",
                position:'right',
                scrollTo:'tooltip'
              }
              
            ]
          });
          intro.start().onexit(function() {
          hints = introJs().addHints();
          console.log('hints added')
          hints.onhintclose(function(e) {
           literacy_counter++;
           if(literacy_counter == 3) {
             $("#clickAllDotsSim").hide();
             $( ".cybersim2" ).addClass("green");
           }
          });
        });
          
        //error messaging
        $('#cyberSim2Button').on('click', function() {
          if(literacy_counter != 3){
            $('#clickAllDotsSim').show();
          }
        });
      };

      $(window).on("load", function() {startIntro();});
