extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container(style="margin-bottom:4em;")
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label
            h4
              i.exclamation.triangle.icon

              | These were the posts on the timeline that were from Elena’s 
              | finsta accounts. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            .ui.fluid.card.dim()#card1
              .content
                .right.floated.meta 20 minutes ago  
                a(href='/user/realmellie22')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                  span elena who
              .image
                img.post(src=cdn+"/post_pictures/spcrying.jpg")
              .content
                .description="school really sucks i just wanna quit!!!"
        
          
            .ui.fluid.card.dim()#card2
              .content
                .right.floated.meta 15 minutes ago  
                a(href='/user/realmellie22')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                  span elena who
              .image
                img.post(src=cdn+"/post_pictures/spselfie.jpg")
              .content
                .description="silly selfie what do u think?"


            .ui.fluid.card.dim()#card3
              .content
                .right.floated.meta 15 minutes ago  
                a(href='/user/realmellie22')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user80.jpg')
                  span elena who
              .image
                img.post(src=cdn+"/post_pictures/spnosering.png")
              .content
                .description="got a nose ring don't tell my parents they'll flip out lol"
 
 
    .ui.raised.segment.checkOne
      .ui.label
        h4
          | How were the posts in Elena’s finsta different from the ones in her 
          | main account?

      .ui.form
        br
        .inline.fields
          label(for='certainPeople', name='certainPeople') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='certainPeople', tabindex='0') 
                | She posted about things that only certain people will be 
                | interested in

      .ui.form
        .inline.fields
          label(for='casual', name='casual') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='casual', tabindex='0') 
                | She posted things that are more casual or personal
        

      .ui.form
        .inline.fields
          label(for='meanPost', name='meanPost') 
          .field
            .ui.checkbox
              input(type='checkbox')
              label(for='meanPost', tabindex='0') 
                | She posted mean things about other people
  

    .ui.raised.segment.radioOne
      .ui.label
        h4
          | Did you create a post on the TestDrive timeline?
      .ui.form
        br
        .inline.fields
          .field
            .radio.checkbox
              input(type='radio', value="yes", name='make', tabindex='0')
              label Yes
          .field
            .radio.checkbox
              input(type='radio', value="no", name='make', tabindex='0')
              label No
      
    .ui.raised.segment
      .ui.label
        h4
          | How did you think about the audience when you created your post?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='3' id="presentation_responseOne")

    .ui.raised.segment
      .ui.label
        h4
          | What are the benefits of having multiple social media accounts?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='3' id="presentation_responseTwo")

    .ui.raised.segment
      .ui.label
        h4
          | What are the drawbacks of having multiple social media accounts?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='3' id="presentation_responseThree")
    include ../partials/optInToShareActivityData.pug      
    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue

      
block scripts
  script(src="/module_js/presentation/presentation_results.js")
  script(src='/optInToShareActivityData.js')
block styles
  link(rel='stylesheet', href='/css/results.css')
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')
