extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden.selectPostsQuestion1   
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon

                | These were the posts that would have a negative impact on 
                | people’s digital footprints. How many did you notice?
            br
            br
            h3.grayElement(style="color:#696969;")
              i.hand.pointer.icon
              | Click on the ones that you noticed!
            .ui.stackable.three.cards.selectablePosts
              
              .ui.fluid.card.dim()#card1
                .content
                  .right.floated.time 30 minutes ago
                  a(href='/user/k.r.h345')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user15.jpg')
                    span Keith Hernandez
                .image
                  img.post(src=cdn+'/post_pictures/angrycat2.jpg')
                .content
                  .description
                    | Does this cat remind anyone else of Mrs. Lee?? She's always 
                    | glaring at us lol. Why does she have to suck SO MUCH
          
            
              .ui.fluid.card.dim()#card2
                .content
                  .right.floated.time 48 minutes ago
                  a(href='/user/ryguy76')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user74.jpg')
                    span Ryan Freyer
                .image
                  img.post(src=cdn+'/post_pictures/facepalm.jpg ')
                .content
                  .description Lol Danny didn't want me telling anyobody but he 
                  | tripped over a rock and twisted his ankle. He is literally a 
                  | meme. 


              .ui.fluid.card.dim()#card3
                .content
                  .right.floated.time 1 hour ago
                  a(href='/user/ella_vaderrr')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                    span Ella Sroni
                .image
                  img.post(src=cdn+'/post_pictures/backtoschool.jpg')
                .content
                  .description 
                    | First day of grade 7! come over to my house at 22 Eastwood 
                    | dr if you want to hang
         
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt(data-questionNumber='Q1')
                  | #{reflectionData.digfoot.Q1.prompt}
              .ui.stackable.two.cards.checkOne
        
                .ui.fluid.card.dim()#card1
                  .content
                    .right.floated.time 30 minutes ago
                    a(href='/user/k.r.h345')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user15.jpg')
                      span Keith Hernandez
                  .image
                    img.post(src=cdn+reflectionData.digfoot.Q1.groupPostImages[0])
                  .content
                    .description
                      | #{reflectionData.digfoot.Q1.groupPostDescriptions[0]}
            
        
                .ui.fluid.card.dim()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare', name='overshare') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[0]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='regret', name='regret') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='regret')
                            label(for='regret', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[1]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate')
                            label(for='inconsiderate', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[2]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible')
                            label(for='responsible', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[3]}
                      
              .ui.stackable.two.cards.checkTwo
              
                .ui.fluid.card.dim()#card2
                  .content
                    .right.floated.time 48 minutes ago
                    a(href='/user/ryguy76')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user74.jpg')
                      span Ryan Freyer
                  .image
                    img.post(src=cdn+reflectionData.digfoot.Q1.groupPostImages[1])
                  .content
                    .description 
                      | #{reflectionData.digfoot.Q1.groupPostDescriptions[1]}
              
                .ui.fluid.card.dim.printvis()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare2', name='overshare2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare2', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[0]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='regret2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='regret2')
                            label(for='regret2', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[1]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate2')
                            label(for='inconsiderate2', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[2]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible2')
                            label(for='responsible2', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[3]}
                        
              .ui.stackable.two.cards.checkThree
              
                .ui.fluid.card.dim()#card3
                  .content
                    .right.floated.time 1 hour ago
                    a(href='/user/ella_vaderrr')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                      span Ella Sroni
                  .image
                    img.post(src=cdn+reflectionData.digfoot.Q1.groupPostImages[2])
                  .content
                    .description 
                      | #{reflectionData.digfoot.Q1.groupPostDescriptions[2]}
              
                .ui.fluid.card.dim()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare3', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[0]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='regret3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='regret3')
                            label(for='regret3', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[1]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate3')
                            label(for='inconsiderate3', tabindex='0')  
                              | #{reflectionData.digfoot.Q1.checkboxLabels[2]}
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible3')
                            label(for='responsible3', tabindex='0') 
                              | #{reflectionData.digfoot.Q1.checkboxLabels[3]}
    
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q2')
                  | #{reflectionData.digfoot.Q2.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="digfoot_responseOne")

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q3')
                  | #{reflectionData.digfoot.Q3.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="digfoot_responseTwo")

    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.results_end
          i.rocket.icon
          |   Continue
  
block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['CUSML.4.7.1.mp3']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.4.7.2.mp3']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.4.7.3.mp3']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.4.7.4.mp3']
      }
    };
  script(src="/module_js/digfoot/digfoot_results.js")
  script(src='/module_js/base_results.js')
  script(src='/module_js/voiceover.js')

block styles
  link(rel="stylesheet", href="/css/results.css")
