
extends ../ui_layout
  
block content
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    #step3.ui.fluid.card.test(postID="3")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/andrewthomas_')
              img.ui.avatar.image(src='/profile_pictures/user71.JPG')
              span='Andrew Thomas'
          .image
            img.post(src="/digfootga1.jpg")
          #step4.content
            .description="the first day after my bday and guess what i HAVE to do? clean your room says my mom"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src='/profile_pictures/user52.jpg')
                .content
                  a.author Connor McCormick
                  .metadata
                    span.date 1 Minute ago
                    i.heart.icon
                    |  2 Likes
                  .text()
                    | haha that sucks
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src='/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test(postID="3")
          .content
            .right.floated.meta= "15 Minutes Ago"
            |
            a(href='/user/Suzieee')
              img.ui.avatar.image(src='/profile_pictures/user40.jpg')
              span='Susan Turner'
          .image
            img.post(src="/digfootga3.jpg")
          .content
            .description="omg Lindsay I love you but you look ridiculous! lol"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src='/profile_pictures/user66.jpeg')
                .content
                  a.author Michelle Rose
                  .metadata
                    span.date 1 Minute ago
                    i.heart.icon
                    |  0 Likes
                  .text()
                    | lol!!
                  .actions
                    a.like Like
                    a.flag Flag
              .comment
                a.avatar
                  img(src='/profile_pictures/user30.jpg')
                .content
                  a.author Linsday Stokes
                  .metadata
                    span.date 1 Minute ago
                    i.heart.icon
                    |  0 Likes
                  .text()
                    | Hey, do you mind deleting this picture?
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src='/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-#######################
    

block scripts
  script().
    function startIntro(){
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "How can you shape your digital footprint?",
                position: 'bottom',
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step3')[0],
                intro: "Think before you post, because many things you do online will add to your digital footprint.",
                position: 'bottom',
                scrollTo: "tooltip"
              },
              {
                element: document.querySelectorAll('#step4')[0],
                intro: "Don’t overshare! Be careful not to share too much personal or private information in your posts. Think about if you want to have that info or post as a part of your digital footprint.",
                position: 'bottom',
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step5')[0],
                intro: "If someone posts something you don’t want to have as part of your digital footprint, you can ask them to delete it.",
                position: 'right',
                scrollTo: "tooltip"
              }
              
            ]
          });
          intro.start().onexit(function() {
          window.location.href='/sim/digfoot';
        });
          
      };

      $(window).on("load", function() {startIntro();});
