extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label
            h4
              i.exclamation.triangle.icon

              | These were the posts that would have a negative impact on 
              | people’s digital footprints. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            .ui.fluid.card.dim()#card1
              .content
                .right.floated.time 30 minutes ago
                a(href='/user/k.r.h345')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user15.jpg')
                  span Keith Hernandez
              .image
                img.post(src=cdn+'/post_pictures/angrycat.jpg')
              .content
                .description
                  | Does this cat remind anyone else of Mrs. Lee?? She's always 
                  | glaring at us lol. Why does she have to suck SO MUCH
        
          
            .ui.fluid.card.dim()#card2
              .content
                .right.floated.time 48 minutes ago
                a(href='/user/ryguy76')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user74.jpg')
                  span Ryan Freyer
              .image
                img.post(src=cdn+'/post_pictures/facepalm.jpg ')
              .content
                .description Lol Danny didn't want me telling anyobody but he 
                  | tripped over a rock and twisted his ankle. He is literally a 
                  | meme. 


            .ui.fluid.card.dim()#card3
              .content
                .right.floated.time 1 hour ago
                a(href='/user/ella_vaderrr')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                  span Ella Sroni
              .image
                img.post(src=cdn+'/post_pictures/backtoschool.jpg')
              .content
                .description 
                  | First day of grade 7! come over to my house at 22 Eastwood 
                  | dr if you want to hang
       
          .ui.raised.segment
            .ui.label
              h4
                | How would the following posts have a negative impact on 
                | digital footprints?
            .ui.stackable.two.cards.checkOne
      
              .ui.fluid.card.dim()#card1
                .content
                  .right.floated.time 30 minutes ago
                  a(href='/user/k.r.h345')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user15.jpg')
                    span Keith Hernandez
                .image
                  img.post(src=cdn+'/post_pictures/angrycat.jpg')
                .content
                  .description
                    | Does this cat remind anyone else of Mrs. Lee?? She's 
                    | always glaring at us lol. Why does she have to suck SO 
                    | MUCH
          
      
              .ui.fluid.card.dim()
                .content
                  .ui.form
                    .inline.fields
                      label(for='overshare', name='overshare') 
                      .field
                        .ui.checkbox
                          input(type='checkbox')
                          label(for='overshare', tabindex='0') 
                            | The poster was oversharing.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='regret', name='regret') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='regret')
                          label(for='regret', tabindex='0') 
                            | The poster was sharing something that they might 
                            | later regret.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='inconsiderate') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='inconsiderate')
                          label(for='inconsiderate', tabindex='0') 
                            | The post was not considerate of other people’s 
                            | digital footprints.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='responsible') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='responsible')
                          label(for='responsible', tabindex='0') 
                            | This was a responsible post.
                    
            .ui.stackable.two.cards.checkTwo
            
              .ui.fluid.card.dim()#card2
                .content
                  .right.floated.time 48 minutes ago
                  a(href='/user/ryguy76')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user74.jpg')
                    span Ryan Freyer
                .image
                  img.post(src=cdn+'/post_pictures/facepalm.jpg ')
                .content
                  .description 
                    | Lol Danny didn't want me telling anyobody but he tripped 
                    | over a rock and twisted his ankle. He is literally a meme. 
            
              .ui.fluid.card.dim.printvis()
                .content
                  .ui.form
                    .inline.fields
                      label(for='overshare2', name='overshare2') 
                      .field
                        .ui.checkbox
                          input(type='checkbox')
                          label(for='overshare2', tabindex='0') 
                            | The poster was oversharing.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='regret2') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='regret2')
                          label(for='regret2', tabindex='0') 
                            | The poster was sharing something that they might 
                            | later regret.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='inconsiderate2') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='inconsiderate2')
                          label(for='inconsiderate2', tabindex='0') 
                            | The post was not considerate of other people’s 
                            | digital footprints.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='responsible2') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='responsible2')
                          label(for='responsible2', tabindex='0') 
                            | This was a responsible post.
                      
            .ui.stackable.two.cards.checkThree
            
              .ui.fluid.card.dim()#card3
                .content
                  .right.floated.time 1 hour ago
                  a(href='/user/ella_vaderrr')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                    span Ella Sroni
                .image
                  img.post(src=cdn+'/post_pictures/backtoschool.jpg')
                .content
                  .description 
                    | First day of grade 7! come over to my house at 22 Eastwood 
                    | dr if you want to hang
            
              .ui.fluid.card.dim()
                .content
                  .ui.form
                    .inline.fields
                      label(for='overshare3') 
                      .field
                        .ui.checkbox
                          input(type='checkbox')
                          label(for='overshare3', tabindex='0') 
                            | The poster was oversharing.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='regret3') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='regret3')
                          label(for='regret3', tabindex='0') 
                            | The poster was sharing something that they might 
                            | later regret.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='inconsiderate3') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='inconsiderate3')
                          label(for='inconsiderate3', tabindex='0')  
                            | The post was not considerate of other people’s 
                            | digital footprints.
                  hr
                  .ui.form
                    .inline.fields
                      label(for='responsible3') 
                      .field
                        .ui.checkbox
                          input(type='checkbox', name='responsible3')
                          label(for='responsible3', tabindex='0') 
                            | This was a responsible post.
    
    .ui.raised.segment.responseOne
      .ui.label
        h4
          | What can you do in the future to make sure you have a positive 
          | digital footprint on social media? 
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="digfoot_responseOne")

    .ui.raised.segment.responseTwo
      .ui.label
        h4
          | What can you do in the future to be mindful of other people's 
          | digital footprints on social media?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="digfoot_responseTwo")
    include ../partials/optInToShareActivityData.pug
    br
    .ui.big.green.labeled.icon.button.printResponsesButton(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.resultsContinueButton
          i.rocket.icon
          |   Continue

      
block scripts
  script(src="/module_js/digfoot/digfoot_results.js")
  script(src='/optInToShareActivityData.js?v=1')
block styles
  link(rel="stylesheet", href="/css/results.css")
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')
