extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden.selectPostsQuestion1 
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon
                | These were the phishing scam posts in the timeline. How many did 
                | you notice?
            br
            br
            .ui.stackable.three.cards.selectablePosts
              
              .ui.fluid.card.dim()#card1
                .content
                  .right.floated.time 10 minutes ago
                  a(href='/user/itsmelucy')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user35.jpg')
                    span Lucy Simms
                .image
                  img.post(src=cdn+'/post_pictures/nintendo_phi.jpg')
                .content
                  .description
                    | Get a BRAND new Nintendo Switch only $19.99!!! Hurry up,
                    | this offer WILL NOT LAST 
                    span(style="color:#0000FF;")  http://goo.gl/FreeSwitch
          
              .ui.fluid.card.dim()#card2
                .content
                  .right.floated.time 50 minutes ago
                  a(href='/user/testdrive')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user91.png')
                    span Socail Media Testdrive
                .image
                  img.post(src=cdn+'/post_pictures/accountrisk_phi.png ')
                .content
                  .description
                    | !!&$!ALERT!&$!! Your account MAY BE AT RISK. 
                    | Click here to resolve
                    span(style="color:#0000FF;")  http://testdrive.info/youraccount

              .ui.fluid.card.dim()#card3
                .content
                  .right.floated.time 1 hour ago
                  a(href='/user/emmaaaaa')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user41.jpg')
                    span Emma Garcia
                .image
                  img.post(src=cdn+'/post_pictures/giftcard_phi.jpg')
                .content
                  .description
                    | You won't believe this crazy deal! I filled in a 5 minite
                    | survey and got a $500 gift card instantly!! Fill out 
                    | survey NOW
                    span(style="color:#0000FF;")  http://bit.ly/FREEGIFTS
         
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt
                  | How did you respond to these posts that were phishing scams?
              .ui.stackable.two.cards.checkOne
        
                .ui.fluid.card.dim()#card1
                  .content
                    .right.floated.time 10 minutes ago
                    a(href='/user/itsmelucy')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user35.jpg')
                      span Lucy Simms
                  .image
                    img.post(src=cdn+'/post_pictures/nintendo_phi.jpg')
                  .content
                    .description
                      | Get a BRAND new Nintendo Switch only $19.99!!! Hurry up,
                      | this offer WILL NOT LAST
                      span(style="color:#0000FF;")  http://goo.gl/FreeSwitch
            
        
                .ui.fluid.card.dim()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare', name='overshare') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare', tabindex='0') I flagged the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate')
                            label(for='inconsiderate', tabindex='0') I clicked on the link.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible')
                            label(for='responsible', tabindex='0') I ignored the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='somethingelse') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='somethingelse')
                            label(for='somethingelse', tabindex='0') I did something else.
                              
              .ui.stackable.two.cards.checkTwo
              
                .ui.fluid.card.dim()#card2
                  .content
                    .right.floated.time 50 minutes ago
                    a(href='/user/testdrive')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user91.png')
                      span Socail Media Testdrive
                  .image
                    img.post(src=cdn+'/post_pictures/accountrisk_phi.png ')
                  .content
                    .description
                      | !!&$!ALERT!&$!! Your account MAY BE AT RISK. 
                      | Click here to resolve
                      span(style="color:#0000FF;")  http://testdrive.info/youraccount
                      
                .ui.fluid.card.dim.printvis()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare2', name='overshare2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare2', tabindex='0') I flagged the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate2')
                            label(for='inconsiderate2', tabindex='0') I clicked on the link.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible2') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible2')
                            label(for='responsible2', tabindex='0') I ignored the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='somethingelse') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='somethingelse')
                            label(for='somethingelse', tabindex='0') I did something else.
                            
              .ui.stackable.two.cards.checkThree
              
                .ui.fluid.card.dim()#card3
                  .content
                    .right.floated.time 1 hour ago
                    a(href='/user/emmaaaaa')
                      img.ui.avatar.image(src=cdn+'/profile_pictures/user41.jpg')
                      span Emma Garcia
                  .image
                    img.post(src=cdn+'/post_pictures/giftcard_phi.jpg')
                  .content
                    .description
                      | You won't believe this crazy deal! I filled in a 5 minite
                      | survey and got a $500 gift card instantly!! Fill out 
                      | survey NOW
                      span(style="color:#0000FF;")  http://bit.ly/FREEGIFTS
           
              
                .ui.fluid.card.dim()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='overshare3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='overshare3', tabindex='0') I flagged the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='inconsiderate3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='inconsiderate3')
                            label(for='inconsiderate3', tabindex='0') I clicked on the link.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='responsible3') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='responsible3')
                            label(for='responsible3', tabindex='0') I ignored the post.
                    hr
                    .ui.form
                      .inline.fields
                        label(for='somethingelse') 
                        .field
                          .ui.checkbox
                            input(type='checkbox', name='somethingelse')
                            label(for='somethingelse', tabindex='0') I did something else.
                                  
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt
                  | What are some clues you can use to identify phishing scams? 
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="digfoot_responseOne")

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt
                  | Why is it important to protect yourself against phishing scams?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="digfoot_responseTwo")

    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.results_end
          i.rocket.icon
          |   Continue
          
block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['CUSML.3.8.1.mp3']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.3.8.2.mp3']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.3.8.3.mp3']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.3.8.4.mp3']
      }
    };
  script(src="/module_js/phishing/phishing_results.js")
  script(src='/module_js/base_results.js')
  script(src='/module_js/voiceover.js')
  
block styles
  link(rel='stylesheet', href='/css/results.css')
