
extends ../ui_layout
  
block content

  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
    
    //-feed
    
    .ui.fluid.card.dim.test#step0
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.

      .content
        .right.floated.meta#hint1= "Yesterday"
        |
        a(href='/user/cool.kid5386')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user63.jpg')
          span='Liam Knapke'
      .image
        img.post(src=cdn+'/post_pictures/phishingga_new.png')
      .content
        .description#hint2
          | Get BRaND nEW iPhONE for FREE!! 
          span#shortenedURL1 http://bit.ly/5Bd6hTcO
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user63.jpg')
            .content
              a.author Liam Knapke
              .metadata
                span.date Yesterday
                i.heart.icon
                |  2 Likes
              .text()
                | #iphone #deals #sale #cybermonday #shoping
              .actions
                a.like Like
                a.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author Ariel Simon
              .metadata
                span.date Yesterday
                i.heart.icon
                |  2 Likes
              .text()
                | wow cool
              .actions
                a.like Like
                a.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
            
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    .ui.fluid.card.dim.test
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/kitty.z')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user9.jpg')
          span='Katherine Zhou'
      .image
        img.post(src=cdn+"/post_pictures/pancake_phi.jpg")
      .content
        .description="Guys these are the best pancakes I've ever had #fooddreams"
        //-.right.floated.meta
          i.icon.checkmark
          | Seen by 12
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user73.JPG')
            .content
              a.author Noah Alpern
              .metadata
                span.date Yesterday
                i.heart.icon
                |  1 Like
              .text()
                | omg where did you get these pancakes from???
              .actions
                a.like Like
                a.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user70.JPG')
            .content
              a.author Zoe Goodall
              .metadata
                span.date Yesterday
                i.heart.icon
                |  1 Like
              .text()
                | #yummyinmytummy
              .actions
                a.like Like
                a.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
            
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    .ui.fluid.card.dim.test
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/sammi_bautistaxx')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user64.jpg')
          span='Samantha Bautista'
      .image
        img.post(src=cdn+"/post_pictures/phishingga_new2.jpg")
      .content
        .description
          | Universal Theme Park ticket GIVAWAY!! Fill out surrvey NOW: 
          span#shortenedURL2  http://give.away/parktix
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button#hint4(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user2.jpeg')
            .content#hint3
              a.author Ima Robot
              .metadata
                span.date Yesterday
                i.heart.icon
                |  1 Like
              .text()
                | I tried this and it really worked!!!
              .actions
                a.like Like
                a.flag Flag

      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    .ui.fluid.card.dim.test
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You&apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/im_musicool')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user32.JPG')
          span='Erika Prakash'
      .image
        img.post(src=cdn+"/post_pictures/photography_phi.png")
      .content
        .description="tryna get better at photography"
        //-.right.floated.meta
          i.icon.checkmark
          | Seen by 12
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user5.jpeg')
            .content
              a.author Kiki Pualani
              .metadata
                span.date Yesterday
                i.heart.icon
                |  3 Likes
              .text()
                | Nice pic!
              .actions
                a.like Like
                a.flag Flag

          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user8.jpg')
            .content
              a.author Rob Yang
              .metadata
                span.date Yesterday
                i.heart.icon
                |  1 Like
              .text()
                | I think you're already pretty good
              .actions
                a.like Like
                a.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
                                    
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton(style="margin-bottom:4em;")
        i.rocket.icon
        |   Let's Continue!
        
    .ui.large.long.modal#phishingModal
      i.close.icon  
      .ui.center.aligned.header WOW! Get a new iPhone!!
      .ui.one.column.centered.grid
        .image.content
         .ui.medium.centered.image
           img(src=cdn+'/post_pictures/phishingga_new.png')
         .description
           .ui.header.cardScamHeader Brand new iPhones! 
           .ui.header 
             | HURRY - only
             span(style="color:red;")  3
             |  left!!!
      .content
       .ui.header Enter your information to get this CRAZY deal! 
       .ui.form
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label First Name
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Last Name
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Birth Date
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Email Address
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Home Address
            input(readonly='')
          br
          .actions
            .ui.right.labeled.icon.button(data-tooltip="This is a phishing website! You should not enter any private information." data-position="top left")
              | SUBMIT
              i.checkmark.icon 
            .ui.negative.right.labeled.icon.button
              | CLOSE
              i.close.icon 
              
              
    .ui.large.long.modal#phishingModal2
      i.close.icon  
      .ui.center.aligned.header 
        | Universal Theme Park ticket GIVAWAY!! Fill out surrvey NOW:
      .content
        .ui.one.column.centered.grid
          .ui.green.large.statistic
            .label Fill out this survey to get  
            .value
              | FREE TICKETS

        .ui.form
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label First Name
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Last Name
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Birth Date
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Email Address
            input(readonly='')
          .field(data-tooltip="This is a phishing website! You should not enter any private information." data-position="bottom left")
            label Home Address
            input(readonly='')
          br
          .actions
           .ui.right.labeled.icon.button(data-tooltip="This is a phishing website! You should not enter any private information." data-position="top left")
             | Submit!
             i.checkmark.icon 
           .ui.negative.right.labeled.icon.button
             | Cancel
             i.close.icon  
  
block scripts
  script(src="/module_js/phishing/phishing_sim.js")
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/phishing.css')
  link(rel='stylesheet', href='/css/sim.css')
