
extends ../ui_layout
  
block content
  -const phishingWarningText = "This is a phishing website! You should not enter any private information.";
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
    .ui.fluid.card.dim#step0
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta#hint1= "Yesterday"
        a(href='/user/cool.kid5386')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user63.jpg')
          span='Liam Knapke'
      .image
        img.post(src=cdn+'/post_pictures/phishingga_new.png')
      .content
        .description#hint2
          | Get BRaND nEW iPhONE for FREE!! 
          span.blueText#shortenedURL1 http://bit.ly/5Bd6hTcO
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user63.jpg')
            .content
              a.author Liam Knapke
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=2
                  |  Likes
              .text()
                | #iphone #deals #sale #cybermonday #shoping
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author Ariel Simon
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=2
                  |  Likes
              .text()
                | wow cool
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/kitty.z')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user9.jpg')
          span='Katherine Zhou'
      .image
        img.post(src=cdn+"/post_pictures/pancake_phi.jpg")
      .content
        .description="Guys these are the best pancakes I've ever had #fooddreams"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user73.JPG')
            .content
              a.author Noah Alpern
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | omg where did you get these pancakes from???
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user70.JPG')
            .content
              a.author Zoe Goodall
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | #yummyinmytummy
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/sammi_bautistaxx')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user64.jpg')
          span='Samantha Bautista'
      .image
        img.post(src=cdn+"/post_pictures/phishingga_new2.jpg")
      .content
        .description
          | Universal Theme Park ticket GIVAWAY!! Fill out surrvey NOW: 
          span.blueText#shortenedURL2  http://give.away/parktix
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button#hint4(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user2.jpeg')
            .content#hint3
              a.author Ima Robot
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | I tried this and it really worked!!!
              .actions
                a.comment.like Like
                a.flag Flag

      include ../partials/script/components/newUserComment
    .ui.fluid.card.dim
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/im_musicool')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user32.JPG')
          span='Erika Prakash'
      .image
        img.post(src=cdn+"/post_pictures/photography_phi.png")
      .content
        .description="tryna get better at photography"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user5.jpeg')
            .content
              a.author Kiki Pualani
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | Nice pic!
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user8.jpg')
            .content
              a.author Rob Yang
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text()
                | I think you're already pretty good
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    button.ui.big.labeled.icon.button.cybertrans.mb-9#cyberTransButton
        i.rocket.icon
        |   Let's Continue!

    .ui.medium.modal#phishingModal(data-modalName="phishing_iPhoneModal")
      i.close.icon  
      .ui.center.aligned.header WOW! Get a new iPhone!!
      .content.scrolling
        .ui.medium.centered.image
          img(src=cdn+'/post_pictures/phishingga_new.png')
        .description
          .ui.header.setBigText.centered Brand new iPhones! 
          .ui.header.centered
            | HURRY - only
            span.setRed  3
            |  left!!!
      .content.scrolling
       .ui.header Enter your information to get this CRAZY deal! 
       .ui.form
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label First Name
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Last Name
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Birth Date
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Email Address
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Home Address
            input(readonly='')
          br
          .actions
            .ui.right.labeled.icon.button(data-tooltip=phishingWarningText data-position="top left")
              | SUBMIT
              i.checkmark.icon 
            .ui.negative.right.labeled.icon.button
              | CLOSE
              i.close.icon
    .ui.medium.modal#phishingModal2(data-modalName="phishing_ticketGiveawayModal")
      i.close.icon  
      .ui.center.aligned.header 
        | Universal Theme Park ticket GIVAWAY!! Fill out surrvey NOW:
      .content.scrolling
        .ui.one.column.centered.grid
          .ui.green.large.statistic
            .label Fill out this survey to get  
            .value
              | FREE TICKETS
        .ui.form
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label First Name
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Last Name
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Birth Date
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Email Address
            input(readonly='')
          .field(data-tooltip=phishingWarningText data-position="bottom left")
            label Home Address
            input(readonly='')
          br
          .actions
           .ui.right.labeled.icon.button(data-tooltip=phishingWarningText data-position="top left")
             | Submit!
             i.checkmark.icon 
           .ui.negative.right.labeled.icon.button
             | Cancel
             i.close.icon  
  
block scripts
  script(src='/module_js/base_sim_extraData.js')  
  script(src='/module_js/voiceover.js')
  script(src='/postFunctionalities.js')
  script(src="/module_js/phishing/phishing_sim.js")
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/phishing.css')
  link(rel='stylesheet', href='/css/sim.css')