
extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        //- .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
        //-   i.close.icon
        //-   i.question.icon.float
        //-   .content
        //-     .ui.header Need some help?
        //-     p Scroll up and click "Next" to begin!
    #step1.ui.fluid.card.test.padBottom.elvisFixPadding   
      .content
        .right.floated.meta= "2:05pm"
        |
        a(href='')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Logged In'
        hr
        h1 Your Friend Requests

      .ui.centered.cards
        #step2.card
          a#step3.content
            img.right.floated.medium.ui.image(src='/images/elvis-pic.jpeg')
            .header
              | Elvis Pres1ey
            .meta#mutual
              | 0 mutual friends
            .description
              | Elvis Pres1ey has requested to be your friend 
          .extra.content
            .ui.two.buttons.approveDeclineBtns       
              button#accept.ui.basic.green.button(onclick='checkTutorialStep()') Accept
              button#decline.ui.basic.red.button(onclick='completeTutorial()') Decline  
          
    #harmony-page.ui.fluid.card.dim(style = "margin-bottom:0px")
      #toploggedin.content
        a
          i#backBtn.big.arrow.left.icon
        .right.floated.meta= "2:07pm"
        |
        a(href='')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user55.jpg')
          span='Logged In'
      .profile_title(style='position: relative; top: 0; left: 0; ')
        img(style='height:10%;width:100%; z-index: 0;position: relative;\
  top: 0;\
  left: 0;\
  solid; z-index = -1' src='/profile_pictures/elvisbg.png')
        #round-pic-container
          #pic-border
            img(id="harmony-pic" src='/images/elvis-pic.jpeg')
        #buttons-menu.elvisFixNav.four.ui.bottom.attached.icon.buttons
      .bio.elvisBio(style=' width:100%;\
  padding-left: 25px; margin-top: 15%;z-index: 1')

        .populatedBio
          #userName Elvis Pres1ey 
          #profileAt  @TheRealElvisEstate
          #userAbout  king of rock 'n' roll! Visit <a>http://E1vis.com</a>
          |  for more about the king.
          .userDetails
            #location
              i.map.marker.alternate.icon
              | Memphis, Tennessee
            #joined-date
              i.calendar.alternate.outline.icon
              | Joined January 2022
        #twitterNav.ui.secondary.pointing.menu
          .right.menu
          //- a.item.active
          //-   | Home <br/>
          //-   | 688
          a.item.active
            | Posts <br/>
            | 3,162
          a.item#numFollowers
            | Followers <br/>
            | 393
          a.item
            | Following <br/>
            | 8,216
        button#followingbutton.ui.button.primary.basic(onclick='updateFollow()') Follow
        
      #feed   
        .feed-nav Posts
          | 
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posts & replies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Media
        <hr> 

        #feedPinned 
          i.map.pin.icon
          span#pinned Pinned Post
          p
          //- p Pinned Tweet
          span#feedName Elvis Pres1ey 
            | 
            span @TheRealElvisEstate 1 Dec 2022
          #opinion
            #tweet-1 Click the link below to enter in 'Elvis' #1 fan giveaway!'
            | You’ll be able to enter to win some great exclusive Elvis merchandise! Good luck!
            #space 
            |  &nbsp;
            #tweet-2  <a>http://sweepstakes/elvis.com</a> 
          img(id="harmony-pic" src='/images/elvis-pic.jpeg')
          #postButtons
              .ui.labeled.button.postButton(tabindex="0" alt="Comment" title="Comment" onclick='updateComment()')
                .ui.button.postIconBox 
                  i.comment.outline.icon#commentIcon
                a.ui.basic.label#commentLabel
                  | 0
              .ui.labeled.button.postButton(tabindex="0" alt="Share" title="Share" onclick='updateShare()')
                .ui.button.postIconBox
                  i.share.square.outline.icon#shareIcon
                a.ui.basic.label#shareLabel
                  | 2
              .ui.labeled.button.postButton(tabindex="0" alt="Like" title="Like" onclick='updateLike()')
                .ui.button.postIconBox
                  i.heart.outline.icon#likeIcon
                a.ui.basic.label#likeLabel
                  | 107

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/trolls/trolls_sim1.js")
  script(src="/module_js/voiceover.js")
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_sim.js')
  script.
    function updateFollow() {
        //- console.log("follow updating...");
        let elem = document.getElementById("followingbutton");
        let followerNum = document.getElementById("numFollowers");

        let checkText = elem.innerHTML;
        console.log(checkText);
        if(checkText === "Follow"){
          //- console.log("num 11111");
          elem.style.cssText = "background-color:#1676be !important; color: white !important"; 
          elem.innerHTML = "Following";
          followerNum.innerHTML = "Followers <br> 394";
        } else {
          //- console.log("num 22222");
          elem.style.cssText = "background-color:white !important; color: #1676be !important"; 
          elem.innerHTML = "Follow";
          followerNum.innerHTML = "Followers <br> 393";
        }
    }
  script.
    function updateComment() {
        //- console.log("comment updating...");
        let element = document.getElementById("commentIcon");
        let label = document.getElementById("commentLabel");

        if(label.innerHTML === "0"){
          element.classList.remove("outline");
          element.classList.add("blue");
          label.innerHTML = "1";
        } else {
          element.classList.remove("blue");
          element.classList.add("outline");
          label.innerHTML = "0";
        }
    }
  script.
    function updateShare() {
        //- console.log("share updating...");
        let element = document.getElementById("shareIcon");
        let label = document.getElementById("shareLabel");
      
        if(label.innerHTML === "2"){
          element.classList.remove("outline");
          element.classList.add("green");
          label.innerHTML = "3";
        } else {
          element.classList.remove("green");
          element.classList.add("outline");
          label.innerHTML = "2";
        }
    }
  script.
    function updateLike() {
        console.log("like updating...");

        let element = document.getElementById("likeIcon");
        let label = document.getElementById("likeLabel");

        if(label.innerHTML === "107"){
          element.classList.remove("outline");
          element.classList.add("red");
          label.innerHTML = "108";
        } else {
          element.classList.remove("red");
          element.classList.add("outline");
          label.innerHTML = "107";
        }
    }
  script.
    function completeTutorial() {
      let element = document.getElementsByClassName('introjs-donebutton');
      console.log(element[0]);
      if(element[0] === undefined){
        // not yet at last step, don't complete the tutorial
      } else {
        // done button exists signifying last step, complete tutorial and move on to next page
        window.location.href="/sim2/trolls";
      }
    }
  //- script.
  //-   function checkTutorialStep() {
  //-     let element = document.getElementsByClassName('introjs-tooltiptext');
  //-     if(element[0] === undefined){
  //-       //- console.log("Nope, its undefined")
  //-     } else {
  //-       //- console.log(element[0].innerHTML);

  //-       //- if at a certain step, to an action
  //-       //- if(element[0].innerHTML === "Click their request so that you can go to their account and learn more about them!") {
  //-       //-   //- console.log("Hello, going to show the page now!")
  //-       //-   let showProfilePage = document.getElementById("harmony-page");
  //-       //-   showProfilePage.style.visibility = "visible";

  //-       //-   let hideRequest = document.getElementById("step1");
  //-       //-   hideRequest.style.display = "none";

  //-       //- }
  //-     }
  //-   }
  //- script.
  //-   function addCheckStepToNextBtn() {
  //-     let introjsDiv2 = document.getElementsByClassName("introjs-tooltipbuttons");
  //-     let nextBtn2 = introjsDiv2[0].getElementsByClassName("introjs-nextbutton");
  //-     nextBtn2[0].addEventListener("click", checkTutorialStep);
  //-   }
  //- disable done buttons just for the sim page so the other intro js stuff isn't messed up
  script.
    //- document.addEventListener('keydown', function(event) {
    //-   if (event.key === 'Enter') {
    //-     setTimeout(function() {
    //-       // Code to run after one-minute delay goes here
    //-     }, 60000);
    //-   }
    //- });
              
    var doneCssRules =
        '.introjs-donebutton {pointer-events: none;display: none;}.extra #decline:active {background-color: #dc2c2c !important;color: #fff !important;}.extra #decline:focus {background-color: #dc2c2c !important;color: #fff !important;}.extra #decline:visited {background-color: darkred !important;color: #fff !important;}#accept:active {background-color: #24bc44 !important;color: #fff !important;}#accept:focus {background-color: #24bc44 !important;color: #fff !important;}';
    var styleElement = document.createElement('style');
    styleElement.appendChild(document.createTextNode(doneCssRules));
    document.getElementsByTagName('head')[0].appendChild(styleElement);

    // delay adding it a little bit so there is enough time for the page to load
    //- setTimeout(addCheckStepToNextBtn, 1000);

