extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    .ui.one.column.centered.grid(style="margin-bottom:1em;")
      .ui.fixed.bottom.sticky(style="margin-bottom:4em; width:400px; max-width:100%; z-index:10000000;")
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help?
            p Scroll up and click "Next" to begin!
    #step1.ui.fluid.card.test(style="margin-bottom:4em;")
          .content
              
            .ui.right.floated.menu
              .ui.dropdown.icon.item#item1
                i.ellipsis.horizontal.icon
                .menu.fluid.floated.left#item2
                  .item(data-value='0')
                    i.fitted.circular.close.icon
                    | Hide Ad
                  .item(data-value='1')
                    i.fitted.circular.exclamation.icon
                    | Report Ad
                  .item(data-value='2')
                    i.fitted.circular.question.icon
                    | Why Am I Seeing This Ad?
                      
            a.left.floated(href='/user/3striiipes')#poster
              img.ui.avatar.image(src=cdn+'/profile_pictures/three_stripes_pfp.jpg')
              span='Three Stripes Shoes'

          .image
            img.post(src=cdn+'/post_pictures/three_stripes_ad.jpg')

          #step4.content
            .description#hashtag
              | For your next race, choose ThreeStripes. 
              span #sneakerheads #runnerheads #ad
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .content#sponsoredTag
            i.left.floated.external.alternate.icon
            .left.floated.meta="Sponsored"
          .ui.two.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            //-.ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button#likeButton
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=50
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user8.jpg')
                .content
                  a.author Rob Yang
                  .metadata
                    span.date Yesterday
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Likes
                  .text()
                    | yo check this out @jlp777
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user10.jpg')
                .content
                  a.author Franklin Robinson
                  .metadata
                    span.date Yesterday
                    .rating
                      i.heart.icon
                      span.num=1
                      |  Likes
                  .text()
                    | Looks good
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag

block scripts
  script(src="/module_js/targeted/targeted_tutorial.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
block styles
  link(rel='stylesheet', href='/css/modules/targeted.css')

    
    

    
    
