extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
    

            
    
    
    #step1.ui.fluid.card.test(postID="3" style="margin-bottom:4em;")
          .content
              
            .ui.right.floated.menu(style="border:none; box-shadow:none;")
              .ui.dropdown.icon.item
                i.ellipsis.horizontal.icon
                .menu.fluid.floated.left#item1
                  .item(data-value='0')
                    i.fitted.circular.close.icon(style="color:gray;")
                    | Hide Ad
                  .item(data-value='1')
                    i.fitted.circular.exclamation.icon(style="color:gray;")
                    | Report Ad
                  .item(data-value='2')
                    i.fitted.circular.question.icon(style="color:gray;") 
                    | Why Am I Seeing This Ad?
                      
            a.left.floated(href='/user/3striiipes')#poster
              img.ui.avatar.image(src=cdn+'/profile_pictures/three_stripes_pfp.jpg')
              span(style="vertical-align:middle;")='Three Stripes Shoes'

          .image
            img.post(src=cdn+'/post_pictures/three_stripes_ad.jpg')

          #step4.content
            .description#hashtag
              | For your next race, choose ThreeStripes. 
              span #sneakerheads #runnerheads #ad
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .content#sponsoredTag(style="border:none;")
            i.left.floated.external.alternate.icon(style="color:gray;")
            .left.floated.meta="Sponsored"
          .ui.two.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            //-.ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button#likeButton
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=50
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user8.jpg')
                .content
                  a.author Rob Yang
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  1 Likes
                  .text()
                    | yo check this out @jlp777
                  .actions
                    a.like Like
                    a.flag Flag
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user10.jpg')
                .content
                  a.author Franklin Robinson
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  1 Likes
                  .text()
                    | Looks good
                  .actions
                    a.like Like
                    a.flag Flag
          //-.extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
      
      
    //-.ui.fluid.card.test
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/sammi_bautistaxx')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user64.jpg')
              span='Samantha Bautista'
      .img.post
        img(src=cdn+'/post_pictures/bluepowder.jpg' style='max-width:100%;')
      .content
        .description Had so much fun at the color run this weekend #blue
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 5
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user12.jpg')
            .content
              a.author Shika Ramphal
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 2
                  |                                             Likes
              .text omg so pretty!
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user3.jpg')
            .content
              a.author Cloe Hansen
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 0
                  |                                             Likes
              .text I wish I was there
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon      
    
    //-.ui.fluid.card.test#step1
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='/user/thomas_the_train')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user39.jpg')
              span='Thomas Rogers'
      .img.post
        img(src=cdn+'/post_pictures/smileplushies.jpg' style='max-width:100%;')
      .content
        .description 😁😀😁
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user10.jpg')
            .content
              a.author Franklin Robinson
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 2
                  |                                             Likes
              .text Nice pic
              .actions
                a.like.comment Like
                a.flag.comment Flag
          
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    

block scripts
  script(src="/module_js/targeted/targeted_tutorial.js")
  

    
    

    
    
