extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden  
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon

                | These were the posts with private information in the timeline. How many did you notice?
            br
            br
            .ui.stackable.three.cards
              
              .ui.fluid.card.dim()#card1
                .content
                  .right.floated.meta 20 minutes ago  
                  a(href='/user/zoe.g._')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user70.JPG')
                    span Zoe Goodall
                .img.post
                  img.transition.visible(src=cdn+'/post_pictures/safepostga2.jpg', data-src='/safepostga2.jpg')
                .content
                  .description
                    | new phone who dis? my new number is 607-252-6771

              .ui.fluid.card.dim()#card2
                .content
                  .right.floated.meta 30 minutes ago
                  a(href='/user/ethan-the-man')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user18.png')
                    span Ethan Kravitz
                .img.post
                  img.transition.visible(src=cdn+'/post_pictures/coolmovies.jpeg', data-src='/coolmovies.jpeg')
                .content
                  .description
                    | Gonna be at the Regal THIS FRIDAY to see the new Marvel movie!! Meet me there at 8 🎥🍿


              .ui.fluid.card.dim()#card3
                .content
                  .right.floated.meta 1 hour ago
                  a(href='/user/jasmine_1110')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user57.jpg')
                    span Jasmine Woolley
                .img.post
                  img.transition.visible(src=cdn+'/post_pictures/house.jpg', data-src='/house.jpg')
                .content
                  .description
                    | 321 Jefferson Ave come hang out guys, I'm bored.

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden.checkOne 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt
                  | Why is this post inappropriate for social media?
              .ui.stackable.two.cards

                .ui.fluid.card.dim()#card3
                    .content
                      .right.floated.meta 1 hour ago
                      a(href='/user/jasmine_1110')
                        img.ui.avatar.image(src=cdn+'/profile_pictures/user57.jpg')
                        span Jasmine Woolley
                    .img.post
                      img.transition.visible(src=cdn+'/post_pictures/house.jpg', data-src='/house.jpg')
                    .content
                      .description
                        | 321 Jefferson Ave come hang out guys, I'm bored.

                .ui.fluid.card.dim()
                  .content
                    .ui.form
                      .inline.fields
                        label(for='privateInfo', name='privateInfo') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='privateInfo', tabindex='0')  Private information like street address, phone number, school name, or email address was shared
                    hr
                    .ui.form
                      .inline.fields
                        label(for='think', name='think') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='think', tabindex='0')  The person making the post did not think about all the audiences who could see it
                    hr
                    .ui.form
                      .inline.fields
                        label(for='think', name='think') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='think', tabindex='0')  It was appropriate for social media
            
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden.checkTwo 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt
                  | How did you respond to these messages that asked for private information?
              .ui.stackable.two.cards

                .ui.fluid.card.dim()#card3
                  .content
                    .chat
                      .chat-history
                        ul
                          li.clearfix
                            .message-data
                              span.message-data-name 
                                i.dot.circle.icon.online
                                | Jack 
                              span.message-data-time 10:12 AM
                            .message.my-message
                              | hey, I have a question about the homework for tomorrow
                          li
                            .message-data
                              span.message-data-name
                                i.dot.circle.icon.online
                                |  Jack 
                              span.message-data-time 10:12 AM
                            .message.my-message
                              | can you tell me your number so i can call you real quick?                 

                .ui.fluid.card.dim()#card3
                  .content
                    .ui.form
                      .inline.fields
                        label(for='changeSub', name='changeSub') 
                        .field

                          .ui.checkbox
                            input(type='checkbox')
                            label(for='changeSub', tabindex='0')  I changed the subject
                    hr
                    .ui.form
                      .inline.fields
                        label(for='humor', name='humor') 
                        .field

                          .ui.checkbox
                            input(type='checkbox')
                            label(for='humor', tabindex='0')  I used humor

                    hr
                    .ui.form
                      .inline.fields
                        label(for='ignore', name='ignore') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='ignore', tabindex='0')  I ignored the message
                            
                    hr
                    .ui.form
                      .inline.fields
                        label(for='direct', name='direct') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='direct', tabindex='0')  I was direct
                  
                    hr
                    .ui.form
                      .inline.fields
                        label(for='somethingElse', name='somethingElse') 
                        .field
                          .ui.checkbox
                            input(type='checkbox')
                            label(for='somethingElse', tabindex='0')  I did something else
    
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden.checkThree 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt
                  | What would you do in the future to protect your private information and other people’s private information on social media?
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='3' id="safe_responseOne")
    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.results_end
          i.rocket.icon
          |   Continue

      
block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection5': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      },
      '.voiceover_reflection6': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['']
      }
    };
  script(src="/module_js/safe-posting/safe-posting_results.js")
  script(src='/module_js/base_results.js')
  script(src='/module_js/voiceover.js')
    

block styles 
  link(rel='stylesheet', href='/css/modules/safe-posting.css')
  link(rel='stylesheet', href='/css/results.css') 
