
extends ../ui_layout

block content
  
  style.
    body {
      overflow: hidden; 
    }

  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column

    .ui.fluid.card.dim()#step1
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              |                                     You &apos;ve flagged this!
              h3.ui.inverted.header
                span The admins will review this post further. We are sorry you had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
              span='David Cole'
      .image
        img.post(src=cdn+'/post_pictures/safepostpic.png' style='max-width:100%;')
      .content           
          .description="I went hiking with my mom this weekend"
      .three.ui.bottom.attached.icon.buttons(style="z-index:0")
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |                             Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |                             Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |                                 Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment()
            a.avatar
              img(src=cdn+'/profile_pictures/user24.jpg')
            .content
              a.author Jenny Chen
              .metadata
                span.date 1543985371299
                .rating
                  i.heart.icon
                  span.num 1
                  |                                             Likes
              .text looks like fun 😍
              .actions
                a.like.comment Like
                a.flag.comment Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
    //-#######################

    .container.clearfix
      .chat#step2(style="right:24px;")
        .chat-header.clearfix
          a.chat-close(href='#')
            i.large.close.icon
          a.chat-minimize(href='#')
            i.window.minimize.icon

          a(href='#')
            img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg',style="width: 3em;height: 3em;")
          .chat-about
            .chat-with Chat with Sam Hill
            //- .chat-num-messages already 1 902 messages
          //- i.fa.fa-star
        // end chat-header
        .chat-history
          ul
            li
              .message-data
                span.message-data-name 
                  i.dot.circle.icon.online
                  | Sam 
                span.message-data-time 10:12 AM
              .message.my-message
                | hey! I really like ur pictures.
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Sam 
                span.message-data-time 10:12 AM
              .message.my-message
                | idk u but u seem cool 😎 tell me about urself
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Sam 
                span.message-data-time 10:20 AM
              .message.my-message
                | where do u go to school?
        // end chat-history
        .chat-message.clearfix
          .ui.fluid.action.input
            input#message-to-send(type='text', name='message-to-send', placeholder='Type your message')
            button
              i.send.icon
              | Send
        // end chat-message
        // end chat
    // end container
    script()#message-template(type='text/x-handlebars-template').
      <li class="clearfix">
      <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>
      </div>
      <div class="message other-message float-right">
      {{messageOutput}}
      </div>
      </li>
    script()#message-response-template(type='text/x-handlebars-template').
      <li>
      <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}</span>
      </div>
      <div class="message my-message">
      {{response}}
      </div>
      </li>


block scripts
  script().
    function startIntro(){
        var intro = introJs()
          intro.setOptions({
            'hidePrev': true, 
            'hideNext': true, 
            'exitOnOverlayClick': false, 
            'showStepNumbers':false,
            'showBullets':false,
            'scrollToElement':false,
            'doneLabel':'Done &#10003',
            steps: [
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: 'Before you talk to someone online, ask yourself:<br>"Do I know this person offline? Have we met face-to-face?"<br>If the answer is "No" to either, be careful what you share.',
                position: 'left',
                highlightClass:"helperHelper"
              },
              {
                element: document.querySelectorAll('#step2')[0],
                intro: "If someone you don’t know asks for private information or pressures you to share personal things, there are some strategies you can use to respond.",
                position: 'top',
                highlightClass:"helperHelper"
              
              },
              { 
                element: document.querySelectorAll('#step2')[0],
                intro: "You can change the subject or say: <br><i>“I don't want to talk about this.”</i>",
                position: 'top',
                highlightClass:"helperHelper"
              },
              { 
                element: document.querySelectorAll('#step2')[0],
                intro: "You can use humor to change the conversation. For example, <br><i>“You're asking so many questions?! Haha you sound like my nosy aunt.”</i>",
                position: 'top',
                highlightClass:"helperHelper",
                scrollTo:'element'            
              },
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "Ask a trusted adult for advice or help if you feel unsure or uncomfortable in any situation.",
                position: 'right',
                scrollTo:'element'
              },             
              { 
                element: document.querySelectorAll('#step1')[0],
                intro: "Keep in mind, you do not have to share anything, even if you are pressured! It's not okay for someone to pressure you, and that's not being a good friend.",
                position: 'right'
              },
            ]
          });
          intro.start().onexit(function() {
          window.location.href='/tut_guide/safe-posting';
        });          
      };

      $(window).on("load", function() {startIntro();});
