
extends ../ui_layout
  
block content
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
    .ui.fluid.card.dim#step1
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user63.jpg')
          span='Liam Knapke'
      .image       
        img.post(src=cdn+'/post_pictures/safepostphonepic.png')
      .content
          .description#hint1="new phone who dis? text me @ my new number 607-252-6771"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment()
            a.avatar
              img(src=cdn+'/profile_pictures/user33.jpg')
            .content
              a.author Sean Gomez
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num=1
                  |  Likes
              .text texting u now
              .actions
                a.like.comment Like
                a.flag.comment Flag
      include ../partials/script/components/newUserComment
    .container.clearfix
      .chat
        .chat-header.clearfix
          a(href='#')
            img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
          .chat-about
            .chat-with Chat with Vincent
        .chat-history#hint2
          ul
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Vincent
                span.message-data-time 10:12 AM
              .message.my-message
                | hey nice profile pic
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Vincent
                span.message-data-time 10:20 AM
              .message.my-message
                | wanna be friends?
            li
              .message-data
                span.message-data-name
                  i.dot.circle.icon.online
                  |  Vincent
                span.message-data-time 10:22 AM
              .message.my-message
                | how old r u?
        .chat-message.clearfix
          .ui.fluid.action.input
            input#message-to-send(type='text', name='message-to-send', placeholder='Type your message')
            button
              i.send.icon
              | Send
    script#message-template(type='text/x-handlebars-template').
      <li class="clearfix">
      <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>
      </div>
      <div class="message other-message float-right">
      {{messageOutput}}
      </div>
      </li>
    script#message-response-template(type='text/x-handlebars-template').
      <li>
      <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}</span>
      </div>
      <div class="message my-message">
      {{response}}
      </div>
      </li>

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/safe-posting/safe-posting_sim.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_sim.js")
  script(src=cdn+'/js/chatbox3.js')
  
block styles
  link(rel='stylesheet', href='/css/sim.css')
  link(rel='stylesheet', href='/css/modules/safe-posting.css')
  link(rel='stylesheet', href='/css/chatbox.css')