extends ../ui_layout

block content

  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column

  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning.hidden#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning.hidden#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
    .ui.raised.segment
      h2.ui.header#generalStep Create Your Profile
      .ui.form
        .field
          label Name
          input(type="text" autocomplete='off' name='name')#input
        .field
          label Bio
          textarea(type="text" rows="3" autocomplete='off' name='bio')#input   
        .field
          label Birthday
          input(type="text" autocomplete='off' name='birthday')#input     
        div#locationStep
          .field
            label Current City
            input(type="text" autocomplete='off' name='city')#input 
          .field
            label Hometown
            input(type="text" autocomplete='off' name='hometown')#input
          .field
            label School
            input(type="text" autocomplete='off' name='school')#input 
        br
        .field
          label Upload a Profile Picture...
          .ui.basic.segment(style="padding:10px 0;")
            input(type='hidden', name='profilePhoto', value='avatar-icon.svg')
            img.ui.small.image.profileImage(src=cdn+"/profile_pictures/"+"avatar-icon.svg")
            button.ui.icon.button.editProfilePictureButton(style="margin: 1em 0;")
              i.plus.icon
      .ui.message.warning.hidden#confirmContinueCheck
        .ui.header 
          | It seems you did not complete any profile information fields. Are you sure you would like to continue? 
              
    button.ui.big.labeled.icon.button.cybertrans#cyberTransButton
        i.rocket.icon
        |   Let's Continue!     

  //- Profile Picture Selection Modal 
  .ui.small.long.post.modal.profilePictureModal(style="margin: 2em 0;")
    i.close.icon  
    .header Choose a Profile Picture 
    .content  
      form.ui.profilePicForm.form 
        .ui.segment
            .three.fields
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="bballprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/bballprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="boatprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/boatprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="cakeprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/cakeprofpic.png") 
            .three.fields
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="carprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/carprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="catprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/catprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="flowerprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/flowerprofpic.png")  
            .three.fields
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="pencilprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/pencilprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="sparkprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/sparkprofpic.png")
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='profilepicinput' value="wolfprofpic.png")
                  label
                      img.lazy(src='/images/picture.svg' data-src=cdn+"/profile_pictures/wolfprofpic.png")  
            
        .ui.error.message#noPhotoError 
          | Please select a photo
    .actions  
      .ui.green.approve.button.labeled.icon
        i.check.icon
        |  Upload
      .ui.red.deny.button.labeled.icon
        i.close.icon
        |  Cancel

block scripts
  script.
    var hintsList = [
      {
        hint: `Fill out the profile information. Remember to not share too many
          details about who you are.`,
        element: '#generalStep',
        hintPosition: 'top-middle',
        audioFile: ['CUSML.8.4.06.mp3']
      },
      {
        hint: `Start off by sharing only a little bit of information about
          yourself. You can always add more information later if you need to.`,
        element: '#generalStep',
        hintPosition: 'top-right',
        audioFile: ['CUSML.8.4.07.mp3']
      }
    ];
  script(src="/module_js/base_sim.js")
  script(src="/module_js/voiceover.js")
  script(src="/module_js/accounts/accounts_sim2.js")
  script.
    const cdn = "https://dhpd030vnpk29.cloudfront.net"
    $('.editProfilePictureButton').on('click', function(){
      $('.profilePictureModal').modal({
        onApprove: function() {
          let imageName = $('input[name="profilepicinput"]:checked').val();
          if(imageName !== undefined){
            $('#noPhotoError').hide();
            let srcString = cdn + '/profile_pictures/' + imageName;
            $('.profileImage').attr('src', srcString);
            $('input[name="profilePhoto"]').val(imageName).trigger('input');
            return true;
          } else {
            $('#noPhotoError').show();
            return false;
          }
        },
        onDeny: function(){
          return true;
        }
      }).modal('show');
    });
      
    $('input:radio[name="profilepicinput"]').change(function(){
      $('#noPhotoError').hide();
    });
  
block styles
  link(rel='stylesheet', href='/css/modules/accounts.css')
