extends ../ui_layout

block content

  .sixteen.wide.column.dashboardContentColumn.hiddenVisibility
    include ../partials/teacherDashboardMenu
    br
    
    .ui.breadcrumb
      a.section(href='/classManagement') Class Management
      i.class.right.arrow.icon.divider
      .active.section=found_class.className
    h3 Viewing Class "#{found_class.className}"
    br
    .ui.basic.segment(style="padding:0;")
      .ui.inverted.dimmer#loadingDimmer
        .ui.text.loader Updating Class...
      table.ui.selectable.celled.padded.table
        thead
          tr
            th Username
            th Student Name
            th Options
        tbody
        each student in found_class.students
          tr
            td.usernameCell=student.username
            if student.name
              td
                .ui.basic.icon.button.setNameButton(data-content="Edit Name")
                  i.icon.edit
                p.nameDiv(style="display:inline-block;")=student.name 
            else
              td  
                button.ui.button.basic.setNameButton 
                  i.icon.edit
                  | Set name
            td
              button.ui.icon.red.button.deleteAccountButton(data-content="Delete Account")
                i.icon.trash.alternate
            
        tfoot.full-width
          tr
            th(colspan="3")
              button.ui.green.button.labeled.icon.green.generateAccountsButton
                i.plus.icon
                | Generate accounts in this class

    //- button.ui.green.button.labeled.icon.downloadList
    //-   i.download.icon
    //-   | Download list as excel file
  
    
    br
    br
    br
      
    .ui.small.modal#generateAccountsModal
      i.close.icon
      .header Create Accounts in Class: #{found_class.className}
      .content
        form#generateStudentAccounts.ui.form(name="generateStudentAccounts" action='/generateStudentAccounts', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='className' value=found_class.className)
          input(type='hidden', name='accessCode' value=found_class.accessCode)
          .field
            label(for='numberOfAccounts') How many accounts would you like to add?
            input(type='text', name='numberOfAccounts', id='numberOfAccounts', placeholder='Enter a Number...')
      .actions
        .ui.icon.labeled.red.deny.button 
          i.cancel.icon
          | Cancel
        .ui.icon.labeled.green.approve.button
          i.check.icon
          | Generate Accounts
          
    .ui.small.modal#deleteAccountModal
      i.close.icon
      .header Confirm Delete
      .content.centered
        h2.center.aligned#confirmDeleteAccountText
        h3.center.aligned This action cannot be undone.
        form#deleteAccount.ui.form(name="removeStudentFromClass" action='/removeStudentFromClass', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='className' value=found_class.className)
          input(type='hidden', name='accessCode' value=found_class.accessCode)
          input(type='hidden', name='username' value='')
      .actions
        .ui.icon.labeled.red.deny.button 
          i.cancel.icon
          | Cancel
        .ui.icon.labeled.green.approve.button
          i.check.icon
          | Yes, delete this account
          
    .ui.small.modal#setNameModal
      i.close.icon
      .header Set Name
      .content.centered
        h2.center.aligned#setNameText
        form#setName.ui.form(name="setName" action='/updateName', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='accessCode' value=found_class.accessCode)
          input(type='hidden', name='username' value='')
          .field
            label(for='name') Please enter the name to assign to this account.
            input(type='text', name='name', id='name', placeholder='Enter Name...')
      .actions
        .ui.icon.labeled.red.deny.button 
          i.cancel.icon
          | Cancel
        .ui.icon.labeled.green.approve.button
          i.check.icon
          | Update

block scripts
  script(src='/user_portal/teacherDashboardTools.js')
  script(src='/user_portal/viewClass.js')
  
  
block styles
  link(rel='stylesheet', href='/css/teacherDashboard/sideMenu.css')
  style(type='text/css').
    .nameDiv {
      display: inline-block;
      padding-left: 15px;
    }
    
