extends ../ui_layout

block content

  .sixteen.wide.column(style="padding-left:60px;") 
    include ../partials/teacherDashboardMenu
    br
    
    .ui.breadcrumb
      a.section(href='/classManagement') Class Management
      i.class.right.arrow.icon.divider
      .active.section=found_class.className
    h3 Viewing Class "#{found_class.className}"
    br
    .ui.basic.segment(style="padding:0;")
      .ui.inverted.dimmer#loadingDimmer
        .ui.text.loader Updating Class...
      table.ui.selectable.celled.padded.table
        thead
          tr
            th Username
            th Student Name
            th Options
        tbody
        each student in found_class.students
          tr
            td.usernameCell=student.username
            if student.name
              td=student.name 
            else
              td  
                button.ui.button.basic.setNameButton 
                  i.icon.edit
                  | Set name
            td
              button.ui.icon.red.button.deleteAccountButton(data-content="Delete Account")
                i.icon.trash.alternate
            
        tfoot.full-width
          tr
            th(colspan="3")
              button.ui.green.button.labeled.icon.green.generateAccountsButton
                i.plus.icon
                | Generate accounts in this class
    //- button.ui.basic.button.green.addStudentButton
    //-   i.plus.icon
    //-   | Add existing student to class

    //- button.ui.green.button.labeled.icon.downloadList
    //-   i.download.icon
    //-   | Download list as excel file
  
    
    br
    br
    br
      
    .ui.small.modal#generateAccountsModal
      i.close.icon
      .header Create Accounts in Class: #{found_class.className}
      .content
        form#generateStudentAccounts.ui.form(name="generateStudentAccounts" action='/generateStudentAccounts', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='className' value=found_class.className)
          input(type='hidden', name='accessCode' value=found_class.accessCode)
          .field
            label(for='numberOfAccounts') How many accounts would you like to add?
            input(type='text', name='numberOfAccounts', id='numberOfAccounts', placeholder='Enter a Number...')
      .actions
        .ui.icon.labeled.red.deny.button 
          i.cancel.icon
          | Cancel
        .ui.icon.labeled.green.approve.button
          i.check.icon
          | Generate Accounts
          
    .ui.small.modal#deleteAccountModal
      i.close.icon
      .header Confirm Delete
      .content.centered
        h2.center.aligned#confirmDeleteAccountText
        h3.center.aligned This action cannot be undone.
        form#deleteAccount.ui.form(name="removeStudentFromClass" action='/removeStudentFromClass', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='className' value=found_class.className)
          input(type='hidden', name='accessCode' value=found_class.accessCode)
          input(type='hidden', name='username' value='')
      .actions
        .ui.icon.labeled.red.deny.button 
          i.cancel.icon
          | Cancel
        .ui.icon.labeled.green.approve.button
          i.check.icon
          | Yes, delete this account
          
        //- .ui.icon.labeled.red.deny.button(type='cancel')
        //-   i.cancel.icon
        //-   | Cancel
        //- //- input.ui.green.confirm.button(type='submit', value='Submit', form='deleteStudent')    
        //- .ui.icon.labeled.green.approve.button(type='submit', form='removeStudent')
        //-   i.check.icon
        //-   | Yes, delete this account
    //- .ui.small.modal#addStudentToClassModal
    //-   i.close.icon
    //-   .header Add Student to Class
    //-   .content
    //-     h3#classNameHeader
    //-       | Adding to class: #{found_class.className}
    //-     form#addStudentForm.ui.form(name="addStudentToClass" action='/addStudentToClass', method='POST')
    //-       input(type='hidden', name='_csrf', value=csrfToken)
    //-       input(type='hidden', name='className' value=found_class.className)
    //-       input(type='hidden', name='classId' value=found_class.accessCode)
    //-       .field
    //-         label(for='studentUsername') Student Username
    //-         input(type='text', name='studentUsername', id='studentUsername', placeholder='Enter Student Name')
    //-       .ui.error.message
    //-   .actions
    //-     input.ui.green.button(type='submit', value='Submit', form='addStudentForm')

      
block scripts
  - var n = '/user_portal/teacherDashboardTools.js?t=' + (new Date()).getTime().toString();
  script(src=n)
  - var m = '/user_portal/viewClass.js?t=' + (new Date()).getTime().toString();
  script(src=m)
