#reflection.hidden
    .ui.container#raised-container.top-padding
        .limit
            .ui.raised.segment.chat-container(style="background-color: #F1EDED;")
                .ui.large.header
                    .container#cropped-circular-image
                        .ui.segment(style="background-color: #7D7C7C !important;")
                            .ui.circular.small.image
                                img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                            span(style="font-size: 2.5rem; margin-left: 20px;color:white;")  Chat with #{user.avatar}
                    br
                    .content.text-message
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p Great job #{user.name}! 
                            p You have completed all the content for Identity theft! Do you feel ready to protect yourself in the real world?
                    .content.text-message(style="margin-top: 25px;")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p It's perfectly fine if you prefer not to answer. Please click 'Complete Reflection' to conclude this module.
                    #encounter_container
                        div#encounter_label
                            .ui.large.right.pointing.label
                                p#encounter_text 
                            .ui.circular.tiny.image(style="background: white !important")
                                img(src='/profile_pictures/avatar-icon.svg', alt='user text message profile picture')

                        #encounter_response(style='clear: both;')
                            button.ui.big.button.chatBotButton(onclick="showTopic('Yes')") Yes
                            button.ui.big.button.chatBotButton(onclick="showTopic('No')") No
                            button.ui.big.button.chatBotButton(onclick="showTopic('I\\'m not sure')") I'm not sure

                    #yes_reply.content.text-message(style="display: none")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p I'm glad to hear that!
                            p Could you tell me more about what you've learned and if there are any new insights or tips that you've gained? 
                            p Please type your response below and hit the "send" button.

                    #no_reply.content.text-message(style="display: none")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p I understand that you might still have some concerns about protecting yourself from scams. It's completely okay to feel that way. Learning to recognize scams takes time, and I'm here to support you!
                            p Please click the "Complete Reflection" button on the bottom right of the page to complete the reflect section. 
                        br
                        br

                    #sure_reply.content.text-message(style="display: none")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p That's okay! Recognizing scam emails and messages can be tricky, and it's completely normal to have some uncertainty.
                            p Would you like to share any questions you have about protecting yourself from scams?


                    //- final response from the user
                    #final_container(style="clear: both; float: right; margin-top: 40px;")
                        div#final_label
                            .ui.large.right.pointing.label
                                p#sent_message 
                                    span
                                        i.ellipsis.horizontal.icon
                            .ui.circular.tiny.image(style="background: white !important")
                                img(src='/profile_pictures/avatar-icon.svg', alt='user text message profile picture')
                    br
                    br
                    br

                    #sus_reply.content.text-message(style="display: none")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p A good rule of thumb is to double-check the sender's email address and avoid clicking on suspicious links. If something doesn't feel right, it's always better to be cautious. 
                            p It was great talking with you! Please click the "Complete Reflection" button on the bottom right of the page to conclude this module. 

                    #experience_reply.content.text-message(style="display: none")
                        .ui.circular.tiny.image 
                            img.dart_image(src=user.avatarImg, alt='Agents text message profile picture')
                        .ui.large.left.pointing.label(style='width: 70%; margin-left: 10px;')
                            p Thank you for sharing those insights. It sounds like you've learned a lot!
                            p It was great talking with you! Please click the "Complete Reflection" button on the bottom right of the page to continue learning. 
                    br
                    br
            .ui.fluid.action.icon.input(style="margin-top: -15px; font-size: 1.4rem;")
                input.message-input(type="text" placeholder="Type your message..." id="message-input")
                i.paper.plane.big.icon(style="color: #6BBCC7; margin-right: 60px;z-index:100;")
                .ui.button#send-button Send 