extends ../../module_layout

block content
  .ui.container#raised-container
    .limit
        .emailSimContainer#emailsim
            .showOpenEmailAnimation.hidden
                img(src='/images/cursor.png')
            //- .showReturnToInboxAnimation.hidden
            //-     img(src='/images/cursor.png')

            .emailHeader
                i.inbox.large.icon
                span  Inbox
            .emailListContainer
                each email, index in emails
                    a(onclick=`showEmail(${index})`)    
                        .ui.vertical.segment(id=`email-${index}`)
                            .ui.grid
                                .row
                                    .one.wide.column
                                        i.envelope.outline.large.icon
                                    .eleven.wide.column
                                        h3= email.sender
                                            span.subject= " - " + email.subject
                                    .four.wide.column.right.aligned
                                        p= email.date
        //- <div id="iphone-email">
        //-     <div class="ui basic center aligned segment">
        //-         <h1 class="iphone-header font"> iPhone 14 Tester</h1>
        //-         <h2 class="font" id="congrats"> Congratulations</h2><br />
        //-         <h3 class="font"> YOU HAVE BEEN SELECTED TO GET OUR EXCLUSIVE REWARD</h3>
        //-         <h3 class="font"> You simply need to answer a few Quick questions regarding your experience with us to get a brand- new <span class="pink-text font"> iPhone 14 Pro</span></h3><br /><br /><button class="ui big font button fakeLink" id="confirmButton" onclick="linkClick()">CONTINUE FOR FREE &gt;&gt;</button><br /><br />
        //-     </div>
        //- </div>
        //- #iphone-email
        //-     .ui.basic.center.aligned.segment
        //-         h1.iphone-header.font  iPhone 14 Tester
        //-         button.ui.red.button.warning-button(data-content="This email is sent from irsgov@gmail.com. The IRS is a government department, and its official domain should be '.org' instead of '.com'. Therefore, the legitimate domain for this email address should be XXX@irs.org. Furthermore, it's important to note that the IRS website explicitly states that 'The IRS will not initiate email contact with you without your consent."  data-position="bottom center") WARNING

        //-         h2#congrats.font  Congratulations
        //-         br
        //-         h3.font  YOU HAVE BEEN SELECTED TO GET OUR EXCLUSIVE REWARD
        //-         h3.font  You simply need to answer a few Quick questions regarding your experience with us to get a brand- new 
        //-             span.pink-text.font  iPhone 14 Pro
        //-         br
        //-         br
        //-         button#confirmButton.ui.big.font.button.fakeLink(onclick='linkClick()') CONTINUE FOR FREE &gt;&gt;
        //-         br
        //-         br
        //- <div class="ui padded segment"><img class="ui tiny centered image" src="/images/Dropbox_logo.svg" /><br />
        //-     <p>We noticed you logged into dropbox using <b> Chrome on Windows 10 </b> 12:39 PM GMT-04:00 from <b> Orlando Florida, USA. </b></p>
        //-     <p><b> Note: </b> Your location may be inaccurate since it was estimated using your IP address.</p>
        //-     <p>You can check on this and other login events by visiting your <a class='fakeLink' onclick='linkClick()'>account page</a></p>
        //-     <p>Happy Dropboxing!</p>
        //-     <p>The Dropbox Team</p>
        //-     <p>P.S. Learn how to <a class='fakeLink' onclick='linkClick()'>protect your account</a></p>
        //- </div>


        //- <div id="amazon-header"><img class="ui medium image" id="amazon-logo" src="/images/Amazon_logo.svg" />
        //-     <h3 id="amazon-assistance"> Password Assistance</h3>
        //- </div><br />
        //- <p>To verify your identity, please use the following code:</p>
        //- <h1 id="amazon-code">456459</h1>
        //- <p>Amazon takes your account security very seriously. Amazon will never email you to disclose or verify your Amazon password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click the link - instead, report the email to Amazon for investigation.</p>
        //- <p>We hope to see you again soon.</p>


        //- #amazon-header
        //-     img.ui.medium.image#amazon-logo(src="/images/Amazon_logo.svg")
        //-     h3#amazon-assistance  Password Assistance
        //- br
        //- p To verify your identity, please use the following code:
        //- h1#amazon-code 456459
        //- p Amazon takes your account security very seriously. Amazon will never email you to disclose or verify your Amazon password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click the link - instead, report the email to Amazon for investigation.
        //- p We hope to see you again soon.


        //- .openEmailContainer
        //-     .ui.padded.segment
        //-         button.ui.circular.icon.button.closeEmailArrow(onclick='closeEmail()')
        //-             i.left.arrow.big.icon
        //-         button.ui.circular.icon.button#report
        //-             i.bullhorn.large.icon     
        //-         button.ui.circular.icon.button#ban
        //-             i.ban.large.icon
        //-         button.ui.circular.icon.button#delete
        //-             i.trash.alternate.outline.large.icon
        //-         .ui.horizontal.divider
        //-         each email in emails
        //-             if email.index === 0
        //-                 .ui.left.floated.header
        //-                     span#subjectLine #{email.subject}
        //-                         .ui.label#inboxLabel
        //-                             | Inbox
        //-                             i.delete.icon
        //-                 .ui.right.floated.header
        //-                     span#openDate #{email.date}
        //-                 .ui.horizontal.divider
        //-                 .ui.icon.message
        //-                     i.user.circle.icon
        //-                     .content.senderInfo
        //-                         .header #{email.sender} <span class="fromEmail">#{email.from}</span>
        //-                 p#emailContent #{email.content}
        //-                     button.ui.basic.button#reply
        //-                         i.reply.icon
        //-                         | Reply


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'explore3', '/explore/2/identity', '/explore/4/identity', 80, 'Back', 'Next')  

block scripts
    script.
        var username = "#{user.name}";
        postStartTime("identity", "explore3");
    script(src='/module_js/identity_theft_explore.js', emailData=emails)

block styles
    link(rel='stylesheet', href='/css/identity_theft_explore.css')  
