extends ../../module_layout

block content
  .ui.container#raised-container
    .limit
        .emailSimContainer#emailsim
            .showOpenEmailAnimation.hidden
                img(src='/images/cursor.png')
            //- .showReturnToInboxAnimation.hidden
            //-     img(src='/images/cursor.png')

            .emailHeader
                i.inbox.large.icon
                span  Inbox
            .emailListContainer
                each email, index in emails
                    a(onclick=`showEmail(${index})`)    
                        .ui.vertical.segment(id=`email-${index}`)
                            .ui.grid
                                .row
                                    .one.wide.column
                                        i.envelope.outline.large.icon
                                    .eleven.wide.column
                                        h3= email.sender
                                            span.subject= " - " + email.subject
                                    .four.wide.column.right.aligned
                                        p= email.date
        //- <div class="ui padded segment"><img class="ui tiny centered image" src="/images/Dropbox_logo.svg" /><br />
        //-     <p>We noticed you logged into dropbox using <b> Chrome on Windows 10 </b> 12:39 PM GMT-04:00 from <b> Orlando Florida, USA. </b></p>
        //-     <p><b> Note: </b> Your location may be inaccurate since it was estimated using your IP address.</p>
        //-     <p>You can check on this and other login events by visiting your <a class='fakeLink' onclick='linkClick()'>account page</a></p>
        //-     <p>Happy Dropboxing!</p>
        //-     <p>The Dropbox Team</p>
        //-     <p>P.S. Learn how to <a class='fakeLink' onclick='linkClick()'>protect your account</a></p>
        //- </div>

        //- .ui.padded.segment
        //-     img.ui.tiny.centered.image(src="/images/Dropbox_logo.svg")
        //-     br
        //-     p We noticed you logged into dropbox using <b> Chrome on Windows 10 </b> 12:39 PM GMT-04:00 from <b> Orlando Florida, USA. </b>
        //-     p <b> Note: </b> Your location may be inaccurate since it was estimated using your IP address.
        //-     p You can check on this and other login events by visiting your 
        //-         a account page
        //-     p Happy Dropboxing!
        //-     p The Dropbox Team
            
        //-     p P.S. Learn how to 
        //-         a protect your account


        //- .openEmailContainer
        //-     .ui.padded.segment
        //-         button.ui.circular.icon.button.closeEmailArrow(onclick='closeEmail()')
        //-             i.left.arrow.big.icon
        //-         button.ui.circular.icon.button#report
        //-             i.bullhorn.large.icon     
        //-         button.ui.circular.icon.button#ban
        //-             i.ban.large.icon
        //-         button.ui.circular.icon.button#delete
        //-             i.trash.alternate.outline.large.icon
        //-         .ui.horizontal.divider
        //-         each email in emails
        //-             if email.index === 0
        //-                 .ui.left.floated.header
        //-                     span#subjectLine #{email.subject}
        //-                         .ui.label#inboxLabel
        //-                             | Inbox
        //-                             i.delete.icon
        //-                 .ui.right.floated.header
        //-                     span#openDate #{email.date}
        //-                 .ui.horizontal.divider
        //-                 .ui.icon.message
        //-                     i.user.circle.icon
        //-                     .content.senderInfo
        //-                         .header #{email.sender} <span class="fromEmail">#{email.from}</span>
        //-                 p#emailContent #{email.content}
        //-                     button.ui.basic.button#reply
        //-                         i.reply.icon
        //-                         | Reply


    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', 'explore3', '/explore/2/identity', '/explore/4/identity', 80, 'Back', 'Next')  

block scripts
    script.
        var username = "#{user.name}";
        postStartTime("identity", "explore3");
    script(src='/module_js/identity_theft_explore.js', emailData=emails)

block styles
    link(rel='stylesheet', href='/css/identity_theft_explore.css')  
