#activity.hidden
    .ui.container#raised-container
        .limit
            .emailSimContainer#emailsim(style="margin-top: -15px;")
                .showOpenEmailAnimation.hidden
                    img(src='/images/cursor.png' alt="")
                //- .showReturnToInboxAnimation.hidden
                //-     img(src='/images/cursor.png')

                .emailHeader(style="padding: 5px; padding-left: 20px;")
                    i.inbox.big.icon(style="font-size: 2.5em;")
                    span  Inbox
                .emailListContainer
                    each email, index in emails
                        a(onclick=`showEmail(${index})`)    
                            .ui.vertical.segment(id=`email-${index}`)
                                .ui.grid
                                    .row
                                        .one.wide.column
                                            i.envelope.outline.large.icon
                                        .eleven.wide.column
                                            h3= email.sender
                                                span.subject= " - " + email.subject
                                        .four.wide.column.right.aligned
                                            p= email.date
