extends ../../module_player_layout


block content
    //- button.ui.icon.button.m.left.right#volume-up-button
    //-     i.volume.up.icon

    .display-page 
        include consequences/objectives.pug
        include consequences/intro-video.pug
        include consequences/types.pug
        include consequences/activity.pug
        include consequences/reflection.pug
        include consequences/quiz.pug
        include consequences/takeaways.pug


block styles 
    link(rel='stylesheet', href='/css/identity-theft.css')
    link(rel='stylesheet', href='/css/learning-targets.css')
    link(rel='stylesheet', href='/css/middle-aligned-layout.css')
    link(rel='stylesheet', href='/css/dart_quiz.css')  


block scripts       
    script(src='/module_js/identity/identity-theft.js')    
    script(src='/js/text2speech.js')  
    script. 
        var module = "#{module}";
        var section = "#{section}";
        var startPage = "#{page}"; 
        var total = parseInt(#{numPages});
    script.


        $('#steps').slick({
        dots: true,
        //- customPaging : function(slider, i) {
        //-     var thumb = $(slider.$slides[i]).data();
        //-     return '<a>'+i+'</a>';
        //- },
        arrows: true,
        infinite: true,
        speed: 800,
        slidesToShow: 1,
        slidesToScroll: 1,
        //- autoplay: true,
        //- autoplaySpeed: 6000,
        responsive: [
        {
            breakpoint: 1024,
            settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            }
        },
        {
            breakpoint: 600,
            settings: {
            slidesToShow: 1,
            slidesToScroll: 1
            }
        },
        {
            breakpoint: 480,
            settings: {
            slidesToShow: 1,
            slidesToScroll: 1
            }
        }

        ]
        });

    
    script.
        //- for quiz
        var questionData = !{JSON.stringify(quizData)}; // quizData is passed to pug file via render function in app.js
        var currentTime = "#{currentTime}";
        var currentDate = "#{currentDate}";
        //- var futureDate = "#{futureDate}"; 
        var email = "#{user.email}";
        var username = "#{user.name}";
        var current_percent = 50;
        var link = "/course-player?module=identity&section=consequences&page=takeaways";

    script(src='/module_js/module_quiz.js', mod-id=module, page=page, current-section=section, next-link=link, progress=progress)
        
        //- startQuiz()
    //- console.log("Page is quiz-template")
    //- console.log("module: " + module)
    //- console.log("section: " + section)
    //- console.log("page:" + page)
    //- console.log("numPages: " + numPages)
        
        //- script(src='/module_js/dart_quiz.js', mod-id=modID, page=page, current-section=currentSection, next-link=nextLink, progress=progress)