
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  
  

  .computer.only.tablet.only.four.wide.column 
    .ui.sticky(style='width: 272px !important; height: 500px !important; left: 64.5px;')
      .ui.vertical.menu(style="width:auto;")
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
          .ui.red.right.pointing.label 1

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()
        
    //-feed
    //-.ui.bottom.attached.segment#step0
    .ui.fluid.card.test.feedDisplay(postID="3" data-hint="hello" data-hintPosition="top-middle")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/andrewthomas_')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user71.JPG')
              span='Andrew Thomas'
          .image
            img.post(src=cdn+'/post_pictures/digfootga1.jpg')
          #step4.content
            .description="the first day after my bday and guess what i HAVE to do? clean your room says my mom i hate her so much!!!"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user52.jpg')
                .content
                  a.author Connor McCormick
                  .metadata
                    span.date 5 hours ago
                    i.heart.icon
                    |  2 Likes
                  .text()
                    | haha that sucks
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content(data-hint="This is a social media timeline. You will get notifications when your friends like or comment on your posts." data-hintPosition="top-middle")
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon#sendComment1
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test.feedDisplay(postID="3")
          .content
            .right.floated.meta= "15 Minutes Ago"
            |
            a(href='/user/Suzieee')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
              span='Susan Turner'
          .image
            img.post(src=cdn+"/post_pictures/digfootga3.jpg")
          .content
            .description="omg Lindsay I love you but you look ridiculous! lol"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user66.jpeg')
                .content
                  a.author Michelle Rose
                  .metadata
                    span.date 1 minute ago
                    i.heart.icon
                    |  0 Likes
                  .text()
                    | lol!!
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-#######################
    //-Notifications page
    button.ui.basic.button.notificationsDisplay(style="display:none;")
      i.cog.icon
      |   Settings
      
    button.ui.basic.button.notificationsDisplay(style="display:none;")
      i.clock.icon
      |   My Activity

    .ui.raised.segment.notificationsDisplay(style="display:none;")
      .ui.feed
       .event
         //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
         .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
           img(src=cdn + '/profile_pictures/' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
         .content
           .summary
            //-.time.notificationTime=(Date.now() + val.time)


block scripts
  script().
    
    $('.ui.sticky')
      .sticky()
    ;
    var literacy_counter = 0;
    function startIntro(){
      
        $('#myheader').attr('data-hint','testing dots');
        $('#myheader').attr('data-hintPosition','middle-middle');
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step0')[0],
                intro: "Now that we have seen features that grabs your attention on social media, let’s learn some strategies that can help you build healthy social media habits.",
                position: "right",
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#step0')[0],
                intro: "Click on the blue dots&nbsp;<a role='button' tabindex='0' class='introjs-hint'><div class='introjs-hint-dot'></div><div class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp; to learn more...",
                position: "right",
                scrollTo: 'tooltip'
              }     
            ]
          });
          
          intro.start().onexit(function() {
            
            var hints = introJs().addHints()
            
            console.log(hints);
            console.log('hints added')
            
            hints.onhintclick(function(hintElement, item, stepId) {
                console.log('hint clicked', hintElement, item, stepId);
            });
            
            hints.onhintclose(function(e) {
             literacy_counter++;
             if(literacy_counter == 5) {
               $("#clickAllDotsSim").hide();
               $( ".cybertrans" ).addClass("green");
             }
            });
            
            $("#sendComment1").on('click', function(){
              console.log("sent clicked, refresh called");
              hints.refresh();
            });
            
            $(".ui.vertical.menu a.item").on('click', function(){
              console.log("MENU CLICK!");
              $('.ui.two.item.top.attached.tabular.menu a.item').removeClass('active');
              $(this).addClass('active');
              if($(this).data().value === 'feed'){
                $('.feedDisplay').show();
                $("#feedsteps").addClass('active');
                $('.notificationsDisplay').hide();
                $('#notificationsteps').removeClass('active');
                hints.refresh();

              } else if ($(this).data().value === 'notifications'){
                $(".feedDisplay").hide();
                $("#feedsteps").removeClass('active');
                $(".notificationsDisplay").show();
                $("#notificationsteps").addClass('active');
                hints.refresh();
                
              }
            });
                
          });          
      };

      $(window).on("load", function() {
        startIntro();
        
      });
