extends ../ui_layout
  
block content

  
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var s3 = "https://testdrive-filesystem.s3.us-east-2.amazonaws.com/"
  -//var cdn = "";
  .computer.only.tablet.only.four.wide.column
    .ui.sticky.sideMenu
      .ui.vertical.menu
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.item(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
          .ui.red.right.pointing.label !
          
      .ui.card
        .image
          if user.profile.picture
            img(src=cdn+'/profile_pictures/'+user.profile.picture)
          else
            img(src=user.gravatar(60))
        .content
          a.header.myProfileLink(href='/me/'+mod)= user.profile.name || user.email || user.id
          .meta="@Guest"
          .description=user.profile.bio
          .description
            if user.profile.location
              i.marker.icon
              span=user.profile.location
        .one.ui.bottom.attached.icon.buttons
            button.ui.habitsEditprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
                i.write.icon
      
            
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.item(data-value='notifications')#notificationsteps      
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
    br
    br

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/images/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 

    //- Input for creating new post at top of feed
    .ui.sticky.newPostSticky
      #newpost.ui.fluid.left.labeled.right.icon.input.habitsHomeDisplay(style="box-shadow: 7px -2px 6px 18px #f5f8fa;")
        .ui.label(style="border-radius:0;")
          if user.profile.picture
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture)
          else
            img.ui.avatar.image(src=user.gravatar(60))
        input(type='text', placeholder='Create a post', style="border-radius:0;")
        i.big.photo.link.icon
        
    //- Habits module specific ui
    
    //-Buttons at the top of the notifications page (and settings and activity pages)
    //- future improvement could be to make a separate class for this rather than duplicating three times
    button.ui.basic.button.habitsNotificationsDisplay.habitsSettingsButton(style='display:none;')
      i.cog.icon
      |   Settings                    
    button.ui.basic.button.habitsNotificationsDisplay.habitsActivityButton(style='display:none;')
      i.clock.icon
      |   My Activity
      
    //-Buttons at the top of the notifications page (and settings and activity pages)
    button.ui.basic.button.habitsSettingsDisplay.habitsSettingsButton(style='display:none;')
      i.cog.icon
      |   Settings                    
    button.ui.basic.button.habitsSettingsDisplay.habitsActivityButton(style='display:none;')
      i.clock.icon
      |   My Activity

      
    //-Buttons at the top of the notifications page (and settings and activity pages)
    button.ui.basic.button.habitsActivityDisplay.habitsSettingsButton(style='display:none;')
      i.cog.icon
      |   Settings                    
    button.ui.basic.button.habitsActivityDisplay.habitsActivityButton(style='display:none;')
      i.clock.icon
      |   My Activity
      
    //-Settings page
    .ui.container.habitsSettingsDisplay(style='display:none;')
      h2.ui.header Notification Settings
      .ui.divider
      br
      form.ui.form
        .field
          br
          .ui.toggle.checkbox(name='popupAlertsCheckbox')
            input(type='checkbox' name='popupAlerts')
            label Pause All
        span.settingLabel This will pause all notifications.
        br
        br
        br
        .field#pauseTimeSelectField
          label How long would you like to pause notifications for?
            br
            br
            .ui.selection.dropdown(name='pauseTimeSelect')
              input(type='hidden')
              i.dropdown.icon
              .default.text 
              .menu
                .item(data-value='15 minutes') 15 minutes
                .item(data-value='1 hour') 1 hour
                .item(data-value='2 hours') 2 hours
                .item(data-value='4 hours') 4 hours
                .item(data-value='8 hours') 8 hours
        br
        br    
        
    //-activtiy page
    .ui.container.habitsActivityDisplay(style='display:none;')
      h2.ui.header My Activity
      .ui.divider

      h2.ui.header Time on TestDrive:
      .ui.statistics
        .statistic
          .value#habitsActivityTotalTimeMinutes 0
          .label
            | min 
        .statistic  
          .value :
          .label
        .statistic
          .value#habitsActivityTotalTimeSeconds 0
          .label
            | sec
        
      h2.ui.header Manage My Time:
      br
      .field#reminderTimeSelectField
        label Set Daily Reminder
          br
          br
          .ui.selection.dropdown(name='reminderTimeSelect')
            input(type='hidden')
            i.dropdown.icon
            .default.text 
            .menu
              .item(data-value='remind 15 minutes') 15 minutes
              .item(data-value='remind 1 hour') 1 hour
              .item(data-value='remind 2 hours') 2 hours
              .item(data-value='remind 4 hours') 4 hours
              .item(data-value='remind 8 hours') 8 hours
      br
      span We'll send you a reminder once you've reached the time you set for yourself.


    each val in script
      //- create a card for each post in val (if by user make the card a little different)
      //- for the habits module specifically, notifications are treated a little different (different UI)
      //- if val.relativeTime - then post came from user_post (so user post, user reply to actor reply to user post)
      
      //-notifications display, habits
      if (val.type == 'notification')
        .ui.raised.segment.habitsNotificationItem(style="display:none;" correspondingPost=val.info_text)
          .ui.feed
           .event
             //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
             .label
               img(src=cdn + '/profile_pictures/' +val.actor.profile.picture)
             .content
               .summary=val.body
                .time.notificationTime=(habitsStart + val.time)
                .time.millisecondType(style="display:none;")=(val.time)
                    
      else if val.relativeTime
        -var u_class;
        -if (val.actorAuthor) {u_class = "actorReply"}
        -else if (val.reply) {u_class = "userReply"}
        -else {u_class = "userPost"}
        .ui.fluid.card.habitsHomeDisplay(u_postID=val.id, ui=user.ui, notify=user.notify, type=u_class, postID=val.postID)
          
          //- This is a User made post
          .content
            .right.floated.time.meta= ((Date.now() - (Date.now() - val.absTime)))
            |  
            a.ui.avatar.image.myProfileLink(href='/me/'+mod)
              if user.profile.picture
                img(src=cdn+'/profile_pictures/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            a.myProfileLink(href='/me/'+mod)
              span=user.profile.name || user.email || user.id
          if val.picture
            .image
              img(src=cdn+"/post_pictures/"+val.picture)
          .content
            .description=val.body
          .two.ui.bottom.attached.icon.buttons(style="z-index:0;")
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            if val.liked
              .ui.red.like.button
                i.heart.icon
                |  Like
            else
              .ui.like.button
                i.heart.icon
                |  Like
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if (Date.now() + comment.time) < Date.now()
                    if !comment.flagged
                      if comment.new_comment
                        -console.log("New COMMENT AREA");
                        .comment(commentID=comment.commentID)
                          a.avatar.image(href='/me/'+mod)
                            if user.profile.picture
                              img(src=cdn+'/profile_pictures/'+user.profile.picture)
                            else
                              img(src=user.gravatar(60))
                          .content
                            a.author(href='/me/'+mod)=user.profile.name || user.username || user.id
                            .metadata
                              span.date.sim=(comment.time)
                              //- .rating
                              //-   if comment.liked
                              //-     i.red.heart.icon
                              //-     span=comment.likes
                              //-     | Likes 
                              //-   else
                              //-     i.heart.icon
                              //-     span.num=comment.likes
                              //-     |  Likes
                            .text=comment.body
                            //- .actions
                            //-   if comment.liked
                            //-     a.red.like.comment Like
                            //-   else
                            //-     a.like.comment Like
                            //-   a.flag.comment Flag
                      //- Else this is a normal comment from the script
                      else
                        .comment(commentID=comment.commentID)
                          a.avatar(href='/user/'+comment.actor.username)
                            img(src='/images/picture.svg', data-src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                          .content
                            a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                            .metadata
                              span.date.sim=(Date.now() + comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
          //- .extra.content
          //-   if user.comment_prompt == "yes"
          //-     .description(style="text-align:center;background:#E8E8E8")="How is "+(user.profile.name || user.username || user.id)+" Feeling?"
          //-     .ui.fluid.left.labeled.right.icon.input
          //-       .ui.label            
          //-         if user.profile.picture
          //-           img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
          //-         else
          //-           img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)
          //-       input.newcomment(type='text', placeholder='Write a Comment')
          //-       i.big.send.link.icon
          //-   else
          //-     .ui.fluid.left.labeled.right.icon.input
          //-       .ui.label
          //-         if user.profile.picture
          //-           img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
          //-         else
          //-           img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
          //-       input.newcomment(type='text', placeholder='Write a Comment')
          //-       i.big.send.link.icon

      //- Now we are making posts by Actors, not the USER
      
      //- This is a tageted ad post in the targeted ads module
      else
        
        //-this is a totally normal actor post
        .ui.fluid.card.dim.habitsHomeDisplay(postNumber = val.post_id, postID=val.id, ui=user.ui, transparency=user.transparency, notify=user.notify, state=val.state || 'unread', type='actor', actor_un = val.actor.username, actor_name = val.actor.profile.name, actor_pic = val.actor.profile.picture)
          //- dimmer DIV for flagging
          .ui.dimmer.flag
                .content
                  .center
                    h2.ui.inverted.icon.header
                      i.red.flag.icon
                      |  You&apos;ve flagged this!
                      h3.ui.inverted.header
                        span="The admins will review this post further. We are sorry you had this experience."
          //- Normal Base Post
          .content
            .right.floated.time.meta= (Date.now() + val.time)
            |  
            //-a(href='/user/'+val.actor.username)#actorLink
            a.actorLink(href='/user/'+val.actor.username)
              img.ui.avatar.image(src='/images/picture.svg', data-src=cdn+'/profile_pictures/'+val.actor.profile.picture)
              span=val.actor.profile.name
          //-div(style="position: relative; z-index: 1;")
            img(src="image.png" style="position: absolute; z-index: 2;")
            span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
          .img.post
            //-img.post(src="/"+val.picture)
            if (val.module == 'digital-literacy' && val.info_text != "")           
              img(src='/images/picture.svg', data-src=cdn+"/post_pictures/"+val.picture, onclick='openPost()',style="max-width:100%;cursor:pointer")
            else if (val.module == 'digfoot')
              img(src='/images/picture.svg', data-src=cdn+"/post_pictures/"+val.picture, onclick='openPostDigfoot()',style="max-width:100%;cursor:pointer")
            else
              img(src='/images/picture.svg', data-src=cdn+"/post_pictures/"+val.picture, style="max-width:100%;")
          if (val.module == 'digital-literacy' && val.info_text != "")
            .read.rounded.right.floated.modual.info_button(id="info_"+val.id, data-info_text = val.info_text, style="z-index:9;text-align:center;align-self:flex-end;position:relative;bottom:10px;width:7%;height:auto")
              i.info.icon
          .content
            .description!=val.body
          .three.ui.bottom.attached.icon.buttons(style="z-index:0;")
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            if val.like
              .ui.labeled.button(tabindex='0')
                .ui.red.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label=val.likes
            else
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label.count=val.likes
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if comment.new_comment
                    -console.log("New COMMENT AREA");
                    .comment(commentID=comment.new_comment_id)
                      a.avatar.image(href='/me/'+mod)
                        if user.profile.picture
                          img(src=cdn+'/profile_pictures/'+user.profile.picture)
                        else
                          img(src=user.gravatar(60))
                      .content
                        a.author(href='/me/'+mod)=user.profile.name || user.username || user.id
                        .metadata
                          span.date.sim=(comment.time)
                          //- .rating
                          //-   i.heart.icon
                          //-   span.num=0
                          //-   |  Likes
                        .text=comment.body
                        //- .actions
                        //-   a.like.comment Like
                        //-   a.flag.comment Flag
                  //- Else this is a normal comment from the script
                  else
                    .comment(commentID=comment.id)
                      a.avatar.image.actorLink(href='/user/'+comment.actor.username)
                        img(src='/images/picture.svg', data-src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                      .content
                        a.author.actorLink(href='/user/'+comment.actor.username)=comment.actor.profile.name
                        .metadata
                          span.date.sim=(Date.now() + comment.time)
                          .rating
                            if comment.liked
                              i.red.heart.icon
                              span=comment.likes
                              |  Likes 
                            else
                              i.heart.icon
                              span.num=comment.likes
                              |  Likes
                        .text=comment.body
                        .actions
                          if comment.liked
                            a.red.like.comment Like
                          else
                            a.like.comment Like
                          a.flag.comment Flag
          .extra.content
            if user.comment_prompt == "yes"
              .description(style="text-align:center;background:#E8E8E8")="How is "+val.actor.profile.name+" Feeling?"
              .ui.fluid.left.labeled.right.icon.input
                .ui.label            
                  if user.profile.picture
                    img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                  else
                    img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)
                input.newcomment(type='text', placeholder='Write a Comment')
                i.big.send.link.icon
            else
              .ui.fluid.left.labeled.right.icon.input
                .ui.label
                  if user.profile.picture
                    img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                  else
                    img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
                input.newcomment(type='text', placeholder='Write a Comment')
                i.big.send.link.icon  
                     

    -var post_quiz = "/results/"+mod;
    a.ui.fluid.card.habitsHomeDisplay
      .content
        .ui.big.green.labeled.icon.button.script.habitsHomeDisplay
          i.rocket.icon
          |   Let's Continue!
          
    br
    br
  
    //- New Post Modal  
    .ui.small.post.modal 
      i.close.icon  
      .header Add a New Post  
      .content  
        form#postform.ui.feed.form(action='/post/new', method='POST')
          input(type='hidden', name='_csrf', value=csrfToken) 
          input(type='hidden', name='module', value=mod)  
          .field  
            textarea(rows='3',placeholder='What do you want to share?',name='body')
          .ui.segment
              .three.fields
                .field
                  .ui.radio.checkbox
                    input#photoOne.hidden(type='radio' name='picinput' value="basketballshoes.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/basketballshoes.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoTwo.hidden(type='radio' name='picinput' value="typewriter.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/typewriter.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoThree.hidden(type='radio' name='picinput' value="cat.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/cat.jpg" style='width:65%;height:auto;') 
              .three.fields
                .field
                  .ui.radio.checkbox
                    input#photoOne.hidden(type='radio' name='picinput' value="cupcakes.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/cupcakes.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoTwo.hidden(type='radio' name='picinput' value="autumn.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/autumn.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoThree.hidden(type='radio' name='picinput' value="Disneyland.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/Disneyland.jpg" style='width:65%;height:auto;')  
              .three.fields
                .field
                  .ui.radio.checkbox
                    input#photoTwo.hidden(type='radio' name='picinput' value="studytime.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/studytime.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoThree.hidden(type='radio' name='picinput' value="palm_trees.jpeg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/palm_trees.jpeg" style='width:65%;height:auto;') 
                .field
                  .ui.radio.checkbox
                    input#photoOne.hidden(type='radio' name='picinput' value="footballseason.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/footballseason.jpg" style='width:65%;height:auto;')
              .three.fields
                .field
                  .ui.radio.checkbox
                    input#photoFour.hidden(type='radio' name='picinput' value="Iceland.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/Iceland.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoFive.hidden(type='radio' name='picinput' value="balloons.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/balloons.jpg" style='width:65%;height:auto;')
                .field
                  .ui.radio.checkbox
                    input#photoSix.hidden(type='radio' name='picinput' value="beachpuppy.jpg")
                    label
                        img.lazy(src='/images/picture.svg' data-src=cdn+"/post_pictures/beachpuppy.jpg" style='width:65%;height:auto;')  
              
          .ui.error.message 
      .actions  
        input.ui.green.button(type='submit', name="foo", value='Post', form='postform')#submitForm
                 
    //-Show a post as a popup, used in habits module
    .ui.tiny.long.viewPolicyPopup.modal(style="top:7em; margin-bottom: 4em;")  
      .ui.segment 
        .ui.fluid.card
        .actions
         .ui.positive.button Back
   
    //-Mobile version of the notification popup
    .ui.fixed.bottom.sticky.notificationPopup#mobilePopup(style="padding-bottom:4em; padding-left:1em; padding-right:1em; display:none;" correspondingpost=0)
      .ui.info.message#removeHiddenMobile
        i.close.icon
        .ui.feed
         .event
           //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
           .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
             img.popupNotificationImage(src=cdn + '/profile_pictures/user39.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
           .content
             .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.        

  .computer.only.tablet.only.two.wide.column 
    .ui.fixed.bottom.sticky.notificationPopup#desktopPopup(style="padding-bottom:4em; padding-left:1em; padding-right:1em; display:none;" correspondingpost=0)
     .ui.info.message#removeHidden
       i.close.icon
       .ui.feed
        .event
          //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
          .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
            img.popupNotificationImage(src=cdn + '/profile_pictures/user39.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
          .content
            .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.               

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/habits/habits_script.js")        
  
block styles
  link(rel='stylesheet', href='/css/modules/habits/habits_script.css')    
