
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.fixed.sticky.sideMenu
      .ui.vertical.menu.notMobileView
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.item.notMobileView(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
          .ui.red.right.pointing.label !
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu.mobileView
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.item.mobileView(data-value='notifications')#notificationstepsMobile   
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
    br
    br        
    
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    //-feed

    .ui.fluid.card.test.feedDisplay#step0
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/m-beckett')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user17.jpg')
              span='Mary Beckett'
          .image
            img.post(src=cdn+'/post_pictures/libraryhabits.jpg')
          #step4.content
            .description="My favorite way to spend an afternoon - at the library!"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user3.jpg')
                .content
                  a.author Cloe Hansen
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    span.num=2
                    |  Likes
                  .text()
                    | I love reading too😊
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user5.jpeg')
                .content
                  a.author Kiki Pualani
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    span.num=2
                    |  Likes
                  .text()
                    | Sounds like fun
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/cupcake25')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user24.jpg')
              span='Jenny Chen'
          //-.image
            img.post(src="/post_pictures/testGif.gif")
          //-.ui.embed(data-src='/post_pictures/little_sheep.mp4')
          
          video(width='auto' height='310' autoplay loop controls)
            source(src=cdn + '/post_pictures/little_sheep.mp4' type='video/mp4')
          .content
            .description="Cute video - A young Desert Bighorn Sheep walks by in the Rim Country of Grand Canyon National Park"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user6.jpeg')
                .content
                  a.author Elli Andreas
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    span.num=1
                    |  Likes
                  .text()
                    | this is v cool
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
                
    #step6.ui.fluid.card.test.feedDisplay
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/beachmoreworryless')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user33.jpg')
              span='Sean Gomez'
          .image
            img.post(src=cdn+"/post_pictures/boardhabits.jpg")
          .content
            .description="Who else likes BOARD GAMES?!??"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user10.jpg')
                .content
                  a.author Franklin Robinson
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    span.num=1
                    |  Likes
                  .text()
                    | Me!!!
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-#######################
    br
    //-Notifications page
    button.ui.basic.button.notificationsDisplay
      i.cog.icon
      |   Settings
      
    button.ui.basic.button.notificationsDisplay
      i.clock.icon
      |   My Activity
        
    .ui.raised.segment.notificationsDisplay
      .ui.feed#step2
       .event
         //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
         .label
           img(src=cdn +'/profile_pictures/user6.jpeg')
         .content
           .summary Elli Andreas commented on Jenny Chen’s post: “this is v cool”.
           
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user27.jpg')
        .content
          .summary Mallory Smith liked Jenny Chen’s post: “Watch this video to find out more about the history of drones!!”.
    
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user40.jpg')
        .content
          .summary Susan Turner liked Mary Beckett’s post: “Look at this cute snowman😄”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user3.jpg')
        .content
          .summary Cloe Hansen commented on Mary Beckett’s post: “sweet!!”.
          
    .ui.raised.segment.notificationsDisplay
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label
          img(src=cdn +'/profile_pictures/user17.jpg')
        .content
          .summary Mary Beckett posted: “Look at this cute snowman😄”.
    //-Settings page - this will probaly be a separate page for the free play section. keeping everything on one page for simplicity with tutorial sequence
    br
    br
block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/habits/habits_tutorial.js")
  
block styles
  link(rel='stylesheet', href='/css/modules/habits/habits_tutorial.css')
  

  
    
