
extends ../ui_layout
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";

  .computer.only.tablet.only.four.wide.column 
    .ui.fixed.sticky.sideMenu(style='width: 272px !important; height: 500px !important;')
      .ui.vertical.menu.notMobileView(style="width:auto;")
        a.active.item(data-value='feed')#feedsteps 
          i.icon.home
          |  Home
        a.item.notMobileView(data-value='notifications')#notificationsteps
          i.icon.bell
          |  Notifications
          .ui.red.right.pointing.label !
          
  //-mobile only version of the menu
  .mobile.only.sixteen.wide.column
    .ui.top.fixed.vertical.menu.mobileView(style="width:100%; padding-top:5em;")
      a.active.item(data-value='feed')#feedsteps
        i.icon.home
        |  Home
      a.item.mobileView(data-value='notifications')#notificationstepsMobile   
        i.icon.bell
        |  Notifications
        .ui.red.right.pointing.label !
    br
    br        
    
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    //-feed

    .ui.fluid.card.test.feedDisplay(postID="3")#step0
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/m-beckett')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user17.jpg')
              span='Mary Beckett'
          .image
            img.post(src=cdn+'/post_pictures/snowhabits.jpg')
          #step4.content
            .description="Look at this cute snowman😄"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user3.jpg')
                .content
                  a.author Cloe Hansen
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  2 Likes
                  .text()
                    | sweet!!
                  .actions
                    a.like Like
                    a.flag Flag
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user5.jpeg')
                .content
                  a.author Kiki Pualani
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  2 Likes
                  .text()
                    | I like it haha
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-%%%%%%%%%%%%%%%%%%%%%%%%%
    #step5.ui.fluid.card.test.feedDisplay(postID="3")
          .content
            .right.floated.meta= "Yesterday"
            |
            a(href='/user/cupcake25')
              img.ui.avatar.image(src=cdn+'/profile_pictures/user24.jpg')
              span='Jenny Chen'
          .image
            img.post(src=cdn+"/post_pictures/drone_video.png")
          .content
            .description="Watch this video to find out more about the history of drones!!"
            //-.right.floated.meta
              i.icon.checkmark
              | Seen by 12
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                |  Like
              a.ui.basic.red.left.pointing.label.count=2
          
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user6.jpeg')
                .content
                  a.author Elli Andreas
                  .metadata
                    span.date Yesterday
                    i.heart.icon
                    |  1 Like
                  .text()
                    | this is v cool
                  .actions
                    a.like Like
                    a.flag Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon
    //-#######################
    br
    //-Notifications page
    button.ui.basic.button.notificationsDisplay(style="display:none;")
      i.cog.icon
      |   Settings
      
    button.ui.basic.button.notificationsDisplay(style="display:none;")
      i.clock.icon
      |   My Activity
        
    .ui.raised.segment.notificationsDisplay(style="display:none;")
      .ui.feed#step2
       .event
         //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
         .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
           img(src=cdn +'/profile_pictures/user6.jpeg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
         .content
           .summary Elli Andreas commented on Jenny Chen’s post: “this is v cool”.
           
    .ui.raised.segment.notificationsDisplay(style="display:none;")
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
          img(src=cdn +'/profile_pictures/user27.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
        .content
          .summary Mallory Smith liked Jenny Chen’s post: “Watch this video to find out more about the history of drones!!”.
    
    .ui.raised.segment.notificationsDisplay(style="display:none;")
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
          img(src=cdn +'/profile_pictures/user40.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
        .content
          .summary Susan Turner liked Mary Beckett’s post: “Look at this cute snowman😄”.
          
    .ui.raised.segment.notificationsDisplay(style="display:none;")
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
          img(src=cdn +'/profile_pictures/user3.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
        .content
          .summary Cloe Hansen commented on Mary Beckett’s post: “sweet!!”.
          
    .ui.raised.segment.notificationsDisplay(style="display:none;")
     .ui.feed
      .event
        //-CSS properties: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
        .label(style="overflow:hidden !important; width:3em !important; height:3em !important")
          img(src=cdn +'/profile_pictures/user17.jpg' style="width:100% !important; height:100% !important; display:inline  !important; margin:0 auto !important;")
        .content
          .summary Mary Beckett posted: “Look at this cute snowman😄”.
    //-Settings page - this will probaly be a separate page for the free play section. keeping everything on one page for simplicity with tutorial sequence
    br
    br
block scripts
  script().
  

  
    /*$(".ui.two.item.stackable.menu a.item").on('click', function(){
      console.log("MENU CLICK!");
      $('.ui.two.item.stackable.menu a.item').removeClass('active');
      $(this).addClass('active');
      if($(this).data().value === 'feed'){
        $('.feedDisplay').show();
        $('.notificationsDisplay').hide();
        $("#feedsteps").addClass("active");
        $("notificationsteps").removeClass("active");
      } else if ($(this).data().value === 'notifications'){
        $(".feedDisplay").hide();
        $(".notificationsDisplay").show();
        $("#feedsteps").removeClass("active");
        $("notificationsteps").addClass("active");
      }
    });*/


    function startIntro(){
      
      
        var intro = introJs().setOptions({ 'hidePrev': true, 'hideNext': true, 'exitOnOverlayClick': false, 'showStepNumbers':false, 'showBullets':false, 'scrollToElement':true, 'doneLabel':'Done &#10003' });
        if($('.ui.menu.notMobileView').is(":visible")){
          console.log("IN THE LAPTOP VIEW");
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step0')[0],
                intro: "Have you ever seen notifications from social media that pop up and buzz on your phone?",
                position: "right",
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#notificationsteps')[0],
                intro: "Notifications use bright colors that look urgent to grab your attention. It can make you feel like you have to go on the site to check what it’s about.",
                position: "right",
                scrollTo: "tooltip"
              },
              {
                element: document.querySelectorAll('#step2')[0],
                intro: "We all love getting likes and comments on the things that we post. It gives us a feeling of being valued and accepted by other people.",
                position: "left",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step2')[0],
                intro: "Likes and comments can create a feedback loop that makes you check again and again to see if you got anything new.",
                position: "right",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step5')[0],
                intro: "Video and streaming sites will automatically play videos one after the other to keep you watching. This makes it hard for you to take a break or stop.",
                position: "right",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step5')[0],
                intro: "In a real social media site, the timeline won’t have an end! You will be able to scroll for hours, and maybe spend more time than you planned.",
                position: "right",
                scrollTo: "tooltip"
              }
              
            ]
          });
        } else if ($('.ui.menu.mobileView').is(":visible")){
          console.log("IN THE MOBILE VIEW");
          intro.setOptions({
            steps: [
              { 
                element: document.querySelectorAll('#step0')[0],
                intro: "Have you ever seen notifications from social media that pop up and buzz on your phone?",
                position: "right",
                scrollTo: 'tooltip'
              },
              { 
                element: document.querySelectorAll('#notificationstepsMobile')[0],
                intro: "Notifications use bright colors that look urgent to grab your attention. It can make you feel like you have to go on the app to check what it’s about.",
                position: "right",
                scrollTo: "tooltip"
              },
              {
                element: document.querySelectorAll('#step2')[0],
                intro: "We all love getting likes and comments on the things that we post. It gives us a sense of being validated by other people.",
                position: "left",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step2')[0],
                intro: "Likes and comments can create a feedback loop that makes you check again and again to see if you got anything new.",
                position: "right",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step5')[0],
                intro: "Video and streaming sites automatically play videos one after the other to keep you watching. This makes it harder to take a break or stop.",
                position: "right",
                scrollTo: "tooltip"
              },
              { 
                element: document.querySelectorAll('#step5')[0],
                intro: "In a real social media site, the timeline doesn't end! You're able to scroll for hours, and maybe spend more time than you planned.",
                position: "right",
                scrollTo: "tooltip"
              }
              
            ]
          });
        }
        
        intro.onbeforechange(function() {
            console.log($(this)[0]._currentStep);
            if($(this)[0]._currentStep == 1){
              setTimeout(function(){
                $('#notificationsTabLabel').transition('jiggle');
              }, 500);
            }
            if(($(this)[0]._currentStep === 2) || $(this)[0]._currentStep === 3){
              $(".feedDisplay").hide();
              $(".notificationsDisplay").show();
              $('#feedsteps').removeClass('active');
              $('#notificationsteps').addClass('active');
            } else {
              $(".feedDisplay").show();
              $(".notificationsDisplay").hide();
              $('#notificationsteps').removeClass('active');
              $('#feedsteps').addClass('active');
            }
        });
        
        
        intro.start().onexit(function() {
          window.location.href='/sim/habits';
        });  
        
      }; //end startIntro

      $(window).on("load", function() {
        startIntro();

      });
