extends ../ui_layout

block content
  .sixteen.wide.column.centered.removeTopPadding.mb-9
   .ui.one.column.centered.grid.feedbackMessagesGrid
     .ui.fixed.bottom.sticky
       include ../partials/messages/removeHiddenMessage
       include ../partials/messages/clickAllDotsMessage
   .ui.grid.gridInsideTab
     .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
       .ui.fluid.card.dim#step1
         include ../partials/script/components/dimmerflag
         .content
           .right.floated.meta= "10 minutes ago"
           a
            img.ui.avatar.image(src=cdn+'/profile_pictures/user47.jpeg')
            span='Ariel Simon'
         .img.post.image        
           img(src=cdn+'/post_pictures/dog_an.jpg')
         .content.articleTab
           .description
             | Pretty sure I have the cutest dog ever 🐶❤️
         .four.ui.bottom.attached.icon.buttons
           .ui.reply.button(tabindex='0')
             i.reply.icon
             | Reply
           .ui.flag.button(tabindex='0')
             i.flag.icon
             | Flag
           .ui.labeled.button(tabindex='0')
             .ui.like.button
               i.heart.icon
               | Like
             a.ui.basic.red.left.pointing.label.count 0
         .content
           .ui.comments
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user19.jpg')
               .content
                 a.author Dylan Moore
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | I'm pretty sure you're right! 
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag     
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user25.jpg')
               .content
                 a.author Ella Sroni
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | so cute 😍
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag   
         include ../partials/script/components/newUserComment
       .ui.fluid.card.dim
         include ../partials/script/components/dimmerflag
         .content#hint1
           .right.floated.meta= "40 minutes ago"
           a
            img.ui.avatar.image(src=cdn+'/profile_pictures/user28.jpg')
            span='Corey King'
         .img.post.image.articleImage#hint2        
           img(src=cdn+'/post_pictures/haywell1_an.png')
         .content.articleTab
           .description
             | Just heard that Haywell is going to close for the rest of the 
             | year. Will miss you guys
         .four.ui.bottom.attached.icon.buttons
           .ui.reply.button(tabindex='0')
             i.reply.icon
             | Reply
           .ui.flag.button(tabindex='0')#hint3
             i.flag.icon
             | Flag
           .ui.share.button(tabindex='0')
             i.share.icon
             | Share
           .ui.labeled.button(tabindex='0')
             .ui.like.button
               i.heart.icon
               | Like
             a.ui.basic.red.left.pointing.label.count 0
         .content
           .ui.comments
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user37.jpg')
               .content
                 a.author Daniel Mai
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | what?!?!?
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag     
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user73.JPG')
               .content
                 a.author Noah Alpern
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | i'll be so bored at home
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag   
         include ../partials/script/components/newUserComment  
       .ui.fluid.card.dim
         include ../partials/script/components/dimmerflag
         .content
           .right.floated.meta= "Yesterday"
           a
            img.ui.avatar.image(src=cdn+'/profile_pictures/user56.jpg')
            span='Peyton Pope'
         .img.post.image   
           img(src=cdn+'/post_pictures/ice-cream_an.jpg')
         .content
           .description
             | perf day for some ice cream 🍦
         .four.ui.bottom.attached.icon.buttons
           .ui.reply.button(tabindex='0')
             i.reply.icon
             | Reply
           .ui.flag.button(tabindex='0')
             i.flag.icon
             | Flag
           .ui.labeled.button(tabindex='0')
             .ui.like.button
               i.heart.icon
               | Like
             a.ui.basic.red.left.pointing.label.count 0
         .content
           .ui.comments
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user30.jpg')
               .content
                 a.author Linsday Stokes
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | I want some!!
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag     
             .comment
               a.avatar
                 img(src=cdn+'/profile_pictures/user32.JPG')
               .content
                 a.author Erika Prakash
                 .metadata
                   span.date 1 minute ago
                   .rating
                    i.heart.icon
                    span.num 0
                    |  Likes
                 .text()
                   | What flavor did you get??
                 .actions
                   a.like.comment Like
                   a.flag.comment Flag   
         include ../partials/script/components/newUserComment                 
       button.ui.big.button.articleTab.continueButton
         i.icon.rocket
         | Let's Continue!
  include ../partials/script/modals/sharePost
  
block scripts
  script(src='/postFunctionalities.js')
  script(src='/module_js/advancedlit/advancedlit_sim4.js')
  script(src='/module_js/voiceover.js')
  script(src='/module_js/base_sim.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
  link(rel='stylesheet', href='/css/sim.css')