extends ../ui_layout
  
block content

  
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var s3 = "https://testdrive-filesystem.s3.us-east-2.amazonaws.com/"
  
  .ui.active.tab(data-tab='timeline')
    .ui.grid
      .computer.only.tablet.only.four.wide.column
        .ui.sticky
          .ui.card
            .image
              if user.profile.picture
                img(src=cdn+'/profile_pictures/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            .content
              a.header(href='/me/'+mod)= user.profile.name || user.email || user.id
              .meta="@Guest"
              .description=user.profile.bio
              .description
                if user.profile.location
                  i.marker.icon
                  span=user.profile.location
            .one.ui.bottom.attached.icon.buttons
                button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
                    i.write.icon
        
      #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
        img.ui.centered.small.image(src='/heart.svg')
      #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.trackHeightOffset(style='display: none;')  
        //- Input for creating new post at top of feed
        #newpost.ui.fluid.left.labeled.right.icon.input.habitsHomeDisplay
          .ui.label
            if user.profile.picture
              img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture)
            else
              img.ui.avatar.image(src=user.gravatar(60))
          input(type='text', placeholder='Create a post')
          i.big.photo.link.icon

        each val in script
          //- create a card for each post in val (if by user make the card a little different)
          //- if val.relativeTime - then post came from user_post (so user post, user reply to actor reply to user post)

          if val.relativeTime
            include ../partials/script_userPost
          //- Now we are making posts by Actors, not the USER
          else
            if(val.type === user.advancedlitTopic)
              if(val.info_text !== "")
                include ../partials/script/advancedlit_article
              else
                include ../partials/script_actorPost
        a.ui.fluid.card
          .content
            .ui.big.green.labeled.icon.button.script
              i.rocket.icon
              |   Let's Continue!        
        br
        br
  //- ##################################################
  .ui.tab(data-tab="article1")
    button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
      i.icon.reply
      | Return to the timeline
    button.ui.big.green.button.searchTab(data-tab='search1')
      i.icon.search
      | Search for "foods that cause heart attacks"
    .ui.segment(style='margin-bottom: 4em;')
      .ui.grid.gridInsideTab          
        .row
          .column
            h1.articleHeading
              | The 15 SHOCKING foods that will cause a heart attack !!  
              | (article 1)
            h2.articleSubheading 
              | You'll never guess what these are!!!
            p.articleAuthor Jane Doe
            p Published: 5 May 2020
        .row
          .sixteen.wide.column
            
            img.ui.large.left.floated.image.fullArticleImage(src=cdn+'/post_pictures/infolitguided1.png')

            p.articleText.articleBlock1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText.timelineTab3(data-tab='search') 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.
            
  //- #####################################################
  //- ##################################################
  .ui.tab(data-tab="article2")
    button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
      i.icon.reply
      | Return to the timeline
    button.ui.big.green.button.searchTab(data-tab='search2')
      i.icon.search
      | Search for "foods that cause heart attacks"
    .ui.segment(style='margin-bottom: 4em;')
      .ui.grid.gridInsideTab          
        .row
          .column
            h1.articleHeading
              | The 15 SHOCKING foods that will cause a heart attack !! 
              | (article 2) 
            h2.articleSubheading 
              | You'll never guess what these are!!!
            p.articleAuthor Jane Doe
            p Published: 5 May 2020
        .row
          .sixteen.wide.column
            
            img.ui.large.left.floated.image.fullArticleImage(src=cdn+'/post_pictures/infolitguided1.png')

            p.articleText.articleBlock1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText.timelineTab3(data-tab='search') 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.
            
  //- #####################################################
  
  //- ##################################################
  .ui.tab(data-tab="article3")
    button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
      i.icon.reply
      | Return to the timeline
    button.ui.big.green.button.searchTab(data-tab='search3')
      i.icon.search
      | Search for "foods that cause heart attacks"
    .ui.segment(style='margin-bottom: 4em;')
      .ui.grid.gridInsideTab          
        .row
          .column
            h1.articleHeading
              | The 15 SHOCKING foods that will cause a heart attack !!  
              | (article 3)
            h2.articleSubheading 
              | You'll never guess what these are!!!
            p.articleAuthor Jane Doe
            p Published: 5 May 2020
        .row
          .sixteen.wide.column
            
            img.ui.large.left.floated.image.fullArticleImage(src=cdn+'/post_pictures/infolitguided1.png')

            p.articleText.articleBlock1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText#hint4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

            p.articleText.timelineTab3(data-tab='search') 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.
            
  //- #####################################################
  .ui.tab(data-tab="search1")
    .ui.grid.gridInsideTab         
      .row
        .column
          button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
            i.icon.reply
            | Go back to the timeline
          button.ui.big.testDriveBlue.button.articleTab(data-tab='article1')
            i.icon.reply
            | Go back to the article
      .row
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
          h2 Search results for "food that cause heart attacks" (1)
          p.resultURL result1url.com
          a
            h4.resultTitle Article Title 1
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result2url.com
          a
            h4.resultTitle Article Title 2
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result3url.com
          a
            h4.resultTitle Article Title 3
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result4url.com
          a
            h4.resultTitle Article Title 4
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.
  //- ############################
  
  //- #####################################################
  .ui.tab(data-tab="search2")
    .ui.grid.gridInsideTab         
      .row
        .column
          button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
            i.icon.reply
            | Go back to the timeline
          button.ui.big.testDriveBlue.button.articleTab(data-tab='article2')
            i.icon.reply
            | Go back to the article
      .row
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
          h2 Search results for "food that cause heart attacks"  (2)
          p.resultURL result1url.com
          a
            h4.resultTitle Article Title 1
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result2url.com
          a
            h4.resultTitle Article Title 2
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result3url.com
          a
            h4.resultTitle Article Title 3
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result4url.com
          a
            h4.resultTitle Article Title 4
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.
  //- ############################
  
  //- #####################################################
  .ui.tab(data-tab="search3")
    .ui.grid.gridInsideTab         
      .row
        .column
          button.ui.big.testDriveBlue.button.timelineTab(data-tab='timeline')
            i.icon.reply
            | Go back to the timeline
          button.ui.big.testDriveBlue.button.articleTab(data-tab='article3')
            i.icon.reply
            | Go back to the article
      .row
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
          h2 Search results for "food that cause heart attacks"  (3)
          p.resultURL result1url.com
          a
            h4.resultTitle Article Title 1
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result2url.com
          a
            h4.resultTitle Article Title 2
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result3url.com
          a
            h4.resultTitle Article Title 3
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.

          p.resultURL result4url.com
          a
            h4.resultTitle Article Title 4
          p.resultPreviewText
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
            | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
            | Nam at auctor velit, vitae fermentum diam.
  //- ############################
           
block scripts
  script(src='/module_js/script.js')   
  script(src='/module_js/advancedlit/advancedlit_script.js')  
     
block styles
  link(rel='stylesheet', href='/css/script.css')
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
