extends ../ui_layout

block content

  #content.sixteen.wide.column.centered.removeTopPadding.addBottomMargin
    //- #####################################################
    .ui.one.column.centered.grid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning.hidden#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help? 
            p Make sure you are clicking "Got it" on the blue dots!
          
        .ui.icon.message.warning.hidden#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header There are still blue dots to find!
            p Click through all of the blue dots to continue.
        .ui.icon.message.success.hidden#instructionsToContinue
          .content
            .ui.header Click the article to continue! 

    .ui.grid.gridInsideTab(style="margin-bottom:12em;")  
      .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
        .ui.fluid.card.dim.articleCard()#step1
          .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  | You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span 
                      | The admins will review this post further. We are sorry 
                      | you had this experience.
          .content#hint1
            .right.floated.meta= "Yesterday"
            a
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user28.jpg')
                  span='Corey King'
          .img.post.articleImage.articleTab(data-tab="two")        
            img(src=cdn+'/post_pictures/haywell1_an.png')

          .content.articleTab(data-tab="two")
            .description
              | Just heard that Haywell is going to close for the rest of the 
              | year. Will miss you guys
          .four.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              | Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              | Flag
            .ui.share.button(tabindex='0')
              i.share.icon
              | Share
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label.count 0
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user37.jpg')
                .content
                  a.author Daniel Mai
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | what?!?!?
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag     
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user73.JPG')
                .content
                  a.author Noah Alpern
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | i'll be so bored at home
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag   
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon    
        .ui.fluid.card.dim()
          .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  | You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span 
                      | The admins will review this post further. We are sorry 
                      | you had this experience.
          .content
            .right.floated.meta= "Yesterday"
            a
              img.ui.avatar.image(src=cdn+'/profile_pictures/user47.jpeg')
              span='Ariel Simon'
          .img.post.articleImage.articleTab(data-tab="two")        
            img(src=cdn+'/post_pictures/dog_an.jpg')

          .content.articleTab(data-tab="two")
            .description
              | Pretty sure I have the cutest dog ever 🐶❤️
          .four.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              | Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              | Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label.count 0
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user19.jpg')
                .content
                  a.author Dylan Goldstein
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | I'm pretty sure you're right! 
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag     
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user25.jpg')
                .content
                  a.author Ella Sroni
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | so cute 😍
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag   
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon         
        //-.ui.fluid.card.dim()
          .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  | You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span 
                      | The admins will review this post further. We are sorry 
                      | you had this experience.
          .content
            .right.floated.meta= "Yesterday"
            a(href='#')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user9.jpg')
                  span='Katherine Zhou'
          .img.post.articleImage.articleTab(data-tab="two")        
            img(src=cdn+'/post_pictures/haywell2_an.png')

          .content.articleTab(data-tab="two")
            .description
              | yessssss our school is closing
          .four.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              | Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              | Flag
            .ui.share.button(tabindex='0')
              i.share.icon
              | Share
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label.count 0
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/unicorn.jpg')
                .content
                  a.author Maya Rein
                  .metadata
                    span.date 1 minute ago
                    i.heart.icon
                    |  0 Likes
                  .text()
                    | no way
                  .actions
                    a.like Like
                    a.flag Flag     
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user70.JPG')
                .content
                  a.author Zoe Goodall
                  .metadata
                    span.date 1 minute ago
                    i.heart.icon
                    |  0 Likes
                  .text()
                    | Are we gonna have online classes?
                  .actions
                    a.like Like
                    a.flag Flag   
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon                 
        .ui.fluid.card.dim()
          .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  | You&apos;ve flagged this!
                  h3.ui.inverted.header
                    span 
                      | The admins will review this post further. We are sorry 
                      | you had this experience.
          .content
            .right.floated.meta= "Yesterday"
            a
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user56.jpg')
                  span='Peyton Pope'
          .img.post.articleImage.articleTab(data-tab="two")        
            img(src=cdn+'/post_pictures/ice-cream_an.jpg')
    
          .content.articleTab(data-tab="two")
            .description
              | perf day for some ice cream 🍦
          .four.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              | Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              | Flag
            .ui.labeled.button(tabindex='0')
              .ui.like.button
                i.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label.count 0
          .content
            .ui.comments
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/unicorn.jpg')
                .content
                  a.author Linsday Stokes
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | I want some!!
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag     
              .comment
                a.avatar
                  img(src=cdn+'/profile_pictures/user70.JPG')
                .content
                  a.author Erika Prakash
                  .metadata
                    span.date 1 minute ago
                    .rating
                      i.heart.icon
                      span.num=0
                      |  Likes
                  .text()
                    | What flavor did you get??
                  .actions
                    a.comment.like Like
                    a.comment.flag Flag   
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
              input.newcomment(type='text' placeholder='Write a Comment')
              i.big.send.link.icon        
    //- #####################################################

block scripts
  script(src='/module_js/advancedlit/advancedlit_sim.js')
  script(src='/module_js/base_sim.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
