extends ../ui_layout

block content

  #content.sixteen.wide.column.centered.removeTopPadding.addBottomMargin
    //- #####################################################
    .ui.active.tab(data-tab="one")
      .ui.grid.gridInsideTab  
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
          //- .ui.one.column.centered.grid
          //-   .ui.fixed.bottom.sticky
          //-     .ui.icon.compact.message.warning#removeHidden
          //-       i.close.icon
          //-       i.question.icon.float
          //-       .content
          //-         .ui.header Need some help? 
          //-         p Make sure you are clicking "Got it" on the blue dots!
          //- 
          //-     .ui.icon.message.warning#clickAllDotsWarning
          //-       i.close.icon
          //-       i.hand.pointer.icon.float
          //-       .content
          //-         .ui.header There are still blue dots to find!
          //-         p Click through all of the blue dots to continue.
          #step1.ui.fluid.card.dim()
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content#hint1
              .right.floated.meta= "Yesterday"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
                    span='Sam Hill'
            .img.post.articleImage.articleTab(data-tab="two")        
              img(src=cdn+'/post_pictures/infolitguided1.png')

            .content.newsArticleTitleContainer.articleTab(data-tab="two")
                a.articleLink
                  | WASHINGTON-POSST.COM.CO &nbsp; &nbsp;
                .header
                  | The 15 SHOCKING foods that will cause a heart attack !!   
            .extra.content
                p              
                .description="You'll never guess what these are!!!"
            .four.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.share.button(tabindex='0')
                i.share.icon
                | Share
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 2
            .content
              .ui.comments
                .comment(commentid='5bbd01d88a48061a73337b96')
                  a.avatar
                    img(src=cdn+'/profile_pictures/user66.jpeg')
                  .content
                    a.author Emma Hanson
                    .metadata
                      span.date Yesterday
                      .rating
                        i.heart.icon
                        span.num 1
                        | Likes
                    .text omg this is really scary
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag
                  
    //- #####################################################
    .ui.tab(data-tab="two")
    
      button.ui.big.testDriveBlue.button.homeTab(data-tab='one')
        i.icon.reply
        | Return to the timeline
      button.ui.big.green.button.searchTab#hint2(data-tab='three')
        i.icon.search
        | Search for "foods that cause heart attacks"
      .ui.segment(style='margin-bottom: 4em;')
        .ui.grid.gridInsideTab          
          .row
            .column


              h1 
                | The 15 SHOCKING foods that will cause a heart attack !!  
              h2 
                | You'll never guess what these are!!!
              p Author: Jane Doe
              p Published: 5 May 2020
          .row
            .sixteen.wide.column
              
              img.ui.large.left.floated.image.fullArticleImage(src=cdn+'/post_pictures/infolitguided1.png')

              p.articleText Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

              p.articleText Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

              p.articleText Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

              p.articleText Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.

              p.articleText.homeTab3(data-tab='three') 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus. Phasellus et mattis quam. Mauris tincidunt felis et diam suscipit, rhoncus auctor tellus imperdiet. Vestibulum pulvinar augue purus, vitae aliquet est volutpat non. Aenean ac ligula vel odio luctus laoreet sed vel tortor. Mauris porta tortor ac augue tempus, in ullamcorper metus fermentum. Nam venenatis consectetur dui sit amet suscipit. Quisque id felis vel urna vehicula ultrices vel sit amet eros. Nam at auctor velit, vitae fermentum diam. Vivamus fermentum commodo elementum. Vivamus ante sapien, rutrum eu leo sed, commodo pellentesque orci. Curabitur in tellus et dolor maximus rhoncus quis at diam. Etiam volutpat arcu vitae odio efficitur tempus.
              
    //- #####################################################
    .ui.tab(data-tab="three")
      .ui.grid.gridInsideTab         
        .row
          .column

            button.ui.big.testDriveBlue.button.homeTab(data-tab='one')
              i.icon.reply
              | Go back to the timeline
            button.ui.big.testDriveBlue.button.articleTab(data-tab='two')
              i.icon.reply
              | Go back to the article
        .row
          .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column    
            h2 Search results for "food that cause heart attacks"
            
            
            p.resultURL#hint3 result1url.com
            a
              h4.resultTitle Article Title 1
            p.resultPreviewText
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
              | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
              | Nam at auctor velit, vitae fermentum diam.

            p.resultURL result2url.com
            a
              h4.resultTitle Article Title 2
            p.resultPreviewText
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
              | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
              | Nam at auctor velit, vitae fermentum diam.

            p.resultURL result3url.com
            a
              h4.resultTitle Article Title 3
            p.resultPreviewText
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
              | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
              | Nam at auctor velit, vitae fermentum diam.

            p.resultURL result4url.com
            a
              h4.resultTitle Article Title 4
            p.resultPreviewText
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus 
              | ex sit amet efficitur gravida. Sed maximus orci vitae congue maximus.
              | Nam at auctor velit, vitae fermentum diam.

block scripts
  script.
    var hintsList = [
      {
        hint: `testing hint set 1`,
        element: '#hint1'
      }
    ];
  script(src='/module_js/base_sim.js')
  script(src='/module_js/advancedlit/advancedlit_sim.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
