extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.advancedlitTopic;
  
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label.resultsPromptLabel
            h4
              i.exclamation.triangle.icon

              | There were two breaking news and one opinion article about 
              | Chestin hosting the olympics. Did you notice any of them?
          br
          br
          .ui.stackable.three.cards
            .ui.fluid.card.dim#card1
              .content      
                p.left.floated(href='/user/emememily')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user36.jpg')
                  span='Emily Li'
              .image
                img.post(src=cdn+'/post_pictures/olympic1_an.png')
              .content
                .description
                  | Wow just heard that we will be hosting the olympics?!?!?
                  
            .ui.fluid.card.dim#card2
              .content      
                p.left.floated(href='/user/ella_vaderrr')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                  span='Ella Sroni'
              .image
                img.post(src=cdn+'/post_pictures/olympic2_an.png')
              .content
                .description
                  | Interesting article on how Chestin could host the Olympics
        
            .ui.fluid.card.dim#card3
              .content      
                p.left.floated(href='/user/morning-tea-and-books')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user12.jpg')
                  span='Shika Ramphal'
              .image
                img.post(src=cdn+'/post_pictures/olympic3_an.png')
              .content
                .description
                  | Woo!! Go Chestin go!!

          br
          br

    .ui.raised.segment
      .ui.label
        h4
          | What did you do when you saw a breaking news story?
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='wouldRead', name='wouldRead') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldRead', tabindex='0') 
                  | I checked to see if it was an opinion piece
        .ui.form
          .inline.fields
            label(for='checkSource', name='checkSource') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='checkSource', tabindex='0') 
                  | I looked at the source(s) of the information in the article
        .ui.form
          .inline.fields
            label(for='corroboration', name='corroboration') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='corroboration', tabindex='0')
                  | I checked other sources
        //-.ui.form
          .inline.fields
            label(for='interacted', name='interacted') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='interacted', tabindex='0')
                  | I shared the news article
        .ui.form
          .inline.fields
            label(for='corroboration', name='wouldViewAd') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldViewAd', tabindex='0') 
                  | I flagged the post
        .ui.form
          .inline.fields
            label(for='ignored', name='ignored') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='ignored', tabindex='0') 
                  | I did not do anything 


    .ui.raised.segment
      .ui.label.resultsPromptLabel
        h4
          | Why is it important to get the full story before reacting to or 
          | sharing breaking news?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="literacy_responseOne")
    
    .ui.raised.segment
      .ui.label.resultsPromptLabel
        h4
          | Did you read any of the articles? What did you notice?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="literacy_responseTwo")


    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue

block scripts
  script(src='/module_js/advancedlit/advancedlit_results.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
  link(rel='stylesheet', href='/css/results.css')
