extends ../ui_layout

block content
  //- insert code for article after RAs provide design
  #content.sixteen.wide.column.centered.removeTopPadding.mb-9
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.message.warning.hidden#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help?
            p Scroll up and click "Next" to begin!
        .ui.icon.message.success.hidden#instructionsToContinueOne
          .content
            .ui.header Click on the Tornado Warning article to continue! 
        .ui.icon.message.success.hidden#instructionsToContinueTwo
          .content
            .ui.header Click the search button to continue! 
        .ui.icon.message.success.hidden#instructionsToContinueThree
          .content
            .ui.header Click "Go back to the timeline" to continue!
    //- #####################################################
    .ui.active.tab(data-tab="one")
      .ui.grid
        .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
          .ui.fluid.card.dim()#step1A
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content
              .right.floated.meta= "10 minutes ago"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user21.jpg')
                    span='Sam Hill'
            .img.post.articleImage(data-tab="two")        
              img(src=cdn+'/post_pictures/bike_an.jpg')

            .content(data-tab="two")
              .description
                | Perfect day for a bike ride!
            .three.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 0
            .content
              .ui.comments
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user3.jpg')
                  .content
                    a.author Cloe Hansen
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | It really is!! 🌞
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag     
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user5.jpeg')
                  .content
                    a.author Kiki Pualani
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | I love going on bike rides!
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag   
            include ../partials/script/components/newUserComment
                           
          .ui.fluid.card.dim()
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content
              .right.floated.meta= "15 minutes ago"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user3.jpg')
                    span='Cloe Hansen'
            .img.post.articleImage(data-tab="two")        
              img(src=cdn+'/post_pictures/hammock_an.jpg')

            .content(data-tab="two")
              .description
                | just janging out with my bestie 😜
            .three.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 0
            .content
              .ui.comments
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user18.png')
                  .content
                    a.author Ethan Kravitz
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | haha I see what you did there 😜
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag  
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user4.jpg')
                  .content
                    a.author Hayden Abbey
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | So fun! ❤️❤️
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag   
            include ../partials/script/components/newUserComment  
          
          #step1.ui.fluid.card.dim.articleCard
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content
              .right.floated.meta= "22 minutes ago"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user37.jpg')
                    span='Daniel Mai'
            .img.post.articleImage.articleTab(data-tab="two")        
              img(src=cdn+'/post_pictures/tornado1_an_upd.png')

            .content.articleTab(data-tab="two")
              .description
                | Be safe out there!! 
            .four.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.share.button(tabindex='0')
                i.share.icon
                | Share
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 0
            .content
              .ui.comments
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/unicorn.jpg')
                  .content
                    a.author Maya Rein
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | fingers crossed
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag     
            include ../partials/script/components/newUserComment     

          .ui.fluid.card.dim()
            .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    | You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span 
                        | The admins will review this post further. We are sorry 
                        | you had this experience.
            .content
              .right.floated.meta= "Yesterday"
              a(href='#')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                    span='Ella Sroni'
            .img.post.articleImage(data-tab="two")        
              img(src=cdn+'/post_pictures/homework_an.jpg')

            .content(data-tab="two")
              .description
                | Homework timee
            .three.ui.bottom.attached.icon.buttons
              .ui.reply.button(tabindex='0')
                i.reply.icon
                | Reply
              .ui.flag.button(tabindex='0')
                i.flag.icon
                | Flag
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count 0
            .content
              .ui.comments
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user10.jpg')
                  .content
                    a.author Franklin Robinson
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | oh no homework 
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag     
                .comment
                  a.avatar
                    img(src=cdn+'/profile_pictures/user12.jpg')
                  .content
                    a.author Shika Ramphal
                    .metadata
                      span.date 1 minute ago
                      .rating
                        i.heart.icon
                        span.num 0
                        |  Likes
                    .text()
                      | looks like fun lol 🤣
                    .actions
                      a.like.comment Like
                      a.flag.comment Flag   
            include ../partials/script/components/newUserComment
    //- #####################################################
    .ui.tab(data-tab="two")
      button.ui.big.button.homeTab(data-tab='one')
        i.icon.reply
        | Go back to the timeline
      button.ui.big.button.searchTab#step4(data-tab='three')
        i.icon.search
        | Search for "Reed County tornado"
      .ui.segment
        .ui.grid        
          .row
            .column
              h2 
                | The Reed County Voice
              h1 
                span#step2 BREAKING NEWS:
                |  Tornado Warning Issued in Reed County 
              p Author: Jeremy Townsend
              p 45 minutes ago
          .row
            .six.wide.computer.six.wide.tablet.sixteen.wide.mobile.column
              img.ui.large.image.fullArticleImage(src=cdn+'/post_pictures/tornado1_orig.jpg')
            .ten.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
              p.articleText 
                span#step3 According to the National Hurricane Center (Source: 
                | nhc.noaa.gov), a tornado warning was 
                | issued for Reed County today, effective immediately. Severe 
                | wind gusts and large thunderstorms might lead to significant 
                | damage to the local community. Residents are advised to 
                | discuss emergency plans and check their tornado shelter.
              p.articleText#step3B 
                | Please stay tuned for more news to come.
      button.ui.big.button.homeTab(data-tab='one')
        i.icon.reply
        | Go back to the timeline
      button.ui.big.button.searchTab#step4(data-tab='three')
        i.icon.search
        | Search for "Reed County tornado"          
    //- #####################################################
    .ui.tab(data-tab="three")
      .ui.grid     
        .row
          .column
            button.ui.big.button.homeTab(data-tab='one')#step6
              i.icon.reply
              | Go back to the timeline
            button.ui.big.button.articleTab(data-tab='two')
              i.icon.reply
              | Go back to the article
        .row
          .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.left.floated.column#step5B  
            h2#step5 Search results for "Reed County tornado"
            
            .ui.basic.segment.removeColumnPadding 
              p.resultURL reedcountyvoice.com
              a
                h4.resultTitle 
                 | Tornado Warning Issued in Reed County - The Reed County Voice
              p.resultPublished
                | 2 hours ago
              p.resultPreviewText
                | The National Weather Service issued a tornado warning at 3 p.m. 
                | yesterday. Residents should expect large hail and very heavy 
                | downpours starting early today.

            p.resultURL reedcountyvoice.com
            a
              h4.resultTitle 
                | Local Grocery Stores Emptied after Tornado Watch - The Reed County Voice
            p.resultPublished
              | 15 hours ago
            p.resultPreviewText
              | After the tornado watch was issued, residents of Reed County 
              | rushed to stores to stock up on supplies. Many stores were 
              | emptied while others limited sales of important ...

            p.resultURL reedcountyfl.gov
            a
              h4.resultTitle 
                | Record-Breaking Roller Coaster "Tornado" Coming to Town - Reed 
                | County
            p.resultPublished
              | 4 months ago
            p.resultPreviewText
              | Five Flags in Reed County is planning to construct a new roller 
              | coaster named "Tornado Coaster." Once finished, it will be one 
              | of the tallest roller coasters in the ...

            p.resultURL weather.gov
            a
              h4.resultTitle 
                | Active Alerts - National Weather Service
            p.resultPublished
              | 1 day ago
            p.resultPreviewText
              | Tornado Watch: Take Action! A tornado has been sighted or 
              | indicated in Reed County, FL. There is imminent danger to life 
              | and property. Move to an interior room on the lowest ...
              
            p.resultURL fiveflagspark.com
            a
              h4.resultTitle 
                | "Tornado Coaster" Opening Next Year! - Five Flags Theme Park
            p.resultPublished
              | 5 months ago
            p.resultPreviewText
              | Five Flags announces construction plans for “Tornado Coaster,” a 
              | record-breaking roller coaster that is first of its kind in the 
              | country. ...
        .row
          .column
            button.ui.big.button.homeTab(data-tab='one')
              i.icon.reply
              | Go back to the timeline
            button.ui.big.button.articleTab(data-tab='two')
              i.icon.reply
              | Go back to the article

block scripts
  script(src='/postFunctionalities.js')
  script(src='/module_js/advancedlit/advancedlit_tutorial.js')
  script(src='/module_js/voiceover.js')
  script(src='/module_js/base_tutorial.js')
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')