extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.advancedlitTopic;
  
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          
          .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection1
            i.down.arrow.icon
            |   Start
          .ui.basic.segment.reflectionPromptSegment.hidden.noPadding.selectPostsQuestion1    
            .ui.label.resultsPromptLabel
              h4
                i.exclamation.triangle.icon.yellowIcon
                | There were two breaking news articles and one opinion piece 
                | about Chestin hosting the olympics. Did you notice any of them?
            h3.grayElement
              i.hand.pointer.icon
              | Click on the ones that you noticed!
            .ui.stackable.three.cards.selectablePosts
              .ui.fluid.card.dim#card1
                .content     
                  p.left.floated(href='/user/emememily')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user36.jpg')
                    span='Emily Li'
                .image
                  img.post(src=cdn+'/post_pictures/olympic1_an.png')
                .content.descriptionContent
                  .description.
                    Wow just heard that we will be hosting the olympics?!?!?
                    
              .ui.fluid.card.dim#card2
                .content        
                  p.left.floated(href='/user/ella_vaderrr')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user25.jpg')
                    span='Ella Sroni'
                .image
                  img.post(src=cdn+'/post_pictures/olympic2_an.png')
                .content.descriptionContent
                  .description.
                    Interesting article on how Chestin could host the Olympics
          
              .ui.fluid.card.dim#card3
                .content   
                  p.left.floated(href='/user/morning-tea-and-books')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user12.jpg')
                    span='Shika Ramphal'
                .image
                  img.post(src=cdn+'/post_pictures/olympic3_an.png')
                .content.descriptionContent
                  .description.
                    Woo!! Go Chestin go!!
            br
            br
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection2
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionCheckboxesPrompt(data-questionNumber='Q1')
                  | #{reflectionData.advancedlit.Q1.prompt}
              .content.checkOne
                .ui.form
                  br
                  .inline.fields
                    label(for='wouldRead', name='wouldRead') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='wouldRead', tabindex='0') 
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[0]}
                .ui.form
                  .inline.fields
                    label(for='checkSource', name='checkSource') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='checkSource', tabindex='0') 
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[1]}
                .ui.form
                  .inline.fields
                    label(for='corroboration', name='corroboration') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='corroboration', tabindex='0')
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[2]}
                .ui.form
                  .inline.fields
                    label(for='interacted', name='interacted') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='interacted', tabindex='0')
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[3]}
                .ui.form
                  .inline.fields
                    label(for='corroboration', name='wouldViewAd') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='wouldViewAd', tabindex='0') 
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[4]}
                .ui.form
                  .inline.fields
                    label(for='ignored', name='ignored') 
                    .field
                      .ui.checkbox
                        input(type='checkbox')
                        label(for='ignored', tabindex='0') 
                          | #{reflectionData.advancedlit.Q1.checkboxLabels[5]}

        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection3
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q2')
                  | #{reflectionData.advancedlit.Q2.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="literacy_responseOne")
                    
        .ui.basic.segment.noPadding.hidden.reflectionTopSegment
          .ui.raised.segment
            .ui.mini.green.right.labeled.icon.button.reflectionSegmentButton.voiceover_reflection4
              i.down.arrow.icon
              |   Next
            .ui.basic.segment.noPadding.reflectionPromptSegment.hidden 
              .ui.label.resultsPromptLabel
                h4.reflectionPrompt(data-questionNumber='Q3')
                  | #{reflectionData.advancedlit.Q3.prompt}
              .ui.form
                .inline.fields
                  label
                  textarea.glowing-border(rows='2' id="literacy_responseTwo")


    .ui.warning.message.hidden.startPromptsWarning
      .header
        | Click "Start"
    .ui.warning.message.hidden.openAllPromptsWarning
      .header
        | Click "Next"
    include ../partials/optInToShareActivityData.pug  
    br
    .ui.big.labeled.icon.button.results_print(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.labeled.icon.button.resultsContinueButton
          i.rocket.icon
          |   Continue

block scripts
  script.
    var voiceoverMappings = {
      '.voiceover_reflection1': {
        "initialDelay": 0,
        "delay": 0,
        "files": ['CUSML.9.6.1.mp3']
      },
      '.voiceover_reflection2': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.9.6.2.mp3']
      },
      '.voiceover_reflection3': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.9.6.3.mp3']
      },
      '.voiceover_reflection4': {
        "initialDelay": 500,
        "delay": 0,
        "files": ['CUSML.9.6.4.mp3']
      }
    };
  script(src='/module_js/advancedlit/advancedlit_results.js')
  script(src='/module_js/base_results.js?v=1')
  script(src='/module_js/voiceover.js')
  
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
  link(rel='stylesheet', href='/css/results.css')
  link(rel='stylesheet', href='/css/optInToShareActivityData.css')
