extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.advancedlitTopic;
  
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label.resultsPromptLabel
            h4
              i.exclamation.triangle.icon

              | These were the breaking news stories in the timeline. How many 
              | did you notice?
          br
          br
          .ui.stackable.three.cards
            .ui.fluid.card.dim
              .content      
                a.left.floated(href='/user/yrollam_htims')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user53.jpg')
                  span='Brielle Jordan'
              .image
                img.post(src=cdn+'/post_pictures/playing-piano_se.jpg')
              .content
                .description
                  | Text for article post 1 
        
            .ui.fluid.card.dim
              .content      
                a.left.floated(href='/user/kilani244')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user4.jpg')
                  span='Hayden Abbey'
              .image
                img.post(src=cdn+'/post_pictures/acoustic_se.jpg')
              .content
                .description
                  | Text for article post 2

            .ui.fluid.card.dim
              .content      
                a.left.floated(href='/user/Nick_Thomas')
                  img.ui.avatar.image(src=cdn+'/profile_pictures/user42.jpg')
                  span='Neel Talwar'
              .image
                img.post(src=cdn+'/post_pictures/friends_music_se.jpg')
              .content
                .description
                  | Text for article post 3 
          br
          br



    .ui.raised.segment
      .ui.label
        h4
          | What did you do when you saw a breaking news story?
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='wouldRead', name='wouldRead') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldRead', tabindex='0') 
                  | I checked to see if it was an opinion piece
        .ui.form
          .inline.fields
            label(for='checkSource', name='checkSource') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='checkSource', tabindex='0') 
                  | I looked at the source(s) of the information in the article
        .ui.form
          .inline.fields
            label(for='corroboration', name='corroboration') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='corroboration', tabindex='0')
                  | I checked other sources
        .ui.form
          .inline.fields
            label(for='interacted', name='interacted') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='interacted', tabindex='0')
                  | I shared the news article
        .ui.form
          .inline.fields
            label(for='corroboration', name='wouldViewAd') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldViewAd', tabindex='0') 
                  | I flagged the post
        .ui.form
          .inline.fields
            label(for='ignored', name='ignored') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='ignored', tabindex='0') 
                  | I did not do anything 


    .ui.raised.segment
      .ui.label.resultsPromptLabel
        h4
          | Why is it important to get the full story before reacting to or 
          | sharing breaking news?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="literacy_responseOne")


    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue

block scripts
  script(src='/module_js/advancedlit/advancedlit_results.js')
  
block styles
  link(rel='stylesheet', href='/css/modules/advancedlit.css')
  link(rel='stylesheet', href='/css/results.css')
