//- New Post Modal  
.ui.small.long.post.modal.newPostModal(style="margin-top:95px;")  
  i.close.icon  
  .header Add a New Post  
  .content  
    form#postform.ui.feed.form(action='/post/new', method='POST')  
      input(type='hidden', name='_csrf', value=_csrf) 
      input(type='hidden', name='module', value=mod)  
      .field  
        textarea(rows='3',placeholder='What do you want to share?',name='body')
      .ui.segment
          .three.fields
            .field
              .ui.radio.checkbox
                input#photoOne.hidden(type='radio' name='picinput' value="basketballshoes.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/basketballshoes.jpg")
            .field
              .ui.radio.checkbox
                input#photoTwo.hidden(type='radio' name='picinput' value="typewriter.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/typewriter.jpg")
            .field
              .ui.radio.checkbox
                input#photoThree.hidden(type='radio' name='picinput' value="cat.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/cat.jpg") 
          .three.fields
            .field
              .ui.radio.checkbox
                input#photoOne.hidden(type='radio' name='picinput' value="cupcakes.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/cupcakes.jpg")
            .field
              .ui.radio.checkbox
                input#photoTwo.hidden(type='radio' name='picinput' value="autumn.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/autumn.jpg")
            .field
              .ui.radio.checkbox
                input#photoThree.hidden(type='radio' name='picinput' value="Disneyland.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/Disneyland.jpg")  
          .three.fields
            .field
              .ui.radio.checkbox
                input#photoTwo.hidden(type='radio' name='picinput' value="studytime.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/studytime.jpg")
            .field
              .ui.radio.checkbox
                input#photoThree.hidden(type='radio' name='picinput' value="palm_trees.jpeg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/palm_trees.jpeg") 
            .field
              .ui.radio.checkbox
                input#photoOne.hidden(type='radio' name='picinput' value="footballseason.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/footballseason.jpg")
          .three.fields
            .field
              .ui.radio.checkbox
                input#photoFour.hidden(type='radio' name='picinput' value="Iceland.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/Iceland.jpg")
            .field
              .ui.radio.checkbox
                input#photoFive.hidden(type='radio' name='picinput' value="balloons.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/balloons.jpg")
            .field
              .ui.radio.checkbox
                input#photoSix.hidden(type='radio' name='picinput' value="beachpuppy.jpg")
                label
                    img.lazy(src='/picture.svg' data-src=cdn+"/post_pictures/beachpuppy.jpg")  
          
      .ui.error.message 
  .actions  
    input.ui.green.button(type='submit', name="foo", value='Post', form='postform')
