extends ../../module_layout

block content

    .ui.container#raised-container
        .ui.raised.segment 
            - if (quizData)
                //- p #{quizData}
                //- p #{JSON.stringify(quizData)}
                each question, key in quizData
                    .ui.segment
                        h3= question.prompt
                        .ui.form
                        each label, value in question.radioLabels
                            .grouped.fields
                            .field
                                .ui.radio.checkbox
                                input(type="radio" name=key id=`${key}_${value}` value=value)
                                label(for=`${key}_${value}`)= label

            - else
            p No quiz data available.

        //- +navButtons('/challenge/identity', '/challenge3/identity', 'Back', 'Next')  
    //- Fill progress bar to correct percent and color 
    script.
        var progress = #{user.moduleProgress.identity.percent}
    script(src='/js/setProgressBar.js')  

block append footer
  .ui.container
    +navButtons('identity', '/challenge/identity', '/challenge3/identity', 8, 'Back', 'Next')  




block scripts
    script.
        var quizData = !{JSON.stringify(quizData)}; // quizData is passed to pug file via render function in app.js
        console.log("quizData in pug challenge 2 file");
        console.log(quizData);
        //- const shuffledQuestions = shuffleArray(questions);
        //- function shuffleArray(array) {
        //-     let currentIndex = array.length, randomIndex;
        //-     while (currentIndex !== 0) {
        //-         randomIndex = Math.floor(Math.random() * currentIndex);
        //-         currentIndex--;
        //-         [array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]];
        //-     }
        //-     return array;
        //- }
        //- //- console.log("quizData")
        //- //- console.log(quizData);
        //- console.log("shuffledQuestions")
        //- console.log(shuffledQuestions);

  
block styles
    link(rel='stylesheet', href='/css/challenge.css')  

    
