extends ../ui_layout-esp
  
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  
  .computer.only.tablet.only.four.wide.column 
    .ui.sticky.sideMenu
      .ui.card
        .image
          img(src=cdn+"/post_pictures/lilyprofpic.png")
        .content
          a.header= 'Lucía Schang'
          .meta="@"+'schang_lu'
          .description="😍🤩😝😁" 
          .description 
            i.marker.icon
            span="Lima, Perú"

  
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column 
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Desplaza hacia arriba y haz clic en "Seguir" para comenzar!
        .ui.icon.compact.message.warning#removeHidden
          i.close.icon
          i.question.icon.float
          .content
            .ui.header ¿Necesitas ayuda?
            p ¡Asegúrate de hacer clic en "Listo" en los puntos azules!
          
        .ui.icon.message.warning#clickAllDotsWarning
          i.close.icon
          i.hand.pointer.icon.float
          .content
            .ui.header ¡Todavía quedan puntos azules por encontrar!
            p Haz clic en todos los puntos azules para continuar.
    
    #step1.ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content#hint1
        .right.floated.meta= "Ayer"
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img#loadingPostTwo(src=cdn+"/post_pictures/nyctrip.jpg")
      .content
        .description#hint2
          | En un viaje a Lima con mi familia😃
          span.locationtag  — En Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user71.JPG')
            .content
              a.author(href="/user/mel_williams1314") Andrea Zambrano
              .metadata
                span.date Ayer
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | wow estoy envidiosa!
              .actions
                a.like.comment Like
                a.flag.comment.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "hace 3 días"
        |
        a(href="/user/Suzieee")
          img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
          span <b> Susana Tapia</b>
      .img.post
        img(src=cdn+"/post_pictures/bowlingalley.jpg")
      .content
        .description
          | boliche con mis amigos!!
          span.locationtag  — con Valeria Morales y Lucía Schang — En Bowl-O-Drome, Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=4
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") María Teresa Hernandez
              .metadata
                span.date Hace 3 días
                .rating
                  i.heart.icon
                  span.num 0
                  |     Likes
              .text()
                | se ve divertido
              .actions
                a.like.comment Like
                a.flag.comment Marcar
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lucía Schang
              .metadata
                span.date Hace 3 días
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | vamos juntos la próxima vez!!
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon

    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace 4 días"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img#loadingPost(src=cdn+"/post_pictures/prettyflowers.png")
      .content
        .description#hint3
          | bonitas flores en mi patio
          span.locationtag  — En Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") María Teresa Hernandez
              .metadata
                span.date Hace 4 días
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | lindaaaaaa
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace 1 semana"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img(src=cdn+"/post_pictures/friendshipbracelet.png")
      .content
        .description
          | haciendo pulseras de la amistad❤️
          span.locationtag  — En Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user41.jpg')
            .content
              a.author(href="/user/emmaaaaa") Valeria Morales
              .metadata
                span.date Hace 5 días
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | yo recuerdo esto @_@
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace una semana"
        |
        a(href="/user/arihearts")
          img.ui.avatar.image(src=cdn+'/profile_pictures/user47.jpeg')
          span <b> María Teresa Hernandez</b>
      .img.post
        img(src=cdn+"/post_pictures/gingerbread.jpg")
      .content
        .description
          | Tan orgullosa de mi casa de pan de jengibre
          span.locationtag  — Con Lucía Schang — En Boynton Middle School, Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=3
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user40.jpg')
            .content
              a.author(href="/user/Suzieee") Susana Tapia
              .metadata
                span.date Hace una semana
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Esa casa
              .actions
                a.like.comment Like
                a.flag.comment Marcar
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lucía Schang
              .metadata
                span.date Hace una semana
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Jajaja
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon
            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace 2 semanas"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img(src=cdn+"/post_pictures/healthyeating.png")
      .content
        .description
          | alimentación saludable
          span.locationtag  — En Core Life Eatery, Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user7.jpg')
            .content
              a.author(href="/user/l.wakefield17") Laura Ochoa
              .metadata
                span.date Hace 2 semanas
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | ¿Estaba bueno?
              .actions
                a.like.comment Like
                a.flag.comment Marcar
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user47.jpeg')
            .content
              a.author(href="/user/arihearts") María Teresa Hernandez
              .metadata
                span.date Hace 2 semanas
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | muy saludable
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon
        
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace 2 semanas"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img(src=cdn+"/post_pictures/zoomonkey.jpg")
      .content
        .description
          | mono!
          span.locationtag  — En el Zoológico de Binghamton en Ross Park, Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon

            
    .ui.fluid.card.dim.test()
      .ui.dimmer.flag
            .content
              .center
                h2.ui.inverted.icon.header
                  i.red.flag.icon
                  |  ¡Has marcado esto!
                  h3.ui.inverted.header
                    span="Los administradores revisarán esta publicación más a fondo. Lamentamos que haya tenido esta experiencia."
      .content
        .right.floated.meta= "Hace 2 semanas"
        |
        img.ui.avatar.image(src=cdn+'/post_pictures/lilyprofpic.png')
        |   <b>Lucía Schang</b>
      .img.post
        img(src=cdn+"/post_pictures/lilypicture.png")
      .content
        .description
          | hola, soy yo
          span.locationtag  — En el Parque Stewart, Lima, Perú
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Responder
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Marcar
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=3
      
      .content
        .ui.comments
          .comment
            a.avatar.image
              img(src=cdn+'/profile_pictures/user7.jpg')
            .content
              a.author(href="/user/l.wakefield17")  Laura Ochoa
              .metadata
                span.date Hace 2 semanas
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | linda foto ^^
              .actions
                a.like.comment Like
                a.flag.comment Marcar
          .comment
            a.avatar.image
              img(src=cdn+'/post_pictures/lilyprofpic.png')
            .content
              a.author Lucía Schang
              .metadata
                span.date Hace 2 semanas
                .rating
                  i.heart.icon
                  span.num 1
                  |     Likes
              .text()
                | Graciass 🙂
              .actions
                a.like.comment Like
                a.flag.comment Marcar
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Escribe un comentario')
          i.big.send.link.icon            
            
    button.ui.big.labeled.icon.button.free1.addBottomMargin#cyberTransButton
        i.rocket.icon
        |   ¡Listo!

block scripts
  script.
    var stepsList = [
      {
        element: '#step1',
        intro: `Clic a \“Siguiente”\ para comenzar`,
        position: 'right',
        scrollTo: 'tooltip',
        audioFile: ['']
      },
      {
        element: '#step1',
        intro: `This is the social media profile page of Lily Hui, a middle school
        student.`,
        position:'right',
        scrollTo:'tooltip',
        audioFile: ['CUSML.7.8.01.mp3']
      },
      {
        element: document.querySelectorAll('#step1')[0],
        intro: `This is how Lily’s profile will look to anyone on the Internet.`,
        position:'right',
        scrollTo:'tooltip',
        audioFile: ['CUSML.7.8.02.mp3']
      },
      {
        element: document.querySelectorAll('#step1')[0],
        intro: `Take some time to look through it and see what kinds of posts she
        has on her profile!`,
        position:'right',
        scrollTo:'tooltip',
        audioFile: ['CUSML.7.8.03.mp3']
      },
      {
        element: document.querySelectorAll('#step1')[0],
        intro: `Click on "Done" and then look for the blue dots&nbsp;<a role='button' tabindex='0'
        class='introjs-hint'><div class='introjs-hint-dot'></div><div
        class='introjs-hint-pulse'></div></a> &nbsp; &nbsp; &nbsp; 
        to learn more!`,
        position:'right',
        scrollTo:'tooltip',
        audioFile: ['CUSML.7.8.04.mp3']
      }
    ];
    
    var hintsList = [
      {
        hint: `Remember, this is what Lily’s profile looks like to anyone on the
        internet. All of her posts can be seen on her profile page.`,
        element: '#hint1',
        hintPosition: 'middle-middle',
        audioFile: ['CUSML.7.8.05.mp3']
      },
      {
        hint: `Think about what you can learn about Lily! What are some of her
        hobbies? Where does she like to go? Who are her friends?`,
        element: '#hint2',
        hintPosition: 'middle-right',
        audioFile: ['CUSML.7.8.06.mp3']
      },
      {
        hint: `Lily has shared location information in her posts. Her location
        information is also available to anyone on the internet.`,
        element: '#hint3',
        hintPosition: 'middle-right',
        audioFile: ['CUSML.7.8.07.mp3']
      }
    ];

  script(src="/module_js/voiceover.js")
  script(src='/postFunctionalities.js')
  script(src="/module_js/base_sim.js")
  
block styles
  link(rel='stylesheet', href='/css/sim.css')
  link(rel='stylesheet', href='/css/modules/privacy.css')
  
