extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.esteemTopic;
  
  .ui.container.addBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label.resultsPromptLabel
            h4
              i.exclamation.triangle.icon

              | These were some posts on the timeline that could have caused a 
              | red flag feeling for Jeremy. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            if (chosenTopic == 'Sports')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/sassystar75')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user53.jpg')
                    span='Brielle Jordan'
                .image
                  img.post(src=cdn+'/post_pictures/basketball-team_se.jpg')
                .content
                  .description
                    | Wish my team wasn't always hanging out without me :( 
          
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/habbey113')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user4.jpg')
                    span='Hayden Abbey'
                .image
                  img.post(src=cdn+'/post_pictures/softball_se.jpg')
                .content
                  .description
                    | Why can't I have nice cleats like the other girls on the team?   

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/bball_guy')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user42.jpg')
                    span='Neel Talwar'
                .image
                  img.post(src=cdn+'/post_pictures/dunk_se.jpg')
                .content
                  .description
                    | Watching my teammate dunk and wishing I could be that good
                    
            if (chosenTopic == 'Gaming')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/Suzieee')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
                    span='Susan Turner'
                .image
                  img.post(src=cdn+'/post_pictures/girl-gamer_se.jpg')
                .content
                  .description
                    | Trying to figure out why no one wants to play with me😔

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/princess_lindss')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user30.jpg')
                    span='Linsday Stokes'
                .image
                  img.post(src=cdn+'/post_pictures/switch_se.jpg')
                .content
                  .description
                    | Wish I could have a new Switch like my bff 

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/asherballer')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user48.jpeg')
                    span='Asher Michaels'
                .image
                  img.post(src=cdn+'/post_pictures/nintendo_se.jpg')
                .content
                  .description
                    | I don't think I will ever beat my friends at Mario Kart  
                    
            if (chosenTopic == 'Food')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/kilani244')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user5.jpeg')
                    span='Kiki Pualani'
                .image
                  img.post(src=cdn+'/post_pictures/pizza_se.jpg')
                .content
                  .description
                    | When your friends all get pizza without you  

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/frank-the-best')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user10.jpg')
                    span='Franklin Robinson'
                .image
                  img.post(src=cdn+'/post_pictures/mixer_se.jpg')
                .content
                  .description
                    | Really wish I had one of these to use  
  
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/unicornsparkle')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/unicorn.jpg')
                    span='Maya Rein'
                .image
                  img.post(src=cdn+'/post_pictures/Pancakes_se.jpg')
                .content
                  .description
                    | My pancakes never turn out this good 🥞😔  

          br
          br



    .ui.raised.segment
      .ui.label.resultsPromptLabel
        h4
          | What could Jeremy do when he sees a post that could cause a red 
          | flag feeling?
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='wouldRead', name='wouldRead') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldRead', tabindex='0') 
                  | Reach out to other friends on social media
        .ui.form
          .inline.fields
            label(for='checkSource', name='checkSource') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='checkSource', tabindex='0') 
                  | Do an activity that he enjoys
        .ui.form
          .inline.fields
            label(for='corroboration', name='corroboration') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='corroboration', tabindex='0') 
                  | Spend time with friends and family offline
        .ui.form
          .inline.fields
            label(for='interacted', name='interacted') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='interacted', tabindex='0') 
                  | Take a break from social media
        .ui.form
          .inline.fields
            label(for='corroboration', name='wouldViewAd') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldViewAd', tabindex='0') 
                  | Do something else

    .ui.raised.segment
      .ui.label.resultsPromptLabel
        h4
          | What are some ways you can achieve media balance on social media?
      .ui.form
        .inline.fields
          label
          textarea.glowing-border(rows='2' id="literacy_responseOne")


    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue

      
block scripts
  script(src="/module_js/esteem/esteem_results.js")
  
block styles 
  link(rel='stylesheet', href='/css/modules/esteem.css')
  
