extends ../ui_layout

block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  -var chosenTopic = user.esteemTopic;
  
  .ui.container(style="margin-bottom:4em;")
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
          .ui.label(style="background-color:#2185d08a;color:#000000d1;")
            h4(style="float:left")
              i.exclamation.triangle.icon(style="color: #f9ff00 !important;")

              | These were some posts on the timeline that could have caused a 
              | red flag feeling. How many did you notice?
          br
          br
          .ui.stackable.three.cards
            
            if (chosenTopic == 'Sports')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/sassystar75')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user53.jpg')
                    span(style="vertical-align:middle;")='Brielle Jordan'
                .image
                  img.post(src=cdn+'/post_pictures/basketball-team_se.jpg')
                .content
                  .description
                    | Wish my team wasn't always hanging out without me :( 
          
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/habbey113')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user4.jpg')
                    span(style="vertical-align:middle;")='Hayden Abbey'
                .image
                  img.post(src=cdn+'/post_pictures/softball_se.jpg')
                .content
                  .description
                    | Why can't I have nice cleats like the other girls on the team?   

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/bball_guy')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user42.jpg')
                    span(style="vertical-align:middle;")='Neel Talwar'
                .image
                  img.post(src=cdn+'/post_pictures/dunk_se.jpg')
                .content
                  .description
                    | Watching my teammate dunk and wishing I could be that good
                    
            if (chosenTopic == 'Gaming')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/Suzieee')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user40.jpg')
                    span(style="vertical-align:middle;")='Susan Turner'
                .image
                  img.post(src=cdn+'/post_pictures/girl-gamer_se.jpg')
                .content
                  .description
                    | Trying to figure out why no one wants to play with me😔

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/princess_lindss')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user30.jpg')
                    span(style="vertical-align:middle;")='Linsday Stokes'
                .image
                  img.post(src=cdn+'/post_pictures/switch_se.jpg')
                .content
                  .description
                    | Wish I could have a new Switch like my bff 

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/asherballer')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user48.jpeg')
                    span(style="vertical-align:middle;")='Asher Michaels'
                .image
                  img.post(src=cdn+'/post_pictures/nintendo_se.jpg')
                .content
                  .description
                    | I don't think I will ever beat my friends at Mario Kart  
                    
            if (chosenTopic == 'Food')
              
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/kilani244')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user5.jpeg')
                    span(style="vertical-align:middle;")='Kiki Pualani'
                .image
                  img.post(src=cdn+'/post_pictures/pizza_se.jpg')
                .content
                  .description
                    | When your friends all get pizza without you  

              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/frank-the-best')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/user10.jpg')
                    span(style="vertical-align:middle;")='Franklin Robinson'
                .image
                  img.post(src=cdn+'/post_pictures/mixer_se.jpg')
                .content
                  .description
                    | Really wish I had one of these to use  
  
              .ui.fluid.card.dim
                .content      
                  a.left.floated(href='/user/unicornsparkle')
                    img.ui.avatar.image(src=cdn+'/profile_pictures/unicorn.jpg')
                    span(style="vertical-align:middle;")='Maya Rein'
                .image
                  img.post(src=cdn+'/post_pictures/Pancakes_se.jpg')
                .content
                  .description
                    | My pancakes never turn out this good 🥞😔  

          br
          br



    .ui.raised.segment
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | What did you do when you saw a post that could cause a red flag feeling?
      .content.checkOne
        .ui.form
          br
          .inline.fields
            label(for='wouldRead', name='wouldRead') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldRead', style="font-size:120%;", tabindex='0') I tried to be an active social media user.
        .ui.form
          .inline.fields
            label(for='checkSource', name='checkSource') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='checkSource', style="font-size:120%;", tabindex='0') I made a post of my own.
        .ui.form
          .inline.fields
            label(for='corroboration', name='corroboration') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='corroboration', style="font-size:120%;", tabindex='0') I commented on other people’s posts.
        .ui.form
          .inline.fields
            label(for='interacted', name='interacted') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='interacted', style="font-size:120%;", tabindex='0') I kept scrolling through the timeline.
        .ui.form
          .inline.fields
            label(for='corroboration', name='wouldViewAd') 
            .field
              .ui.checkbox
                input(type='checkbox')
                label(for='wouldViewAd', style="font-size:120%;", tabindex='0') I did not do anything.   

    .ui.raised.segment
      .ui.label(style="background-color:#2185d08a;color:#000000d1;")
        h4(style="float:left")
          | What are some things you can do when you get a red flag feeling on social media?
      .ui.form
        .inline.fields
          label(style="font-size:120%;")
          textarea.glowing-border(rows='2' id="literacy_responseOne")


    br
    .ui.big.green.labeled.icon.button(onclick="onPrint()")
          i.right.arrow.icon
          |   Print your responses
    br
    br
    .ui.big.green.labeled.icon.button.cyberbullying_end
          i.rocket.icon
          |   Continue

      
block scripts
  script(src="/module_js/esteem/esteem_results.js")
  
