
extends ../ui_layout
  
block content
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.mb-9
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        .ui.icon.compact.hidden.message.warning#clickNextHelpMessage
          i.close.icon
          i.question.icon.float
          .content
            .ui.header Need some help?
            p Scroll up and click "Next" to begin!
    .ui.fluid.card.test#step1
      .content
        .right.floated.meta= "Yesterday"
        |
        a(href='/user/triple-threat')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user14.jpg')
          span='Sarah Stella'
      .image
        img.post(src=cdn+'/post_pictures/kidbday_se.jpg')
      .content
        .description=`celebrating my younger bro's birthday! <3`
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2  
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user35.jpg')
            .content
              a.author Lucy Simms
              .metadata
                span.date 5 hours ago
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | so cute!!
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user50.jpg')
            .content
              a.author Jenny Schmidt
              .metadata
                span.date 5 hours ago
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | When was this? haha
              .actions
                a.comment.like Like
                a.comment.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.test#step2
      .content
        .right.floated.meta= "15 Minutes Ago"
        |
        a(href='/user/zachpeters06')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user67.jpg')
          span='Zach Peters'
      .image
        img.post(src=cdn+"/post_pictures/hang_se.jpg")
      .content
        .description="we hanging @ the mall"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2  
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user71.JPG')
            .content
              a.author Andrew Thomas
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | fun times
              .actions
                a.comment.like Like
                a.comment.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
            
    .ui.fluid.card.test#step3
      .content
        .right.floated.meta= "15 Minutes Ago"
        |
        a(href='/user/beachmoreworryless')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user33.jpg')
          span='Sean Gomez'
      .image
        img.post(src=cdn+"/post_pictures/maui_se.png")
      .content
        .description="maui vacay with the famðŸï¸"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user40.jpg')
            .content
              a.author Susan Turner
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | Wow so beautiful!!ðŸŒº
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user68.jpg')
            .content
              a.author Josh Radin
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | ðŸ˜Ž
              .actions
                a.comment.like Like
                a.comment.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
      
    .ui.fluid.card.test#step3B
      .content
        .right.floated.meta= "15 Minutes Ago"
        |
        a(href='/user/dannyboii')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user37.jpg')
          span='Daniel Mai'
      .image
        img.post(src=cdn+"/post_pictures/emotional_se.jpg")
      .content
        .description 
          | it really sucks that i was not invited to you know who's party. i 
          | guess i know who my real friends are now.
        
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user48.jpeg')
            .content
              a.author Asher Michaels
              .metadata
                span.date 1 minute ago
                i.heart.icon
                span.num=0
                |  Likes
              .text()
                | wow sorry to hear dude
              .actions
                a.comment.like Like
                a.comment.flag Flag
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon
                               
    .ui.fluid.card.test#step4
      .content
        .right.floated.meta= "15 Minutes Ago"
        |
        a(href='/user/kilani244')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user5.jpeg')
          span='Kiki Pualani'
      .image
        img.post(src=cdn+"/post_pictures/joy_se.jpg")
      .content
        .description="My motto"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2    
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user60.jpg')
            .content
              a.author Nina Ruiz
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | good one
              .actions
                a.comment.like Like
                a.comment.flag Flag      
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+user.profile.picture, name=user.profile.name)
          input.newcomment(type='text' placeholder='Write a Comment')
          i.big.send.link.icon  

block scripts
  script(src='/postFunctionalities.js')
  script(src="/module_js/esteem/esteem_tutorial.js")
  script(src='/module_js/voiceover.js')
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/base_tutorial.js')
