
extends ../ui_layout
  
block content
  .eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.one.column.centered.grid.feedbackMessagesGrid
      .ui.fixed.bottom.sticky
        include ../partials/messages/clickNextMessage
        include ../partials/messages/removeHiddenMessage
        include ../partials/messages/clickAllDotsMessage
    .ui.fluid.card#step1
      include ../partials/script/components/dimmerflag
      .content#hint1
        .right.floated.meta= "Yesterday"
        a(href='/user/vkemp02')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user58.jpg')
          span='Vanessa Kemp'
      .image
        img.post(src=cdn+'/post_pictures/movie_se.jpg')
      .content
        .description#hint2=`Watching FROZEN with Liam ❄️❄️☃️`
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user69.jpg')
            .content
              a.author Hannah Cohn
              .metadata
                span.date 5 hours ago
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | have fun!!
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user48.jpeg')
            .content
              a.author Asher Michaels
              .metadata
                span.date 5 hours ago
                .rating
                  i.heart.icon
                  span.num=3
                  |  Likes
              .text()
                | Hey I liked that movie
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "15 Minutes Ago"
        a(href='/user/gracieeeeee82')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user62.jpg')
          span='Grace Burns'
      .image
        img.post(src=cdn+"/post_pictures/bdance_se.jpg")
      .content
        .description="I want to dance like this some day"
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user64.jpg')
            .content
              a.author Samantha Bautista
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | cool
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card
      include ../partials/script/components/dimmerflag
      .content#hint3
        .right.floated.meta= "15 Minutes Ago"
        a(href='/user/rosie_pris')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user38.jpg')
          span='Priscilla Rose'
      .image
        img.post(src=cdn+"/post_pictures/disney_se.jpg")
      .content#hint5
        .description#hint3A
          | Guess what? My mom just told me that we're going to 
          | DISNEY this summer!! AAAAHHHH!!!!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user7.jpg')
            .content
              a.author Lauren Wakefield
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | That's so awesome!!!!
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user23.jpg')
            .content
              a.author Claire Johnson
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | Take me with u😭
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.fluid.card
      include ../partials/script/components/dimmerflag
      .content
        .right.floated.meta= "15 Minutes Ago"
        a(href='/user/thomas_the_train')
          img.ui.avatar.image(src=cdn+'/profile_pictures/user39.jpg')
          span='Thomas Rogers'
      .image
        img.post(src=cdn+"/post_pictures/rbxcube_se.jpg")
      .content
        .description#hint4
          | Just beat my record by 1.6 seconds
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          |  Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          |  Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user24.jpg')
            .content
              a.author Jenny Chen
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | Teach me how to do it too!
              .actions
                a.comment.like Like
                a.comment.flag Flag
          .comment
            a.avatar
              img(src=cdn+'/profile_pictures/user25.jpg')
            .content
              a.author Ella Sroni
              .metadata
                span.date 1 minute ago
                .rating
                  i.heart.icon
                  span.num=0
                  |  Likes
              .text()
                | that looks so hard
              .actions
                a.comment.like Like
                a.comment.flag Flag
      include ../partials/script/components/newUserComment
    .ui.message.warning.hidden#confirmContinueCheck
      .ui.header 
        | It seems you did not click on any of the posts to reflect on how Nick might feel and what he can do about it.
        br 
        br
        | Are you sure you do not want to click on a post before continuing?
    button.ui.big.labeled.icon.button.cybertrans.mb-9#cyberTransButton
      i.rocket.icon
      |   Let's Continue!
      
    - const isSim = true;
    include ../partials/script/modals/esteem_PostModals
      
block scripts
  script(src='/module_js/base_sim_extraData.js')
  script(src='/postFunctionalities.js')
  script(src="/module_js/esteem/esteem_sim.js")
  script(src="/module_js/base_sim.js")
  script(src='/module_js/voiceover.js')
  
block styles
  link(rel='stylesheet', href='/css/sim.css')